<h1><%= _("%s's communities") % profile.name %></h1>

<ul>
  <% for community in @communities %>
    <li>
      <%= link_to community.name, community.url %>
      <%= link_to _('(manage)'), community.admin_url %>
    </li>
  <% end %>
</ul>

<%= link_to _('Create a new community'), :action => 'new' %>
