<ul>
  <% if !links_submenu.empty? %>
    <div class="comment-actions">
      <li class="vcard">
        <%= link_to(content_tag(:span, _('Contents menu')), '#', :onclick => "toggleSubmenu(this,'',#{CGI::escapeHTML(links_submenu.to_json)}); return false", :class => 'menu-submenu-trigger comment-trigger', :url => url) %>
      </li>
    </div>
  <% end %>
</ul>
<div class="comments-action-bar">
  <% unless comment.spam? %>
    <%= link_to_function '',
      "var f = add_comment_reply_form(this, %s); f.find('comment_title, textarea').val(''); return false" % comment.id,
      :class => 'comment-footer comment-footer-link comment-footer-hide comment-actions-reply button',
      :id => 'comment-reply-to-' + comment.id.to_s,
      :title => _('Reply')
    %>
  <% end %>
  <% links_action_bar.collect do |link| %>
    <%= link[:link] %>
  <% end %>
</div>
