
body.noosfero {
  /*
  ** a imagem de fundo colorida é mais pesada, por isso carregamos
  ** essa cinza mais leve antes para melhorar a esperiência do usuário.
  */
  background-position: 50% 25px;
  background-repeat: repeat-x;
  background-image: url(../images/bg-top-cinza.jpg);
}

#wrap {
  background-position: 50% 22px;
  background-repeat: repeat-x;
  background-image: url(../images/bg-top-azul.png);
  border: 3px solid #2A5896;
}
body.category1 #wrap {
  border-color: #E26B00;
}
body.category2 #wrap {
  border-color: #58A80A;
}
body.category3 #wrap {
  border-color: #694371;
}
body.category4 #wrap {
  border-color: #B80000;
}

body.category1 #wrap { background-image: url("../images/bg-top-laranja.png");  }
body.category2 #wrap { background-image: url("../images/bg-top-verde.png");    }
body.category3 #wrap { background-image: url("../images/bg-top-lilas.png");    }
body.category4 #wrap { background-image: url("../images/bg-top-vermelho.png"); }

.box-3 {
  padding-top: 35px;
}

#path_category {
  position: absolute;
  top: 40px;
  left: 30px;
  font-weight: bold;
  z-index: 10;
}

a                        { color: #05B }
body.category2 a         { color: #270 }
a:visited                { color: #68C }
body.category2 a:visited { color: #8A6 }
a:hover, a:active        { color: #08F }
body.category2 a:hover   { color: #5C0 }


body.category1 #content h1, body.category1 #content h2, body.category1 #content h3,
body.category1 #content h4, body.category1 #content h5, body.category1 #content h6
 { color: #E26B00 }
body.category2 #content h1, body.category2 #content h2, body.category2 #content h3,
body.category2 #content h4, body.category2 #content h5, body.category2 #content h6
 { color: #58A80A }
body.category3 #content h1, body.category3 #content h2, body.category3 #content h3,
body.category3 #content h4, body.category3 #content h5, body.category3 #content h6
 { color: #694371 }
body.category4 #content h1, body.category4 #content h2, body.category4 #content h3,
body.category4 #content h4, body.category4 #content h5, body.category4 #content h6
 { color: #B80000 }

#content ul li {
  list-style: url(../images/list-dot.gif);
}


#lightbox{
  background: #FFF url(../images/bg-top-cinza.jpg) no-repeat 50% -15px;
}

#footer {
  background: #FFF url("../images/bg_footer.png") repeat-x;
  background-position: 0px 0px;
  margin: 0px;
  padding: 10px;
}

#footer a {
  border-bottom: 1px dotted #777;
}
#footer a:hover {
  border: 0px;
}

#footer a#footer-esq {
  background: url(../images/logo-fbes-footer.gif) no-repeat 0% 50%;
  padding: 5px 0px 5px 45px;
  float: left;
  text-align: left;
  border: none;
  opacity: 0.5;
}

#footer a#footer-dir {
  background: url(../images/logo-colivre-footer.gif) no-repeat 100% 50%;
  padding: 5px 35px 5px 0px;
  float: right;
  text-align: right;
  border: none;
  opacity: 0.5;
}

#footer a#footer-esq:hover,
#footer a#footer-dir:hover {
  opacity: 1;
}
