@import url(controller_cms.css);

.profile_info {
  border: 2px solid #3465A4;
}

.profile_info .button:hover {
  color: #FFF !important;
}

.profile_info th,
.profile_info td {
  border: 1px solid #729FCF;
}

.profile_info .header {
  background: #729FCF;
  border: 1px solid #3465A4;
}
.profile_info th {
  background: #B8CFE7;
}

div.file-manager
div.file-manager-button a:hover {
  color: #006;
  border-color: #2A5896;
  background-color: #CFDFF7;
}

div#profile-editor-index div.control-panel {
  background: #B8CFE7;
}
