/************* enterprise homepage style *****************/

.enterprise-info {
  background: #B8CFE7;
  -moz-border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
}

.msie6 .enterprise-info {
  padding: 1px 5px 0px 5px;
  margin-bottom: 20px;
}

.enterprise-info strong {
  color: #058;
}


div.event-info {
  -moz-border-radius: 20px;
  background-color: #B8CFE7;
}

li.event-dates {
  border: 1px solid #729FCF;
  -moz-border-radius: 5px;
}

div.event-info div.event-description {
  border: 1px solid #729FCF;
  -moz-border-radius: 10px;
}
