.main-block form {
  border: 2px solid #3465A4;
  padding: 10px 5px 10px 20px;
  background: #B8CFE7;
}

.activation-box {
  border: 2px solid #3465A4;
  padding: 10px 5px 10px 20px;
  background: #B8CFE7;
}

.activation-box form {
  border: 0px;
  padding: 0px 0px 0px 0px;
}

.main-block label {
  font-weight: bold;
}

.main-block small {
  color: #3465A4;
}

