
#view-category,
#search-results {
  padding: 0% 2% 10px 2%;
}

#view-category a,
#search-results a {
  text-decoration: none;
}
#view-category a:hover,
#search-results .search-results-type-comment a:hover,
#search-results .search-results-type-article a:hover,
#search-results .search-results-type-product a:hover {
  text-decoration: underline;
}

#content .search_form {
  margin: 0px;
  padding: 0% 10%;
}

body.category1 .search-options {
  border: 1px solid #E26B00;
}
body.category2 .search-options {
  border: 1px solid #58A80A;
}
body.category3 .search-options {
  border: 1px solid #694371;
}
body.category4 .search-options {
  border: 1px solid #B80000;
}

.search-results-box {
  width: 32.5%;
}
.msie .search-results-box {
  width: 31%;
}
.msie .only-one-result-box .search-results-box {
  width: 100%;
}

.search-results-box.odd {
  margin-left: 0px;
}
.msie .search-results-box.odd {
  float: left;
}

.search-results-box.col2_of3,
.search-results-box.col3_of3 {
  margin-left: 1.25%;
}

.category-innerbox,
.search-results-innerbox {
  padding: 10px 0px 10px 10px;
  overflow: auto;
  border: none;
  background: #B8CFE7;
  -moz-border-radius: 15px;
}
body.category1 .search-results-innerbox {
  background: #FDD79E;
}
body.category2 .search-results-innerbox {
  background: #C4F099;
}
body.category3 .search-results-innerbox {
  background: #D6BFD3;
}
body.category4 .search-results-innerbox {
  background: #F79494;
}

.search-results-type-product li li a {
  color: #204A87;
}

#search-results .common-profile-list-block li a {
  border: 2px solid #B8CFE7;
}
#search-results .common-profile-list-block li a:hover {
  border: 2px solid #2A5896;
  background: #CFDFF7;
}

#content .search-results-box a.see-more {
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
}

body.category1 #content .search-results-box a.see-more { background: #FDD79E; border-color: #FDD79E }
body.category1 #content .search-results-box a.see-more:hover { background: #FDD79E }
body.category2 #content .search-results-box a.see-more { background: #C4F099; border-color: #C4F099 }
body.category2 #content .search-results-box a.see-more:hover { background: #8AE234 }
body.category3 #content .search-results-box a.see-more { background: #D6BFD3; border-color: #D6BFD3 }
body.category3 #content .search-results-box a.see-more:hover { background: #AD7FA8 }
body.category4 #content .search-results-box a.see-more { background: #F79494; border-color: #F79494 }
body.category4 #content .search-results-box a.see-more:hover { background: #EF2929 }

.search-results-type-empty div {
  color: #729FCF;
}

.item_meta {
  font-size: 10px;
  padding: 0px 0px 5px 0px;
}

.search-results-type-profile.common-profile-list-block li a {
  color: #000;
}

body.category1 .search-results-type-profile.common-profile-list-block li a {
  background: #FDD79E;
}
body.category2 .search-results-type-profile.common-profile-list-block li a {
  border: 2px solid #C4F099 !important;
}
body.category2 .search-results-type-profile.common-profile-list-block li a:hover {
  border: 2px solid #61B60E !important;
  background: #D0F8A0 !important;
}
body.category3 .search-results-type-profile.common-profile-list-block li a {
  background: #D6BFD3;
}
body.category4 .search-results-type-profile.common-profile-list-block li a {
  background: #F79494;
}


#product-categories-menu a {
  text-decoration: none;
}
#product-categories-menu a:hover {
  text-decoration: underline;
}

#product-categories-menu .cat-parent {
  background-color: #E0E8F0;
  Xborder: 1px solid #729FCF;
  -moz-border-radius: 10px;
  padding: 3px 0px 3px 10px;
}

#product-categories-menu .sub-opening,
#product-categories-menu .sub-closeing {
}
#product-categories-menu .sub-opened {
  background-color: #CDE;
  Xborder: 1px solid #3465A4;
  X-moz-border-radius: 10px;
}



/* * * Category Page * * * * * * * * * * * * */

#view-category h3 {
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  padding: 20px 0px 0px 20px;
}

#most-commented h2 {
  font-size: 14px;
}

#category-recent-articles {
  width: 53%;
  float: left;
}

.category-innerbox {
  height: 170px;
}
#category-recent-articles .category-innerbox {
  height: 400px;
}

body.category1 .category-innerbox {
  background: #FDD79E;
}
body.category2 .category-innerbox {
  background: #C4F099;
}
body.category3 .category-innerbox {
  background: #D6BFD3;
}
body.category4 .category-innerbox {
  background: #F79494;
}

#content #category-recent-articles ul,
#content #category-recent-articles li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #888;
}

#category-childs {
  clear: both;
}

#category-childs ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}

#category-childs li {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 33%;
  font-size: 12px;
}

#category-childs a {
  font-weight: bold;
}


/* * * Pagination * * * * * * * * * * * */

.pagination * {
  padding: 0px 3px 2px 3px;
  -moz-border-radius: 5px;
}

.pagination a {
  text-decoration: none;
}

.pagination a:hover {
  color: #FFF;
  background: #729FCF;
}

