
#menu_link_to_envhome {
  display: block;
  padding-left: 36px;
  height: 100%;
  background: url(../images/ico-fbes-fundo-azul.gif) 0px 0% no-repeat;
  text-align: center;
  color: transparent;
  text-decoration: none;
}
body.category1 #menu_link_to_envhome { background-image: url(../images/ico-fbes-fundo-laranja.gif)  }
body.category2 #menu_link_to_envhome { background-image: url(../images/ico-fbes-fundo-verde.gif)    }
body.category3 #menu_link_to_envhome { background-image: url(../images/ico-fbes-fundo-lilas.gif)    }
body.category4 #menu_link_to_envhome { background-image: url(../images/ico-fbes-fundo-vermelho.gif) }

#noosfero_bar {
  left: 3px;
  right: 3px;
}

body.category1  #noosfero_bar { background-color: #E26B00 }
#category1       .linkSubMenu,
#category1       ul           { background-color: #F57900 }
#category1:hover .linkSubMenu,
#category1:hover ul           { background-color: #CE5C00 }

body.category2  #noosfero_bar { background-color: #58A80A }
#category2       .linkSubMenu,
#category2       ul           { background-color: #61B60E }
#category2:hover .linkSubMenu,
#category2:hover ul           { background-color: #4E9A06 }

body.category3  #noosfero_bar { background-color: #694371 }
#category3       .linkSubMenu,
#category3       ul           { background-color: #75507B }
#category3:hover .linkSubMenu,
#category3:hover ul           { background-color: #5C3566 }

body.category4  #noosfero_bar { background-color: #B80000 }
#category4       .linkSubMenu,
#category4       ul           { background-color: #CC0000 }
#category4:hover .linkSubMenu,
#category4:hover ul           { background-color: #A40000 }

body.category1 .linkSubMenu { background-image: url(../images/borda-esq-aba-laranja.gif)  }
body.category2 .linkSubMenu { background-image: url(../images/borda-esq-aba-verde.gif)    }
body.category3 .linkSubMenu { background-image: url(../images/borda-esq-aba-lilas.gif)    }
body.category4 .linkSubMenu { background-image: url(../images/borda-esq-aba-vermelho.gif) }

#category1 .menu-opened,
#category1 ul a:hover, #category1 a:active { color: #FDD79E }
#category2 .menu-opened,
#category2 ul a:hover, #category2 a:active { color: #C4F099 }
#category3 .menu-opened,
#category3 ul a:hover, #category3 a:active { color: #D6BFD3 }
#category4 .menu-opened,
#category4 ul a:hover, #category4 a:active { color: #F79494 }


/* * * Assets Menu * * * * * * * * * * * */

#assets_menu {
  overflow: hidden; /* MSIE workarround bug */
}
#assets_menu ul {
  height: 55px;
}

body.category1 #assets_menu_layout_iten { background: url(../images/top-bar/assets-menu-top-laranja.gif)   }
body.category2 #assets_menu_layout_iten { background: url(../images/top-bar/assets-menu-top-verde.gif)     }
body.category3 #assets_menu_layout_iten { background: url(../images/top-bar/assets-menu-top-lilas.gif)     }
body.category4 #assets_menu_layout_iten { background: url(../images/top-bar/assets-menu-top-vermelho.gif)  }

body.category1 #assets_menu_list { background-image: url(../images/top-bar/assets-menu-bg-laranja.gif)   }
body.category2 #assets_menu_list { background-image: url(../images/top-bar/assets-menu-bg-verde.gif)     }
body.category3 #assets_menu_list { background-image: url(../images/top-bar/assets-menu-bg-lilas.gif)     }
body.category4 #assets_menu_list { background-image: url(../images/top-bar/assets-menu-bg-vermelho.gif)  }

body.category1 #user_menu_head,
body.category1 #user_box a,
body.category1 #assets_menu a,
body.category1 .top_extra_menu a { color: #FDD79E }
body.category2 #user_menu_head,
body.category2 #user_box a,
body.category2 #assets_menu a,
body.category2 .top_extra_menu a { color: #C4F099 }
body.category3 #user_menu_head,
body.category3 #user_box a,
body.category3 #assets_menu a,
body.category3 .top_extra_menu a { color: #D6BFD3 }
body.category4 #user_menu_head,
body.category4 #user_box a,
body.category4 #assets_menu a,
body.category4 .top_extra_menu a { color: #F79494 }

body.category1 #user_box a:hover,
body.category1 .top_extra_menu a:hover { background: #F57900; color: #FFF }
body.category2 #user_box a:hover,
body.category2 .top_extra_menu a:hover { background: #61B60E; color: #FFF }
body.category3 #user_box a:hover,
body.category3 .top_extra_menu a:hover { background: #75507B; color: #FFF }
body.category4 #user_box a:hover,
body.category4 .top_extra_menu a:hover { background: #CC0000; color: #FFF }

body.category1 #user_menu_ul { background-image: url(../images/top-bar/assets-menu-bg-laranja.gif)   }
body.category2 #user_menu_ul { background-image: url(../images/top-bar/assets-menu-bg-verde.gif)     }
body.category3 #user_menu_ul { background-image: url(../images/top-bar/assets-menu-bg-lilas.gif)     }
body.category4 #user_menu_ul { background-image: url(../images/top-bar/assets-menu-bg-vermelho.gif)  }

