<h2><%= _('Processed validation request for %s ') % @processed.name %> (<%= status(@processed) %>)</h2>

<%= link_to _('Back'), :action => 'index' %>

<%= render :partial => 'details', :locals => { :request => @processed } %>

