= f.label t("fb_app_plugin.views.myprofile.catalogs.query_label")
p= t'fb_app_plugin.views.myprofile.catalogs.query_help'
= f.text_field :query, placeholder: t('fb_app_plugin.views.page_tab.query.placeholder'), class: 'form-control'

