
.article {
  position: relative;
  text-align: justify;
}

.article-tags {
  text-align: right;
  font-size: 10px;
  margin-top: -9px;
  padding-right: 15px;
}

.article-tags a {
  color: #729FCF;
  border: 1px solid #B8CFE7;
  text-decoration: none;
  padding: 0px 2px 1px 2px;
}
.article-tags a:hover {
  color: #FFF;
  border: 1px solid #3465A4;
  background: #729FCF;
}

.article-actions {
  position: absolute;
  top: -5px;
  right: 0px;
  padding-right: 15px;
}

.article-parent {
  text-align: right;
  padding-right: 15px;
}

.article-cat {
  position: relative;
  border: 1px dotted #B8CFE7;
  margin-top: 10px;
  padding: 10px;
}

#content .article-cat h3 {
  margin: 0px 0px 5px 0px;
}

/* * *  Comments  * * */

.article-comment {
  position: relative;
  border: 1px solid #B8CFE7;
  margin-bottom: 10px;
  padding: 10px;
}

.comment-from-owner {
  border: 1px solid #3465A4;
  background: #B8CFE7;
}

#content .article-comment h4 {
  font-size: 14px;
  margin: 0px;
}

.comment-picture {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 10px;
  float: left;
}
.comment-picture span {
  display: none;
}

.comment-info {
  font-size: 10px;
  color: #999;
}
.comment-from-owner .comment-info {
  color: #729FCF;
}

.comment-text {
  clear: left;
}

.comment-logged-out .comment-text {
  color: #888;
}

