.tags-block {
}
.box-2 .tags-block {
  text-align: right;
}

#content .tags-block .block-title {
  margin-bottom: 0px;
  background: url(../../images/bg-tags-top.png) 0% 0%;
  padding: 3px 0px 0px 20px;
}

.tags-block .tag_cloud {
  background: url(../../images/bg-tags.png) 0% 100%;
  padding: 0px 0px 5px 5px;
}

#content .box-2 .tags-block .block-title {
  background: url(../../images/bg-tags-top-2.png) no-repeat 100% 0%;
  padding: 3px 20px 0px 0px;
}
.box-2 .tags-block .tag_cloud {
  background: url(../../images/bg-tags-2.png) no-repeat 100% 100%;
  padding: 0px 5px 5px 0px;
}

.tags-block .tag_cloud a {
  text-decoration: none;
  padding: 0px 4px;
}

.tags-block .tag_cloud a:hover {
  color: red;
}
