<%= _('Hello %s,') % @target %>

<%= word_wrap(@message) %>

<%= word_wrap(_('Access your list of tasks or your control panel to see this and other pending actions that need your attention.')) %>
<%= @tasks_url %>

--
<%= _('%s team.') % @environment %>
<%= @url %>
