<%= _('Hello %s,') % @target %>

<%= word_wrap(@message) %>

<%= word_wrap(_('Access the address below to see this and other pending actions that need your attention:')) %>
<%= @tasks_url %>

--
<%= @environment %>
<%= @url %>
