<div style="border-bottom:1px solid #e2e2e2;padding:15px 0;width:600px">
  <table style="width:100%;">
    <tr>
      <td style="width: 11%">
        <%= profile_image(task.requestor, :minor) %>
      </td>
      <td>
        <div>
          <strong><%= link_to task.title, url_for(:controller => 'tasks', :profile => @profile.identifier, :action => 'index', :only_path => false) %></strong>
        </div>
        <div style="font-size: 14px">
          <span style="font-size: 14px">
            <%= task_information(task) %>
          </span>
          <span style="font-size: 10px; color: #929292; float: right;"><%= time_ago_as_sentence(task.created_at) %></span>
        </div>
      </td>
    </tr>
  </table>
</div>
