
#article-tags {
  text-align: right;
  font-size: 10px;
  margin-top: -9px;
  padding-right: 15px;
}

#article-tags a {
  color: #729FCF;
  border: 1px solid #B8CFE7;
  text-decoration: none;
  padding: 0px 2px 1px 2px;
}
#article-tags a:hover {
  color: #FFF;
  border: 1px solid #3465A4;
  background: #729FCF;
}

#article-parent {
  text-align: right;
  padding-right: 15px;
}

#article-cat {
  position: relative;
  border: 1px dotted #B8CFE7;
  margin-top: 10px;
  padding: 10px;
}

#content #article-cat h3 {
  margin: 0px 0px 5px 0px;
}

