<header class="navbar" id="header-navbar">
  <div class="container">
    <%= theme_site_title %>

    <div class="clearfix">
    <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>

    <%= theme_header_user_notices %>

    <%= theme_header_user_right_menu %>
    <%= theme_header_not_user_right %>
    </div>
  </div>
</header>
