<div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
  <ul class="nav navbar-nav pull-left">
    <li>
      <a class="btn" id="make-small-nav">
        <i><span class="fa fa-bars"></span></i>
      </a>
    </li>
    <li class="dropdown hidden-xs">
      <a class="btn dropdown-toggle" data-target="#" data-toggle="dropdown">
        <i class="fa fa-bell"></i>
        <span class="count">8</span>
      </a>
      <ul class="dropdown-menu notifications-list">
        <li class="pointer">
          <div class="pointer-inner">
            <div class="arrow"></div>
          </div>
        </li>
        <li class="item-header">You have 6 new notifications</li>
        <li class="item">
          <a href="#">
            <i class="fa fa-comment"></i>
            <span class="content">New comment on ‘Awesome P...</span>
            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-plus"></i>
            <span class="content">New user registration</span>
            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="content">New Message from George</span>
            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-shopping-cart"></i>
            <span class="content">New purchase</span>
            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-eye"></i>
            <span class="content">New order</span>
            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
          </a>
        </li>
        <li class="item-footer">
          <a href="#">
            View all notifications
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown hidden-xs">
      <a class="btn dropdown-toggle" data-target="#" data-toggle="dropdown">
        <i><span class="fa fa-envelope"></span></i>
        <span class="count">16</span>
      </a>
      <ul class="dropdown-menu notifications-list messages-list">
        <li class="pointer">
          <div class="pointer-inner">
            <div class="arrow"></div>
          </div>
        </li>
        <li class="item first-item">
          <a href="#">
            <img src="/designs/themes/cube-responsive-theme/images/samples/messages-photo-1.png" alt=""/>
            <span class="content">
              <span class="content-headline">
                George Clooney
              </span>
              <span class="content-text">
                Look, just because I don't be givin' no man a foot massage don't make it
                right for Marsellus to throw...
              </span>
            </span>
            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <img src="/designs/themes/cube-responsive-theme/images/samples/messages-photo-2.png" alt=""/>
            <span class="content">
              <span class="content-headline">
                Emma Watson
              </span>
              <span class="content-text">
                Look, just because I don't be givin' no man a foot massage don't make it
                right for Marsellus to throw...
              </span>
            </span>
            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <img src="/designs/themes/cube-responsive-theme/images/samples/messages-photo-3.png" alt=""/>
            <span class="content">
              <span class="content-headline">
                Robert Downey Jr.
              </span>
              <span class="content-text">
                Look, just because I don't be givin' no man a foot massage don't make it
                right for Marsellus to throw...
              </span>
            </span>
            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
          </a>
        </li>
        <li class="item-footer">
          <a href="#">
            View all messages
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown hidden-xs">
      <a class="btn dropdown-toggle" data-toggle="dropdown">
        New Item
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li class="item">
          <a href="#">
            <i class="fa fa-archive"></i>
            New Product
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-shopping-cart"></i>
            New Order
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-sitemap"></i>
            New Category
          </a>
        </li>
        <li class="item">
          <a href="#">
            <i class="fa fa-file-text"></i>
            New Page
          </a>
        </li>
      </ul>
    </li>
    <li class="dropdown hidden-xs">
      <a class="btn dropdown-toggle" data-toggle="dropdown">
        English
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li class="item">
          <a href="#">
            Spanish
          </a>
        </li>
        <li class="item">
          <a href="#">
            German
          </a>
        </li>
        <li class="item">
          <a href="#">
            Italian
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
