<ul class="nav navbar-nav pull-right">
<li>
  <a href="/account/login" class="" id="link_login" onclick="return noosfero.modal.inline('#inlineLoginBox')"><i class="icon-menu-login"></i><strong>Entrar</strong></a>
</li>
<li>
  <a href="/account/signup"><strong>Registre-se</strong></a>
</li>
</ul>
