<div class="nav-no-collapse pull-right" id="header-nav">
  <ul class="nav navbar-nav pull-right">
    <li class="mobile-search">
      <a class="btn">
        <i class="fa fa-search"></i>
      </a>

      <div class="drowdown-search">
        <form role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-search nav-search-icon"></i>
          </div>
        </form>
      </div>

    </li>
    <li class="dropdown profile-dropdown">
      <a class="dropdown-toggle" data-target="#" data-toggle="dropdown">
        <img src="/designs/themes/cube-responsive-theme/images/samples/scarlet-159.png" alt=""/>
        <span class="hidden-xs">Scarlett</span> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="user-profile.html"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
        <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
      </ul>
    </li>
    <li class="hidden-xxs">
      <a class="btn">
        <i class="fa fa-power-off"></i>
      </a>
    </li>
  </ul>
</div>
