<a href="index.html" id="logo" class="navbar-brand">
  <img src="/designs/themes/cube-responsive-theme/images/logo-noosfero-header.png" alt="" class="normal-logo logo-white"/> <span class="logo-title">Noosfero</span>
  <img src="/designs/themes/cube-responsive-theme/images/logo-black.png" alt="" class="normal-logo logo-black"/>
  <img src="/designs/themes/cube-responsive-theme/images/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden"/>
</a>
