<h1><%= _("Connections with %s") % @suggestion.suggestion.name %></h1>

<% button_bar do %>
  <%= button(:back, _('Go to groups list'), :controller => 'memberships') %>
<% end %>

<%= render :partial => 'shared/profile_connections', :locals => { :suggestion => @suggestion, :tags => @tags, :profiles => @profiles } %>
