<h1><%= _('Leaving %s') % @to_leave.name %></h1>

<p>
<%= _('Are you sure you want to leave %s?') % @to_leave.name %>
</p>

<% form_tag do %>
  <%= hidden_field_tag(:confirmation, 1) %>
  <%= submit_button(:ok, _("Yes, I want to leave.") % @to_leave.name) %>
  <%= button(:cancel, _("No, I don't want."), :action => 'index') %>
<% end %>
