<div id="remove_suggestion">
  <h1><%= _('Removing suggestion for community: %s') % @community.name %></h1>

  <%= render :partial => 'shared/remove_suggestion', :locals => { :suggestion => @community } %>
</div>
