<%# FIXME  %>
<p>
This page will list everything (articles, documents, photos, etc) that is
related to <%= @category.full_name %>. Actually generating this content is not
implement yet, though.
</p>

<p>
And yes, this placeholder text is not translated.
</p>
