<%= @category.ancestors.reverse.map { |a| link_to_category(a) }.join(' → ') %>

<h2><%= _('Category: %s') % @category.name %></h2>

<%= render :partial => @category.class.name.underscore %>

<% if @category.children.empty? %>
  <strong><%= _('No children categories') %></strong>
<% else %>
<h4> <%= _('Children categories:')  %> </h4>
  <ul>
    <% @category.children.each do |c| %>
      <li> <%= link_to_category(c) %> </li>
    <% end %>
  </ul>
<% end %>
