<h2><%= _('Category: %s') % @category.full_name %></h2>

<%# FIXME  %>
<p>
This page will list everything (articles, documents, photos, etc) that is
related to <%= @category.full_name %>. Actually generating this content is not
implement yet, though.
</p>
