<% @form = CustomFormsPlugin::Form.find(task.form_id) %>
<% @submission = CustomFormsPlugin::Submission.new(:form_id => @form.id, :profile_id => user.id) %>

<h2><%= @form.name %></h2>
<p><%= @form.description %></p>
<% if @form.expired? %>
  <h3><%= _('Sorry, you can\'t fill this form right now') %></h3>
<% end %>

<% f.fields_for :submission do |fi| %>
  <%= render :partial => 'shared/form_submission', :locals => {:f => fi} %>
<% end %>
