.boxes {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boxes .box-1 {
  width: 60%;
  order: 3;
}

.boxes .box-3 {
  order: 1;
  width: 86%;
}

.boxes .box-2 {
  order: 2;
  width: 22%;
  margin-right: 4%;
}

@media only screen and (max-width: 600px) {
  .boxes {
    flex-direction: column;
  }
  .boxes .box-1,
  .boxes .box-2,
  .boxes .box-3 {
    margin: auto;
    width: 90%;·
  }
}
