
body.noosfero a.button,
body.noosfero a.button:visited,
input.button {
  border: 1px solid #EDA;
  color: black;
  /* -moz-border-radius-topright: 7px; */
}

body.noosfero a.button.with-text,
body.noosfero a.button.with-text:visited,
input.button.with-text {
  border: 1px solid #DA6;
  background-color: #FEA;
}

body.noosfero a.button:hover,
input.button:hover,
body.noosfero a.button.with-text:hover,
input.button.with-text:hover {
  border: 1px solid #950;
  background-color: #FB4;
  color: #000;
}

