
body {
  background: #9CA09A;
}

#wrap {
  background: #FFF url(../images/bg-top.png) 0px 34px repeat-x;
}
#wrap2 {
  background: url(../images/logo-bg.gif) 0px 34px no-repeat;
}
#wrap3 {
  background: url(../images/bg-down.png) 0% 100% repeat-x;
}

#lightbox{
  background: #FFF url(../images/bg-top.png) repeat-x;
}

/* * * Content * * * * * * * * * * * * * * * * * * * */

#content {
  padding: 0px 0px 15px 0px;
}

#content h1, #content h2, #content h3,
#content h4, #content h5, #content h6 {
  margin: 10px 0px;
  color: #A40000;
}

a {
  color: #ce5c00;
}
a:visited {
  color: #ab835c;
}
a:hover {
  color: #EA0;
}

hr {
  border: none;
  border-top: 2px dotted #CE5C00;
}

ul li {
  list-style: url(../images/list-dot.gif);
}

/* * * Footer * * * * * * * * * * * * * * * * * * * */

#footer {
  background: url("../images/bg-footer.gif") repeat-x;
  height: 55px;
  max-height: 35px;
  margin: 0px;
  padding: 10px;
  color: #FFF;
}
#footer a {
  color: #FFF;
}
#footer a:hover {
  color: #FFF;
}

#footer div a {
  border-bottom: 1px dotted #FFF;
}
#footer div a:hover {
  border-bottom: 1px solid #FFF;
}

#footer-esq,
#footer-dir,
#footer div {
  opacity: 0.4;
	filter: alpha(opacity=40);
}

#footer-esq {
  float: left;
  text-align: left;
  background: url(../images/logo-ynternet-footer.gif) no-repeat 0% 50%;
  padding: 6px 0px 10px 45px;
}
#footer-dir {
  float: right;
  text-align: right;
  background: url(../images/logo-loterie-footer.gif) no-repeat 100% 50%;
  padding: 6px 45px 10px 0px;
}

#footer-esq:hover,
#footer-dir:hover {
  opacity: 0.7;
	filter: alpha(opacity=70);
}
