#memberships-index li {
  background-color: #FFE890;
}

#memberships-index li .vcard a.profile_link.url {
  border-color: transparent;
  background-color: transparent;
}

#memberships-index li .vcard a.profile_link.url:hover {
  background-color: #FCAF3E;
  border-color: #CE5C00;
}
