.categorie_box {
  -moz-border-radius: 4px;
  border: 1px solid #F57900;
  margin-bottom: 2px;
  padding: 2px 0px;
}

#content .categorie_box h5 {
  margin: 0px;
  padding: 0px;
  line-height: 22px;
}

#content ul.categories {
  padding: 5px 4px 3px 4px;
}

ul.categories li {
  -moz-border-radius: 9px;
  border-bottom: 1px solid #FFF;
}

ul.categories li.cat_checked {
  background: #F57900;
  border-bottom: 1px solid #CE5C00;
}

.file-manager
.file-manager-button a:hover {
  background: #FCAF3E !important;
  color: #000 !important;
  border-color: #CE5C00;
}

#profile-editor-index .control-panel {
}

#profile-editor-index .file-manager {
  background: #FFE890;
  padding: 0px 0px 0px 10px;
  border: 2px solid #CE5C00;
}
.msie6 #profile-editor-index .file-manager div {
  position: relative;
}

.button-bar {
  margin-bottom: 5px;
}

