
#view-category,
#search-results {
  padding: 0% 2% 10px 2%;
}

#view-category a,
#search-results a {
  text-decoration: none;
}
#view-category a:hover,
#search-results .search-results-type-comment a:hover,
#search-results .search-results-type-article a:hover,
#search-results .search-results-type-product a:hover {
  text-decoration: underline;
}

#content .search_form {
  margin: 0px;
  padding: 0% 10%;
}

.search-options {
  border: 1px solid #E26B00;
}

/*
.search-results-box {
  Xwidth: 32.5%;
}

.search-results-box.odd {
  Xmargin-left: 0px;
}

.search-results-box.col2_of3,
.search-results-box.col3_of3 {
  Xmargin-left: 1.25%;
}
*/

.category-innerbox,
.search-results-innerbox {
  padding: 10px 0px 10px 10px;
  overflow: auto;
  border: none;
  background: #FD8;
  -moz-border-radius: 15px;
}

.search-results-type-product li li a {
  color: #000;
}

#search-results .common-profile-list-block li a {
  border: 2px solid #FD8;
}
#search-results .common-profile-list-block li a:hover {
  border: 2px solid #C00;
  background: #fcaf3e;
  color: #FFF;
}

.search-results-type-empty div {
  color: #FEB;
}

.item_meta {
  font-size: 10px;
  padding: 0px 0px 5px 0px;
}

.search-results-type-profile.common-profile-list-block a {
  width: 90px;
}
.search-results-type-profile.common-profile-list-block li div {
  width: 88px;
  height: 64px;
}
.search-results-type-profile.common-profile-list-block li span {
  display: block;
  width: 82px;
}

.search-results-type-profile.common-profile-list-block li a {
  color: #000;
}

body.category1 .search-results-type-profile.common-profile-list-block li a {
  background: #FDD79E;
}
body.category2 .search-results-type-profile.common-profile-list-block li a {
  border: 2px solid #C4F099 !important;
}
body.category2 .search-results-type-profile.common-profile-list-block li a:hover {
  border: 2px solid #61B60E !important;
  background: #D0F8A0 !important;
}
body.category3 .search-results-type-profile.common-profile-list-block li a {
  background: #D6BFD3;
}
body.category4 .search-results-type-profile.common-profile-list-block li a {
  background: #F79494;
}

/* * * Category Page * * * * * * * * * * * * */

#view-category h3 {
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  padding: 20px 0px 0px 20px;
}

#most-commented h2 {
  font-size: 14px;
}

#category-recent-articles {
  width: 53%;
  float: left;
}

.category-innerbox {
  height: 170px;
}
#category-recent-articles .category-innerbox {
  height: 400px;
}

body.category1 .category-innerbox {
  background: #FDD79E;
}
body.category2 .category-innerbox {
  background: #C4F099;
}
body.category3 .category-innerbox {
  background: #D6BFD3;
}
body.category4 .category-innerbox {
  background: #F79494;
}

#content #category-recent-articles ul,
#content #category-recent-articles li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #888;
}

#category-childs {
  clear: both;
}

#category-childs ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}

#category-childs li {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 33%;
  font-size: 12px;
}

#category-childs a {
  font-weight: bold;
}

