
/* * * List Products * * * * * * * * * * * * */

#content #product_list li {
  list-style-image: none;
}

#content #product_list li.product {
  border: none;
  background: #FFE890;
  -moz-border-radius: 15px;
}

/* * * Show Product * * * * * * * * * * * * */

#show_product .product-pic {
  border: 1px solid #930;
}

