/************* enterprise homepage style *****************/

.enterprise-info {
  background: #FEA;
  border: 2px solid #fcaf3e;
  padding: 5px;
  margin-bottom: 10px;
}

.msie6 .enterprise-info {
  padding: 1px 5px 0px 5px;
  margin-bottom: 20px;
}

div.event-info {
  background: #FEA;
  border: 2px solid #fcaf3e;
}

li.event-dates {
  border: 1px solid #fcaf3e;
}

div.event-info div.event-description {
  border: 1px solid #fcaf3e;
}
