
#noosfero_bar {
  height: 34px;
  z-index: 100;
  font-size: 12px;
  letter-spacing: -1px;
  background: #F57900 url(../images/menu-bg.png) 0% 100% repeat-x;
}

#menu_link_to_envhome {
  display: block;
  width: 80px;
  height: 33px;
  background: url(../images/menu-logo.png) 0% 100% no-repeat;
}

#menu_link_to_envhome span {
  display: none;
}

#cat_menu li {
  display: none;
}


/* * * Menu Search Box * * * * * * * * * * * */

#simple-search {
  margin: 0px;
  padding: 5px 0px 0px 0px;
}

#simple-search input {
  width: 100px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #A40000;
  background: #F57900 url(../images/search.gif) 1px 90% no-repeat;
  color: #000;
  text-align: center;
	color: #400;
}
.msie #simple-search input {
  line-height: 18px;
}

#simple-search.focus-in input {
  opacity: 1;
	filter: alpha(opacity=100);
  background: #FFF url(../images/search-light.gif) 1px 90% no-repeat;
}

#simple-search.focus-out input {
  opacity: 0.4;
	filter: alpha(opacity=40);
}


/* * * User Menu * * * * * * * * * * * */

#user_menu {
  top: 4px;
  right: 350px;
  width: 150px;
  overflow: hidden;
  padding: 2px 0px;
  border: 1px solid transparent;
}
.msie6 #user_menu {
  border: none; /* 1px solid #CE4000; */
  border-top: 1px solid #EA6800;
  border-bottom: 1px solid #B11400;
}
#user_menu.opened {
  border: 1px solid #A40000;
  background: #F57900;
}

#user_menu_head {
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  padding-left: 4px;
}

#user_menu_head img {
  margin-left: -20px;
}
.msie #user_menu_head img {
  margin-left: 5px;
}

#user_menu_head span {
  color: #FFF;
  opacity: 0.6;
	filter: alpha(opacity=60);
}
.msie #user_menu_head span {
  margin-left: 24px;
}

#user_menu a {
  color: #FFF;
  padding-top: 3px;
  padding-bottom: 1px;
}
#user_menu a:hover {
  background: #FCAF3E;
}
#user_menu a span {
  top: 2px;
  left: 2px;
}

#user_menu img {
  top: -2px;
}

#user_menu_ul {
  position: relative;
  top: 3px;
  left: 0px;
  background: transparent;
  border: none;
}

#user_box a#link_login {
  letter-spacing: 0px;
  opacity: 0.6;
	filter: alpha(opacity=60);
}
#user_box a#link_login:hover {
  opacity: 1;
	filter: alpha(opacity=100);
}
#link_login .icon-menu-login {
  margin-left: -3px;
}

.action_home_index #user_box #link_login {
  display: none; /* do not show this link in the fist page */
}

/* * * Assets Menu * * * * * * * * * * * */

#assets_menu {
  position: absolute;
  top: 6px;
  right: 160px;
  padding: 0px;
}
.msie #assets_menu {
  margin-right: 90px;
}

#assets_menu_layout_iten {
  display: none;
}

#assets_menu_list {
  padding: 0px;
  background: transparent;
}

#assets_menu ul {
  height: auto;
  max-width: none;
  width: auto;
  overflow: visible;
}
#assets_menu li {
  margin: 0px;
  padding: 0px 4px;
  float: left;
}

#assets_menu a {
  letter-spacing: 0px;
  color: #FFF;
  position: relative;
  overflow: visible;
  opacity: 0.6;
	filter: alpha(opacity=60);
}
.msie #assets_menu a {
  width: 100px;
  height: 20px;
  margin-left: -80px;
}
#assets_menu a:hover {
  background: transparent;
  opacity: 1;
	filter: alpha(opacity=100);
}
.msie #assets_menu a:hover {
  height: 40px;
}

#assets_menu a strong {
  position: absolute;
  top: 20px;
  left: -10px;
  background: #F57900;
  border: 1px solid #A40000;
  padding: 1px 4px;
  display: none;
}
.msie #assets_menu a strong {
  left: 0px;
}

.msie #assets_menu a span {
  left: 10px;
}

#assets_menu a:hover strong {
  display: block;
  -moz-border-radius: 4px;
}

