Antonio Terceiro <AntonioTerceiro@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Antonio Terceiro <terceiro@softwarelivre.org>
Aurelio A. Heckert <AurelioAHeckert@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Daniela Feitosa <DanielaFeitosa@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Daniela Feitosa <danielafeitosa@colivre.coop.br>
Daniela Feitosa <daniela@sede.colivre.coop.br>
Joenio Costa <JoenioCosta@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Joenio Costa <joenio@perl.org.br>
Grazieno Pellegrino <GrazienoPellegrino@@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Leandro Nunes dos Santos <LeandroNunes@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Moises Machado <MoisesMachado@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Valessio S Brito <ValessioBrito@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Valessio S Brito <valessio@rohit.colivre.coop.br>
