Antonio Terceiro <terceiro@colivre.coop.br> <AntonioTerceiro@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Antonio Terceiro <terceiro@colivre.coop.br> <terceiro@softwarelivre.org>
Aurelio A. Heckert <aurelio@colivre.coop.br> <AurelioAHeckert@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Aurelio A. Heckert <aurelio@colivre.coop.br> <aurelio@colivre.coop.br>
Aurelio A. Heckert <aurelio@colivre.coop.br> <aurium@gmail.com>
Caio SBA <caiosba@gmail.com> <caiosba@safernet.org.br>
Daniela Soares Feitosa <danielafeitosa@colivre.coop.br> <DanielaFeitosa@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Daniela Soares Feitosa <danielafeitosa@colivre.coop.br> <danielafeitosa@colivre.coop.br>
Daniela Soares Feitosa <danielafeitosa@colivre.coop.br> <daniela@sede.colivre.coop.br>
Daniela Soares Feitosa <danielafeitosa@colivre.coop.br> <dani@lindinha.(none)>
Daniel Cunha <daniel@colivre.coop.br> <daniel.ccunha@gmail.com>
Grazieno Pellegrino <grazieno@gmail.com> <GrazienoPellegrino@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Joenio Costa <joenio@colivre.coop.br> <JoenioCosta@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Joenio Costa <joenio@colivre.coop.br> <joenio@perl.org.br>
Leandro Nunes dos Santos <leandronunes@gmail.com> <LeandroNunes@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Moises Machado <moises@colivre.coop.br> <MoisesMachado@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Valessio Brito <valessio@gmail.com> <ValessioBrito@3f533792-8f58-4932-b0fe-aaf55b0a4547>
Valessio Brito <valessio@gmail.com> <valessio@rohit.colivre.coop.br>
