.gitignore
vendor/rails
doc/api
doc/plugins
tmp
config/database.yml
config/session.secret
config/noosfero.yml
config/ferret_server.yml
config/mongrel_cluster.yml
config/plugins
index
locale
log
public/articles
public/image_uploads
public/thumbnails
public/user_themes
public/designs/themes/default
public/designs/icons/default
public/javascripts/cache*.js
public/stylesheets/cache*.css
public/plugins
db/development.db
db/production.db
db/test.db
doc/noosfero/*.xhtml
doc/noosfero/*/*.xhtml
tags
pkg
*~
*.swp
