
.forum-posts .pagination {
  margin-top: 20px;
}

#topic-creation-slider{
  margin-top: 15px;
}

#topic-creation-slider .ui-slider-range {
  background: #73D216;
}

#topic-creation-slider label {
  left: 20px;
  position: absolute;
  width: 200px;
}
