
#content .task-list li {
  margin: 10px 20px 10px 10px;
  padding: 0px 10px;
  list-style: none;
  border: 1px solid #3465A4;
  background: #B8CFE7;
}

.task-AddFriend h2 {
  text-align: center;
}

.task-AddFriend img {
  position: relative; /* msie sux */
  float: left;
  margin-right: 10px;
}

.task-AddFriend form {
  margin: 5px 0px;
}

.friend-classify-suggestions {
  font-size: 10px;
}

.task-AddFriend .submit {
  position: relative;
  top: -5px;
  float: right;
}
.msie .task-AddFriend .submit {
  top: -10px;
}

