<div class="profile-description-block fn">
  <h3 class="block-title">
    <%= block.title.capitalize %>
  </h3>

  <div class="profile-description-block-title">
    <% if block.owner.description.blank? %>
      Description field is empty or not enabled on environment.
    <% else %>
     <%= block.owner.description %>
    <% end %>
  </div>
</div>
