<h1><%= _('Comments classification options')%></h1>

<ul>
  <li><%= link_to _('Manage Labels'), :controller => 'comment_classification_plugin_labels' %></li>
  <li><%= link_to _('Manage Status'), :controller => 'comment_classification_plugin_status' %></li>
</ul>
