<% if params[:type] != 'enterprise' %>
  <%= render :partial => 'sub_organizations_plugin_profile/related_organizations', :locals => {:organizations => @organizations.communities, :organization_type => 'community'} %>
<% end %>

<% if params[:type] != 'community' %>
  <%= render :partial => 'sub_organizations_plugin_profile/related_organizations', :locals => {:organizations => @organizations.enterprises, :organization_type => 'enterprise'} %>
<% end %>
