<div id='edit-feed-reader-block'>
  <%= labelled_form_field _('Address'), text_field(:block, :address, :size => 40) %>
  <%= labelled_form_field _('Limit of posts to display'), select(:block, :limit, [5, 10, 20, 50]) %>
</div>
