<div class='link-list-icon <%= key %>' onclick="hideOthersIconSelector(this); showIconSelector(this)">
  <%= hidden_field_tag 'block[links][][icon]', key %>
  <span><%= font_awesome(@block.get_icon key) %></span>
  <div class="icon-selector" style='display:none;'>
    <% @block.icons.each do |key, value| %>
            <%= content_tag('span', font_awesome(value[:icon]),
                            :title => value[:title],
                            :class => key,
                            :onclick => "changeIcon(this, '#{key}', '#{value[:icon]}')") %>
    <% end %>
  </div>
</div>
