<div id='edit-profile-list-block'>
  <%= labelled_form_field _('Limit of items'), text_field(:block, :limit, :size => 3) %>
  <%= check_box(:block, :prioritize_profiles_with_image) %>
  <label for="block_prioritize_profiles_with_image"><%= _('Prioritize profiles with image') %></label>

  <div>
    <%= extra_option_checkbox(@block.extra_option) %>
  </div>
</div>