<h2><%= _('Editing block') %></h2>

<% form_tag(:action => 'save', :id => @block.id) do %>

  <%= labelled_form_field(_('Custom title for this block: '), text_field(:block, :title, :maxlength => 20)) %>

  <%= render :partial => partial_for_class(@block.class) %>

  <% button_bar do %>
    <%= submit_button(:save, _('Save')) %>
    <%= lightbox_close_button(_('Cancel')) %>
  <% end %>

<% end %>
