<h1><%= _('Organizing visual design')%></h1>

<% button_bar do %>
  <%= lightbox_button('add', _('Add a block'), { :action => 'add_block' }) %>
  <%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>
<% end %>
