<div class="search-article-tags">
    <span class="search-field-label"><%= _('Tags') %></span>
  <span class="search-article-tags-container">
    <% article_tags.each do |tag| %>
      <%= link_to_tag tag, :class => "search-article-tag" %>
    <% end %>
    <span class="search-field-none"><%= _('None') if article_tags.empty? %></span>
  </span>
</div>
