<% article = article_profile %>

<div class="search-article-profile search-article-profile-name">
  <span class="search-field-label"><%= _("Profile") %></span>
  <%= link_to_profile article.profile.name, article.profile.identifier %>
</div>
