<div>
  <%= icon('cms') %>
  <div class='search-result-text'>
    <div>
      <strong>
        <%= link_to_document(hit) %>
      </strong>
    </div>
    <div>
      <%= strip_tags(hit.abstract) %>
    </div>
  </div>
</div>

