<% article = article_author %>

<div class="search-article-author search-article-author-name">
  <span class="search-field-label"><%= _("Author") %></span>
  <% if article.author.present? %>
    <%= link_to_profile article.author.name, article.author.identifier %>
  <% else %>
    <span><%= article.author_name %></span>
  <% end %>
</div>
