<% article = article_common %>

<%= render :partial => 'article_author', :object => article %>
<%= render :partial => 'article_description', :object => article %>
<%= render :partial => 'article_tags', :object => article.tags %>
<%= render :partial => 'article_categories', :object => article.categories %>
<%= render :partial => 'article_last_change', :object => article %>
