<% article = article_description %>

<tr class="search-article-description">
  <td class="search-field-label"><%= _("Description") %></td>

  <% if !article.body.blank? %>
    <% description = strip_tags(article.body.to_s) %>
    <% description.gsub!(/\s{2,}/, ' ') %>
    <% description = excerpt(description, description.first(3), 200) %>

    <td class="search-article-body"><%= description %></td>
  <% else %>
    <td class="search-field-none"><%= _('None') %></td>
  <% end %>
</tr>
