<div class="search-article-tags">
  <div class="search-field-label"><%= _('Tags') %></div>
  <span class="search-article-tags-container <%= "search-field-none" if article_tags.empty? %>">
    <% article_tags.each do |tag| %>
      <%= link_to_tag tag, class: "search-article-tag" %>
    <% end %>
    <%= _('None') if article_tags.empty? %>
  </span>
</div>
