<% article = article_author %>

<div class="search-article-author search-article-author-name">
  <span class="search-field-label"><%= _("Author") %>: </span>
  <%= link_to_profile article.profile.name, article.profile.identifier %>
</div>
