<% article = article_last_change %>

<div class="search-article-author-changes">
  <% if article.last_changed_by && article.last_changed_by != article.profile %>
    <span><%= _('by %s') % link_to(article.last_changed_by.name, article.last_changed_by.url) %>&nbsp<%= _(' at %s.') % show_date(article.updated_at) %></span>
  <% else %>
    <span><%= _('Last update: %s.') % show_date(article.updated_at) %></span>
  <% end %>
</div>
