<% filter_label = profile.send(@order + '_label') %>
<% filter_label += show_date(profile.created_at) if @order == 'more_recent' %>
<li class="search-profile-item">
  <%= profile_image_link profile, :portrait, 'div', filter_label %>
</li>
