<li>
  <%= image_tag 'icons-mime/event.png', :style => 'float: left' %>
  <strong><%= link_to(event.title, event.url) %></strong>
  <div class="item_meta">
    <%= show_period(event.start_date, event.end_date) %>
  </div>
</li>
