
<div class="facets-applied">
  <% if params[:facet] and params[:facet].count > 0 %>
    <span class="appliedFilters"><%= _("Applied filters") %> </span>
    <% params[:facet].each do |facet_id, name| %>
      <%= link_to(name, params.merge(:facet => params[:facet].reject {|k,v| k == facet_id}), :class => 'facet-selected') %>
    <% end %>
  <% end %>
</div>
