<li class="search-gallery article-item">
  <div class="search-content-first-column">
    <%= render partial: 'image', object: gallery %>
  </div>

  <div class="noborder search-content-second-column">
    <h2>
      <%= link_to gallery.title, gallery.view_url, class: 'search-result-title' %>
    </h2>
    <%= render partial: 'article_last_change', object: gallery %>

    <%= render partial: 'article_common', object: gallery %>
  </div>
</li>

