<%# FIXME add photo if available %>
<%# FIXME add more information %>

<div>
  <%= icon('person') %>
  <div class='search-result-text'>
    <strong>
      <%= link_to_homepage(hit.name, hit.identifier) %>
    </strong>
  </div>
</div>
