<div id='search-content'>
  <div class='total'>
    <%= n_('Total of 1 result', 'Total of %s results', @searches[@asset][:results].total_entries) % @searches[@asset][:results].total_entries.inspect %>
  </div>

<%= display_results(@searches, @asset) %>
<% if params[:display] != 'map' %>
  <%= pagination_links @searches[@asset][:results] %>
<% end %>
</div>
