<% if !@cities.empty? %>
  <% @cities.each do |city| %>
    <option value=<%= city.id.to_s.inspect %>><%= city.name %></option>
  <% end %>
<% else %>
  <option value=''><%= _('No City') %></option>
<% end%>
