<h2><%= _('Search %s') % @environment.name %></h2>

<% form_tag(:action => 'index') do%>

  <div id='search-field' style='text-align: center;'>
    <%= text_field_tag('query', '', :size => 50) %>
    <%= submit_button(:search, _('Search')) %>
  </div>

  <h3><%= _('Search options') %></h3>


  <% button_bar do %>
    <%= submit_button(:search, _('Search')) %>
    <%= lightbox_close_button(_('Close')) %>
  <% end %>

<% end %>

<script type='text/javascript'>
  $('query').focus();
</script>
