<div id="people_block_plugin">

    <p>
      <span>Limit</span>
      <br />
      <%= text_field_tag 'block[limit]', @block.limit, :maxlength => 2 %>
    </p>

    <p>
      <span>Name</span>
      <br />
      <%= text_field_tag 'block[name]', @block.name %>
    </p>

    <p>
      <span>Address</span>
      <br />
      <%= text_field_tag 'block[address]', @block.address %>
    </p>

</div>
