<% if task.custom_values.present? %>
  <div class='task-community-custom-fields'>
    <b><%= _('Community Informations') %></b>
    <% task.custom_values.each_pair do |name, value| %>
      <% custom_field = CustomField.where(:name =>name, :environment => task.environment).first%>
      <% if custom_field.moderation_task %>
        <div class="task-community-field">
          <span class='field'><%= name %>: </span>
          <span class='value'><%= display_value_for_custom_field(custom_field, value['value']) %></span>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

