<ul class="profile-list">
  <% profiles.each do |profile| %>
    <li>
      <%= link_to_profile profile_image(profile) + profile.short_name,
                          profile.identifier, class: 'profile-link' %>
      <div class="controll">
        <%= link_to font_awesome(:envelope),
                    profile.url.merge(controller: 'contact', action: 'new', profile: profile.identifier),
                    title: _('contact') %>

        <%= link_to font_awesome("user-times"),
                    { action: 'remove', id: profile.id },
                    title: _('remove') %>
      </div>
    </li>
  <% end %>
</ul>
