<h1><%= _("%s's friends") % profile.name %></h1>

<ul class='profile-list'>
<% @friends.each do |friend| %>
  <li>
  <%= profile_image_link(friend)%>
  <br/>
  <%= link_to '(remove)', :action => 'remove', :id => friend.id %>
  </li>
<% end %>
</ul>

<% if @friends.empty? %>
<p>
<em>
  <%= _('You have no friends yet. Go make some.') %>
</em>
</p>
<% end %>


<% button_bar do %>
  <%= button(:back, _('Go back'), :controller => 'profile_editor') %>
<% end %>
