<%= error_messages_for 'enterprise' %>

<h2><%= _('Edit enterprise informations') %></h2>

<% form_tag :action => 'update', :id => @enterprise do %>
  <%= render :partial => 'form' %>
  <% button_bar do %>
    <%= submit_button('save', _('Update'), :cancel => {:action => 'index'}) %>
  <% end %>
<% end %>
