<%= required_fields_message %>

<%= required f.text_field('name', :size => '64') %>
<%= labelled_form_field(_('Folder type'), f.select(:view_as, Folder.select_views)) %>

<%= labelled_form_field(_('Description:'), text_area(:article, :body, :rows => 3, :cols => 64)) %>
