<%= error_messages_for 'forum' %>

<h1><%= _('My Forum') %></h1>

<%= render :file => 'shared/tiny_mce' %>

<%= required f.text_field(:name, :size => '64', :onchange => "updateUrlField(this, 'article_slug')") %>

<%= labelled_form_field(_('Description:'), text_area(:article, :body, :cols => 64, :rows => 10)) %>

<%= labelled_form_field(_('Posts per page:'), f.select(:posts_per_page, [5, 10, 20, 50, 100])) %>
