<div id='media-listing-folder-images' >
  <ul>
    <% images.each do |image| %>
      <li><%= image_tag image.public_filename %></li>
    <% end %>
  </ul>
  <div id='pagination-images'>
    <%= pagination_links images, :param_name => 'ipage', :params => {:image_folder_id => params[:image_folder_id]} %>
  </div>
</div>
