<iframe id='media-listing-iframe' src="<%= url_for(:controller => 'cms', :action => 'media_listing', :profile => profile.identifier, :type => @type) %>">
  <p><%= _('Your browser does not support iframes.') %></p>
</iframe>
