<%= required_fields_message %>

<%# TODO add Textile help here %>

<%= required labelled_form_field(_('Title'), text_field(:article, 'name', :size => '64')) %>

<%= labelled_form_field(_('Text'), text_area(:article, 'body', :cols => 64)) %>

