<%= required_fields_message %>

<%= render :file => 'shared/tiny_mce' %>

<%= required labelled_form_field(_('Title'), text_field(:article, 'name', :size => '64')) %>

<%= labelled_form_field(_('Text'), text_area(:article, 'body', :cols => 40, :style => 'width:99%')) %>

