<p>
  <%= _('Choose the type of article:') %>
</p>

<ul>
  <% for type in @article_types %>
    <li>
    <%= link_to type[:short_description], :action => 'new', :type => type[:name] %>
    <p><%= type[:description] %></p>
    </li>
  <% end %>
</ul>
