<h2> <%= _('Choose the type of article:') %> </h2>

<ul id="article_types">
  <% for type in @article_types %>
    <li>
    <%= link_to type[:short_description], :action => 'new', :type => type[:name], :parent_id => @parent_id %>
    <br/> <%= type[:description] %>
    </li>
  <% end %>
</ul>

<%= lightbox_close_button(_('Cancel')) %>
