<strong><%= _('Why categorize?') %></strong>

<p>
<%= _('By categorizing your content, you increase the possibility that other people access it. When they are looking for, say, articles about Bahia and you categorize your article in "Regions/Bahia", then there is a good change that your article is going to be found.') %>
</p>

<% button_bar do %>
  <%= modal_close_button _('Close') %>
<% end %>
