<h2><%= _('Create new theme') %></h2>

<%= form_tag(:action => 'new') do %>

  <%= labelled_form_field(_('Name of the new theme:'), text_field_tag(:name)) %>

  <% button_bar do %>
    <%= submit_button(:save, _('Create')) %>
  <% end %>
<% end %>
