<% cache(page.cache_key(params, user, language)) do %>
  <div class="<%="article-body article-body-" + page.css_class_name %>">
    <% if page.image.present? && !page.event? && !page.blog? %>
      <div class="article-body-img">
        <%= image_tag(page.image.public_filename) %>
        <p><%= page.image.label %></p>
      </div>
    <% end %>

    <% options = page.image? ? { gallery_view: true } : {} %>
    <%= article_to_html(page, options) %>
    <br style="clear:both" />
  </div>
<% end %>
