<% if uploaded_file.image? %>
  <%= link_to '',
        uploaded_file.view_url,
        :class => 'image',
        :style => 'background-image: url(%s)'% uploaded_file.public_filename(:thumb)
  %>
  <span><%=h uploaded_file.title %></span>
<% else %>
  <%= render :partial => 'article', :object => uploaded_file %>
<% end %>
