<% add_rss_feed_to_head(blog.name, blog.feed.url)  if blog.blog? && blog.feed %>

<%= content_tag('em', _('(external feed was not loaded yet)'), :id => 'external-feed-info', :class => 'metadata') if blog.blog? && blog.external_feed && blog.external_feed.enabled && blog.external_feed.fetched_at.nil? %>

<div>
  <div class='blog-description'>
    <%= blog.body %>
  </div>
</div>
<hr class="pre-posts"/>
<div class="blog-posts page-<%= @npage %>">
  <% paginate = true %>
  <%=
   posts = @posts
   format = blog.visualization_format
   if inside_block
     posts = blog.posts.paginate(:page=>1, :per_page=>inside_block.posts_per_page)
     format = inside_block.visualization_format
     paginate = false
   end
   (blog.empty? ?
     content_tag('em', _('(no posts)')) :
     list_posts(posts, format: format, paginate: paginate)
   )
  %>
</div>
