<% unless folder.body.blank? %>
  <div class="folder-description">
    <%= folder.body %>
  </div>
<% end %>

<% if folder.children.empty? %>
  <em><%= _('(empty folder)') %></em>
<% else %>
  <%= list_contents(:contents=>folder.children) %>
<% end %>
