<% unless folder.body.blank? %>
  <div>
    <%= folder.body %>
  </div>
  <hr/>
<% end %>

<% if folder.children.empty? %>
  <em><%= _('(empty folder)') %></em>
<% else %>
  <%= list_articles(available_articles(folder.children, user)) %>
<% end %>
