<% add_rss_feed_to_head(@page.name, @page.feed.url) if @page.forum? && @page.feed %>

<div>
  <div class='forum-description'>
    <%= @page.body %>
  </div>
</div>
<hr class="pre-posts"/>
<div class="forum-posts">
  <%= (@posts.compact.empty? ? content_tag('em', _('(no posts)')) : list_forum_posts(@posts)) %>
</div>
