<div>
  <%= @page.body %>
</div>


<div class="image-gallery">
  <p><%= button(:slideshow, _('View slideshow'), @page.url.merge(:slideshow => true))%></p>
    <ul>
      <% @images.each do |a| %>
        <li class="image-gallery-item">
          <%= render :partial => partial_for_class(a.class), :object => a %>
          <span><%= a.abstract %></span>
        </li>
      <% end %>
    </ul>
  <br style="clear:both" />
  <%= will_paginate @images, :param_name => 'npage' %>
</div>
