<h1 class="block-title"><%= _("Missing home page") %></h1>

<p>
<%= _('%s did not choose an article for homepage yet.') % profile.name %>
</p>

<% if user == profile %>
<p>
<%= link_to _('Click here to set your homepage now!'), :controller => 'cms' %>
</p>
<% end %>
