<div id='not-found'>
    <p>
    <%= _('You may have clicked an expired link or mistyped the address.') %>
    <%= _('If you clicked a link that was in another site, or was given to you by someone else, it would be nice if you tell them that their link is not valid anymore.') %>
    </p>
</div>
