<%= _('Name: %s') % @name  %>
<%= _('e-Mail: %s') % @email %>
<%= _('City and state: %s-%s') % [@city, @state] %>

<%= _('Message:') %>
--

<%= @message %>

--
<%= _('%s environment system') % @environment %>
<%= @url %>
