<%= _('Name: %s') % @name  %>
<%= _('e-Mail: %s') % @email %>
<% if @city || @state %>
  <%= _('City and state: %s/%s') % [@city || '?', @state || '?'] %>
<% end %>

<%= _('Message:') %>
-------------------------------------------------------------------------------
<%= word_wrap(@message) %>
-------------------------------------------------------------------------------

<%= _('Greetings,') %>

--
<%= _('%s team.') % @environment %>
<%= @url %>
