<div class="community-header">
  <%= community.created_at.strftime("%d %B %Y at %H:%M") %> - <span class="model-label">COMUNIDADE</span>
</div>
<div class="body">
  <h2><%= community.name %></h2>
  <p><%= community.description %></p>
</div>
