<div class="community-header">
  <%= community.created_at.strftime("%d %B %Y at %H:%M") %> - <span class="model-label"><%= _("Community") %></span>
</div>
<div class="body">
  <h2><%= link_to community.name, community.url %></h2>
  <p><%= community.description %></p>
</div>
