<div class="event-header">
  <%= event.created_at.strftime("%d %B %Y at %H:%M") %> - <span class="model-label"><%= _("Event") %></span>
</div>

<div class="body">
   <h2><%= link_to event.name, event.url %></h2>
   <p><%= event.body %></p>
</div>
