<div class="event-header">
  <%= event.created_at.strftime("%d %B %Y at %H:%M") %> - <span class="model-label">EVENT</span>
</div>

<div class="body">
   <h2><%= event.name %></h2>
   <p><%= event.body %></p>
</div>
