<ul>
  <% for type,value in @searchable_types %>
    <li class="select-search-type <%= "active" if type == @selected_type %>">
      <%= link_to value, "?selected_type=#{type}&query=#{@query}&categories=#{@selected_categories.join(',')}"%>
    </li>
  <% end %>
</ul>
