<% force_same_page ||= false %>
<div id="track_list_more_<%= block.id %>" class="more_button">
  <% if block.more_another_page && !force_same_page %>
    <div class="view_all">
      <%= link_to _('View All'), :id => block.id, :controller => 'community_track_plugin_public', :action => 'all_tracks' %>
    </div>
  <% else %>
    <div class="more">
      <%= link_to_remote(c_('More'), :url => {:id => block.id, :controller => 'community_track_plugin_public', :action => 'view_tracks', :page => page, :per_page => per_page, :force_same_page => force_same_page}, :loaded => visual_effect(:highlight, "track_card_list_#{block.id}")) %>
    </div>
  <% end %>
</div>
