<%= _('Name: %s') % @name %>
<%= _('e-Mail: %s') % @email %>
<%= _('Title: %s') % @title %>
<%= _('Comment:') %>
--

<%= @body %>

--
<%= url_for @article_url %>

--
<%= _('%s environment system') % @environment %>
<%= url_for @url %>
