<%= _('Name: %s') % @name %>
<%= _('e-Mail: %s') % @email %>
<%= _('Title') % @title %>
<%= _('Comment:') %>
--

<%= @body %>

--
<%= @article_url %>

--
<%= _('%s environment system') % @environment %>
<%= @url %>
