<%= _('Hi, %{recipient}!') % { :recipient => @recipient } %>

<%= word_wrap(_('%{sender} (%{sender_link}) created a new comment on your article "%{article_title}".') % { :sender => @sender, :sender_link => url_for(@sender_link), :article_title => @article_title }) %>

<%= _('Access the address below to view this comment:') %>
<%= url_for @comment_url %>

--
<%= _('%s environment system') % @environment %>
<%= url_for @url %>
