<% @notifications = AdminNotificationsPlugin::Notification.with_popup(environment, current_user, @previous_path).where("id NOT IN (?)", @hide_notifications) %>

<div class="notification-plugin-notification-modal">
  <% @notifications.each do |notification| %>
    <div class="<%= notification.type.gsub("AdminNotificationsPlugin::", "").downcase %> notification" data-notification="<%=notification.id%>">
      <% unless notification.title.blank? %>
        <div class='notification-title'><%= notification.title %></div>
      <% end %>
      <div class="notification-message">
        <%= AdminNotificationsPlugin::NotificationHelper.substitute_variables(notification.message, current_user).html_safe %>
      </div>
    </div>
  <% end %>
</div>
