<%= stylesheet_link_tag 'tasks' %>

<% unless @pending_tasks.empty? %>
  <div class='pending-tasks'>
    <h2><%= _('You have pending requests') %></h2>
    <ul>
      <%= @pending_tasks.map {|task| content_tag('li', task_information(task))}.join %>
    </ul>
    <%= button(:todo, _('Process requests'), :controller => 'tasks', :action => 'index') %>
  </div>
<% end %>
