  <h2><%= _('Notifications') %></h2>
  <%= labelled_form_field(_('With which frequency do you want to receive notifications?'), select_tag('profile_data[notification_time]', options_for_select([[_('Disabled'), 0], [_('Hourly'), 1], [_('Half Day'), 12], [_('Daily'), 24]], @profile.notification_time))) %>
