  <%= f.text_field(:name) %>
  <%= f.text_field(:contact_information) %>
  <%= f.text_field(:contact_phone) %>
  <%# use :size => 3 if you want 3 radios by line %>
  <%= f.radio_group :profile, :sex, [ ['male',_('Male')], ['female',_('Female')] ] %>
  <%= f.text_field(:birth_date) %>
  <%= f.text_field(:address) %>
  <%= f.text_field(:city) %>
  <%= f.text_field(:state) %>
  <%= f.text_field(:country) %>
