<% form_for :image, @image, :html => { :multipart => true }, :url => { :action => 'change_image'} do |f| %>
  <%= display_form_field(_('Image'), f.file_field( :uploaded_data ) ) %>
  <%= display_submit_tag(_('Upload')) %>
<% end %>
