<% form_for :image, @image,
            :html => { :multipart => true },
            :url  => { :action => 'change_image'} do |f| %>
  <%= display_form_field(_('Image'), f.file_field( :uploaded_data, { :onchange => 'updateImg(this.value)' } ) ) %>
  <% button_bar do %>
    <%= submit_button('save', _('Upload'), :cancel => {:action => 'index'}) %>
  <% end %>
<% end %>
