<h2><%= _('Edit person info') %></h2>

<% labelled_form_for :info, @info do |f| %>

  <%= f.text_field(:name) %>
  <%= _('Sex: ') %> 
    <%= display_form_field(_('Male'), radio_button(:info, :sex, 'male')) %> 
    <%= display_form_field(_('Female'), radio_button(:info, :sex, 'female')) %>
  <%= f.text_field(:city) %>
  <%= f.text_field(:state) %>
  <%= f.text_field(:country) %>
  <%= display_submit_tag _('Save') %>

<% end %>
