<table width="100%"> 
 <% cont = 0 %>
 <% date_history.each do |date| %>
   <tr>
     <td width="70%"> <b> <%= date %> </b> </td>
     <td width="30%"> <%= MezuroPlugin::Helpers::ContentViewerHelper.format_grade(metric_history[cont].value) %> </td>
   </tr>
   <% cont = cont + 1 %>
 <% end %>
 </table>
