<% @configuration_content = @page %>

<table id="project_info">
  <tr>
    <td><%= _('Name') %></td>
    <td><%= @configuration_content.name %></td>
  </tr>
  <tr>
    <td><%= _('Description') %></td>
    <td><%= @configuration_content.description %></td>
  </tr>
</table>

<%= link_to "Teste", "/profile/#{profile.identifier}/plugins/mezuro/teste" %>
<%= link_to "Teste", :controller => "mezuro_plugin_profile", :action => "teste", :params => {:configuration_name =>
@configuration_content.name}%>
