<% @configuration_content = @page %>

<table id="project_info">
  <tr>
    <td><%= _('Name') %></td>
    <td><%= @configuration_content.name %></td>
  </tr>
  <tr>
    <td><%= _('Description') %></td>
    <td><%= @configuration_content.description %></td>
  </tr>
</table>
