<% @configuration = @page.configuration %>

<table id="project_info">
  <tr>
    <td><%= _('Name') %></td>
    <td><%= @configuration.name %></td>
  </tr>
  <tr>
    <td><%= _('Description') %></td>
    <td><%= @configuration.description %></td>
  </tr>
</table>
