// thidparty libraries
@import 'vendor/colorbox.css';
@import 'vendor/inputosaurus.css';
@import 'vendor/token-input.css';
@import 'vendor/token-input-facebook.css';
@import 'vendor/token-input-mac.css';
@import 'vendor/token-input-facet.css';

// noosfero libraries
@import 'iepngfix/iepngfix.css';
@import 'browser-fixes';
@import 'fields';
@import 'buttons';
@import 'notice';
@import 'loading';
@import 'loading-overlay';
@import 'table';
@import 'clear';
@import 'pagination';
@import 'auto-complete';
@import 'jquery-ui';
@import 'addthis';
@import 'assets-menu';

@import 'layouts';
@import 'user';
@import 'manage-enterprises';
@import 'manage-communities';
@import 'profile';
@import 'profile-list';

// views specifics. TODO: load them locally with `content_for :head`
@import 'themes';
@import 'tasks';
@import 'account';
@import 'signup';
@import 'cms';
@import 'contacts';
@import 'events';
@import 'invite';
@import 'friends';
@import 'memberships';
@import 'abuse-report';
@import 'templates';
@import 'maps';
// profile
@import 'profile-editor';
@import 'profile-members';
@import 'profile-search';
@import 'profile-activity';
// admin
@import 'admin-panel';
@import 'manage-fields';
@import 'environment-users';

@import 'content';
@import 'comments';

@import 'chat';
@import 'search';

@import 'blocks';
// FIXME: if this goes before 'blocks', some styles breaks,
// but this is a library and should be loaded on the libraries section
@import 'menu-submenu';

@import 'category';
@import 'product-category';

@import 'enterprises';
@import 'catalog';
@import 'product';
@import 'product-category';

@import 'site-map';
@import 'portal-news';
@import 'online-doc';

@import 'api-playground';

// Also avoid generic and prefer class over id selectors
