
#article {
  position: relative;
  text-align: justify;
}

#article-actions {
  position: absolute;
  top: -25px;
  right: -17px;
  padding-right: 15px;
}

#article-tags {
  font-size: 10px;
  text-align: right;
}
#article-tags a {
  text-decoration: none;
}

#article-hits {
  font-size: 10px;
  text-align: right;
}

#article-cat {
  font-size: 10px;
}

#article-source {
  color: #999;
  font-size: 11px;
  text-align: right;
  font-weight: bold;
}
#article-source a {
  font-weight: normal;
}

/* * *  Comments  * * */

.comments {  }

#content .no-comments-yet {
  text-align: center;
  font-size: 80%;
  opacity: 0.5;
	filter: alpha(opacity=50);
}

.do-not-comment {
  display: block;
  text-align: right;
  padding-top: 15px;
  font-size: 80%;
  opacity: 0.5;
	filter: alpha(opacity=50);
}

.article-comment {
  position: relative;
  border: 1px solid #B8CFE7;
  margin-bottom: 10px;
  padding: 4px;
}

.comment-from-owner {
  border: 1px solid #3465A4;
  background: #B8CFE7;
}

#article .article-comment h4 {
  font-size: 13px;
  margin: 0px;
  display: inline;
}

.comment-picture {
  position: relative;
  display: block;
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  margin: 0px 4px 4px 4px;
  float: left;
}

.comment-picture span {
  top: 50px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

a.comment-picture {
  text-decoration: none;
}

.comment-created-at {
  float: right;
  margin-left: 5px;
}

.comment-info,
.comment-created-at {
  font-size: 10px;
  color: #999;
  display: inline;
}

.comment-details {
  margin-left: 100px;
}

.comment-from-owner .comment-info {
  color: #729FCF;
}

.comment-text {
  font-size: 11px;
  clear: left;
}

.comment-logged-out .comment-text {
  color: #888;
}

/* * * Comment Box * * */

.post_comment_box {
  text-align: center;
  padding: 0px 15px 5px 15px;
  margin: 10px auto;
}

.post_comment_box h4 {
  padding: 1px 20px;
  margin: 0px;
  background: #B8CFE7;
}

.post_comment_box.closed h4 {
  display: inline;
  border: 1px solid #729FCF;
  cursor: pointer;
}

.post_comment_box.opened {
  border: 1px solid #729FCF;
  background: #B8CFE7;
}

.post_comment_box form {
  text-align: left;
  margin: -10px 0px 0px 0px;
}

.post_comment_box .formfield * {
  width: 99%;
}

.post_comment_box .button-bar {
  text-align: center;
}

.post_comment_box input.button {
  position: relative;
  float: none;
  margin: auto;
}

.post_comment_box .button-bar br {
  display: none;
}

.post_comment_box.closed form {
  display: none;
}

.post_comment_box.opened form {
  display: block;
}

/* * * addThis button * * */

.msie #addThis {
  position: relative;
  margin-bottom: -5px;
}
#bt_addThis {
  float: right;
  margin: 0px;
}

#addthis_dropdown15 table td {
  border: none;
}

/* * *  Blog  * * */

.blog-post a {
  text-decoration: none;
}

#content .title {
  margin-bottom: 2px;
}

.metadata,
.blog-post .metadata {
  display: block;
  text-align: center;
  font-size: small;
}

.metadata {
  text-align: right;
  color: gray;
}

#content .created-at {
  color: gray;
  font-size: small;
  display: block;
  text-align: right;
}

#content .blog-post .created-at {
  text-align: left;
}

#content #article .pagination .prev_page {
  position: absolute;
  left: 0;
}

#content #article .pagination .next_page {
  position: absolute;
  right: 0;
}
.msie6 #content #article .pagination .prev_page,
.msie6 #content #article .pagination .next_page {
  position: relative;
  display: inline;
}

/* NOT PUBLISHED BLOG POSTS */

.blog-post-not-published {
  background: url(/images/hachure.png);
  opacity: 0.25;
  filter: alpha(opacity=25);
  zoom: 1;
}

.blog-post-not-published a {
  text-decoration: none;
}

#content .blog-post-not-published .created-at {
  text-align: left;
}

.blog-post-not-published .metadata {
  display: block;
  text-align: center;
  font-size: small;
}


