
/* main box */
div.box-1 {
  margin-left: 210px;
  margin-right: 210px;
}

div.box-2 {
  float: left;
  width: 200px;
}

div.box-3 {
  float: right;
  width: 200px;
}


.block {
  margin: 5px;
  padding: 5px;
}

.block-target {
  margin: 5px;
  height: 2px;
  height: 15px;
  border: 1px dashed #e0e0e0;
}

.block-target-hover {
  background: #ffd;
  border: 1px solid red;
  height: 30px;
}

.block iframe {
  width: 100%;
  border: none;
}

/***********************************************************
 * put borders around boxes and blocks when organizing boxes
 ***********************************************************/

#box-organizer div.box {
  border: 1px solid #ccc;
  background-color: white;
  background-repeat: no-repeat;
  background-position: top right;
}


#box-organizer div.box-1 {
  background-image: url(../images/blocks/1.png);
}
#box-organizer div.box-2 {
  background-image: url(../images/blocks/2.png);
}
#box-organizer div.box-3 {
  background-image: url(../images/blocks/3.png);
}

#box-organizer div.box-1 .block {
  border: 2px dashed green;
}
#box-organizer div.box-2 .block {
  border: 2px dashed red;
}
#box-organizer div.box-3 .block {
  border: 2px dashed blue;
}
