@import 'blocks/main';

@import 'blocks/location';

@import 'blocks/categories';

@import 'blocks/communities';
@import 'blocks/suggestions';
@import 'blocks/my-network';

@import 'blocks/link-list';
@import 'blocks/tags';
@import 'blocks/recent-documents';
@import 'blocks/article-block';
@import 'blocks/blog-archives';
@import 'blocks/slideshow';
@import 'blocks/feed-reader';
@import 'blocks/highlights';

@import 'blocks/profile-info';
@import 'blocks/profile-list';
@import 'blocks/profile-image';
@import 'blocks/profile-search';

@import 'blocks/disabled-enterprise-message';
@import 'blocks/sellers-search';
@import 'blocks/products';
@import 'blocks/featured-products';

.msie7 .block .menu-submenu {
  z-index: 4;
}
.msie7 .common-profile-list-block .vcard {
  z-index: 3;
}
.msie7 .box-1 {
  z-index: 0;
  position: relative;
}
.msie7 .box-2, .msie7 .box-3 {
  z-index: 5;
  position: relative;
}
.block iframe {
  border: none;
}

.block iframe,
.block embed {
  max-width: 100%;
}
.block-title.empty {
  display: none;
}
.invisible-block {
  background: url(../images/hachure.png);
  opacity: 0.25;
}
.msie .invisible-block {
  filter: alpha(opacity=25);
  zoom: 1;
}
/* ie6 hack */
.invisible-block a.icon-button {
  position: relative;
}

.block-target {
  padding: 2px;
  background: #ffd;
  margin-bottom: 5px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.block-target-hover {
  background: #ffd;
  border: 1px solid #000;
  height: 30px;
  box-shadow: 0 0 15px #888 inset;
}

#box-organizer div.box {
  background-repeat: no-repeat;
  background-position: top right;
}
#box-organizer div.box-1 {
  background-image: url(../images/blocks/1.png);
}
#box-organizer div.box-2 {
  background-image: url(../images/blocks/2.png);
}
#box-organizer div.box-3 {
  background-image: url(../images/blocks/3.png);
}
#box-organizer div.box-4 {
  background-image: url(../images/blocks/4.png);
}
#box-organizer .block {
  cursor: move;
}
#box-organizer .block:hover {
    box-shadow: 0px 0px 0px 2px #FFF,
                0px 0px 0px 2px #FFF,
                0px 0px 10px rgba(0, 0, 0, 0.6);
    outline: none;
}
#box-organizer .block {
  cursor: move;
  position: relative;
  min-height: 20px;
}

#box-organizer .block .button-bar {
  cursor: move;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  top: -40px;
  padding-bottom: 40px;
  display: none;
}

#box-organizer .block-outer:focus .button-bar,
#box-organizer .block-outer:hover .button-bar {
  display: block;
}

.msie #box-organizer div.box-1 .block {
  border: 2px dashed green;
}
.msie #box-organizer div.box-1 .block {
  border: 2px dashed red;
}
.msie #box-organizer div.box-1 .block {
  border: 2px dashed blue;
}
/************************************************************
 * custom interation blocks on drag n drop                  *
 ***********************************************************/
#box-organizer .main-block {
  font-size: 24px;
  text-align: center;
  box-shadow: none;
  outline: none;
  display: block;
  height: 150px;
  line-height: 120px;
}
#box-organizer .main-block:hover {
  border: 0px;
  border-style: none;
  box-shadow: none;
  outline: none;
}

/* FIX Error show option buttons on blocks */
#box-organizer .block {
  overflow: visible !important;
}

#box-organizer .blog-post {
  margin: auto;
}

/****************************************
 * Block options editor floating window *
 ****************************************/

.block-config-options {
  padding: 0px 10px 0px 30px;
}

#add-block-dialog {
  padding: 0px 5px 0px 20px;
  max-width: 600px;
}

#add-block-dialog .block-types {
}

#add-block-dialog .block-types input{
  vertical-align: middle;
  display: inline-block;
}

#add-block-dialog .block-types label{
  vertical-align: middle;
  display: inline-block;
  width: 85%;
  padding-top: 4px;
}

#add-block-dialog .block-type{
  margin: 3px 0px;
  display: inline-block;
  width: 49%;
}
