
.button-bar {
  margin-top: 1em;
}

a.button,
a.button:visited,
input.button {
  margin: 0px 2px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 2px 0px 2px 20px;
  line-height: 24px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  border: 1px solid #DDD;
}
input.button {
  float: none;
  background-position: 2px 50%;
}

.button-bar .button {
  display: block;
  float: left;
}

#content a.button, #content a.button:visited {
  height: 22px;
  color: #000;
}

.button span {
  display: none;
}
.button.with-text span {
  display: inline;
  padding-right: 4px;
}

a.button.with-text,
a.button.with-text:visited,
input.button.with-text {
  background-color: #EEE;
  padding: 2px 2px 2px 25px;
  background-position: 2px 50%;
  border: 1px solid #AAA;
  line-height: 26px;
}
.msie a.button.with-text,
.msie a.button.with-text:visited,
.msie input.button.with-text {
  line-height: 16px;
  margin: 2px;
}

a.button:hover,
input.button:hover,
a.button.with-text:hover,
input.button.with-text:hover {
  border: 1px solid #678;
  background-color: #CDE;
  color: #000;
}

.icon-button {
  border: none;
}
.icon-button:hover {
  border: none;
}

