.button-bar {
  margin-top: 1em;
}

.button {
  border: none;
  margin-left: 5px;
  background-color: #EEE;
  background-repeat: no-repeat;
  background-position: 2px 50%;
  padding-left: 25px;
  padding-right: 2px;
  height: 24px;
  line-height: 22px;
  font-size: 12px;
}
input.button {
  float: none;
}

.button-bar .button {
  display: block;
  float: left;
}

#content a.button, #content a.button:visited,
#login-box a.button, #login-box a.button:visited {
  height: 22px;
  color: #000;
}

.button, .button:visited {
  color: black;
  text-decoration: none;
  border: 1px solid #AAA;
}

.button:hover {
  border: 1px solid #777;
  background-color: #DDD;
}

.button span {
  display: none;
}
.button.with-text span {
  display: inline;
  padding-right: 4px;
}

.icon-button {
  border: none;
}
.icon-button:hover {
  border: none;
}
