
#view-category { /* none */
}
#category-image {
  text-align: center;
}
#categiry-name {
  margin: 0px;
  position: relative;
  top: -5px;
}
#category-ancestors {
  padding-top: 25px;
  font-weight: bold;
}
#content #category-ancestors a {
  color: #000;
  text-decoration: none;
}
#content #category-ancestors a:hover {
  color: #07F;
  text-decoration: underline;
}
#cat-no-child {
  color: #AAA;
}
#cat_menu {
  padding: 0px;
  margin: 0px;
}
.msie6 #cat_menu {
  width: 100%;
  margin-top: -22px;
}

div#category-ajax-selector {
  margin-bottom: 30px;

  #select-categories {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 5px;

    .toplevel-categories {
      .category-helper-label {
        margin-bottom: 5px;
      }

      a.select-subcategory-link {
        display: inline-block;
        padding: 3px;
        margin-bottom: 3px;
        background-color: #757575;
        text-decoration: none;
        border-radius: 3px;
        color: white;

        &:hover {
          background-color: #555;
        }
      }
    }

    .categories-chain {
      margin: 7px 0px;
      display: flex;
      align-items: center;

      a {
        margin: 0 2px;
      }

      #cancel-category-button {
        display: inline-block;
        width: 13px;
        height: 13px;
        background-size: contain;
        margin-left: 0;
        margin-right: 10px;
      }

      #save-category-button {
        display: inline-block;
        height: 16px;
        width: 16px;
        padding: 0;
        margin-right: 0;
        background-size: contain;
      }
    }
  }
}

.categories-wrapper {
  ul {
    list-style: none;

    &.categories-list {
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      padding: 10px 0 10px 15px;
      background-color: #f5f5f5;

      &:nth-child(odd) {
        background-color: #f0f0f0;
      }

      &:hover {
        border-left: 5px solid #ccc;
        padding-left: 10px;
      }

      .category-name {
        display: inline-flex;
        align-items: center;
        padding: 4px 8px;
        background-color: #777;
        border-radius: 2px;
        font-style: normal;
        color: white;
        text-transform: capitalize;

        .color_marker {
          border: none;
          width: 15px;
          margin-right: 5px;
        }
      }

      .show-button, .hide-button {
        margin-left: 5px;
      }

      .category-actions {
        margin-top: 3px;

        a {
          font-size: 11px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      li {
        border-left: 1px solid #aaa;
        padding-top: 15px;

        &:hover {
          border-left: 1px solid #aaa;
          padding-left: 15px;
        }
      }
    }
  }
}
