body {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Sans-Serif;
  font-size: 14px;
}
body.noosfero {
  /*
  ** a imagem de fundo colorida é mais pesada, por isso carregamos
  ** essa cinza mais leve antes para melhorar a esperiência do usuário.
  */
  background-position: 50% 25px;
  background-repeat: repeat-x;
  background-image: url(../images/bg-top-cinza.jpg);
}

#beta-tag {
  position: absolute;
  top: 50px;
  left: 50px;
  background-image: url(../images/beta.gif);
  width: 128px;
  height: 36px;
}
#beta-tag span {
  display: none;
}

#wrap {
  background-position: 50% 22px;
  background-repeat: repeat-x;
  background-image: url(../images/bg-top-azul.png);
}

body.category1 #wrap { background-image: url("../images/bg-top-laranja.png");  }
body.category2 #wrap { background-image: url("../images/bg-top-verde.png");    }
body.category3 #wrap { background-image: url("../images/bg-top-lilas.png");    }
body.category4 #wrap { background-image: url("../images/bg-top-vermelho.png"); }

#path_category {
  position: absolute;
  top: 40px;
  left: 30px;
  font-weight: bold;
  z-index: 10;
}

#header {
  height: 60px;
}

#design_boxes {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0em;
}


#notice {
  cursor: pointer;
}

#wrap {
  border: 3px solid #2A5896;
}
body.category1 #wrap {
  border-color: #E26B00;
}
body.category2 #wrap {
  border-color: #58A80A;
}
body.category3 #wrap {
  border-color: #694371;
}
body.category4 #wrap {
  border-color: #B80000;
}

a {
  color: #05B;
}
a:visited {
  color: #68C;
}
a:hover a:active {
  color: #08F;
}

#environment_identification {
  position: absolute !important;
  background: url("../images/bg_blue_logo.png") 5px no-repeat !important;
  vertical-align: bottom !important ;
  width: 230px !important ;
  height: 34px !important ;
  line-height: 34px !important ;
  padding-left: 60px !important ;
}

#environment_identification:hover {
  color: #DFDFDF !important ;
}

div.fieldWithErrors {
  display: inline;
  background: yellow;
}

div.fieldWithErrors input {
  border: 1px solid red;
  background: #fee;
}

div#errorExplanation {
  border: 2px solid #933;
  background: #fee;
  padding: 5px;
}

div#errorExplanation h2 {
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
  padding: 3px;
  background: #933;
  color: white;
  text-align: center;
}

div#footer {
  background: #ffffff url("../images/bg_footer.png") repeat-x !important;
  background-position: 0px 0px;
  font-family: Verdana, Arial, Serif-sans;
  margin: 0px !important;
  padding: 5px !important;
  text-align: center !important;
  clear: both !important;
  font-size: 10px !important;
  color: #545454 !important;
}

div#footer a {
  color: #545454;
  text-decoration: none;
  border-bottom: 1px dotted #545454;
}

div#footer a:hover {
  color: #000000;
  border: 0px;
}

div#footer ul {
  margin: 0px;
  padding: 0px;
}

div#footer li {
  display: block;
  float: right;
  margin-right: 20px;
  height: 20px;
}

/* file manager (big) style */

div.file-manager {
  clear: both;
}

div.file-manager
div.file-manager-button {
  float: left;
  width: 140px;
  text-align: center;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

div.file-manager
div.file-manager-button a img {
  border: none;
}

div.file-manager
div.file-manager-button a {
  border: 1px solid #e0e0e0;
  display: block;
  padding: 3px;
  height: 90px;
  overflow: hidden;
  background: white;
  font-size: 90%;
}

div.file-manager
div.file-manager-button a:hover {
  border: 1px solid #006;
  background: #acf;
  color: #006;
}

/************* file manager (small) style *****************/
.file-manager-small {
  background: white;
  border: 1px solid gray;
}

.file-manager-title {
  font-weight: bold;
  border: 1px solid gray;
  border-bottom: none;
  border-top: none;
  padding: 2px;
  background: #579;
  color: white;
  height: 24px;
}

.file-manager-small ul {
  padding: 5px;
  margin: 0px;
}

.file-manager-small li {
  list-style: none;
  padding: 2px;
}

div.file-manager-small
div.file-manager-button a div {
  display: inline;
}

div.file-manager-small
div.file-manager-button a img {
  border: none;
  vertical-align: middle;
}

div.file-manager-small
div.file-manager-button a {
  border: 1px solid transparent;
}

div.file-manager-small
div.file-manager-button a:hover {
  border: 1px solid #006;
  background: #acf;
  color: #006;
}

.file-manager-small {
  position: relative;
}

.file-manager-small .file-manager-controls {
  border-top: 1px solid gray;
  padding: 4px;
}

.file-manager-small .file-manager-controls * {
  text-align: right;
}


/*********************************************************/


#spinner {
  z-index: 10;
  position: absolute;
  left: 50%;
  margin-left: -16px;
  top: 200px;
}

#footer_content {
clear: both;
}

#footer {
  clear: both;
  text-align: center;
  font-size: smaller;
  color: #333;
  margin: 0px;
  padding: 5px;
}


/* Notice */ 

div#notice {
  z-index: 20;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  border: 5px solid #545454;
  background: #ffffa9;
  padding: 10px;
}

/* * * Generic Content Formating * * */

#content h1 {
  text-align: center;
}
#content h1, #content h2, #content h3,
#content h4, #content h5, #content h6 {
  margin: 10px 0px;
  color: #2A5896;
}
body.category1 #content h1, body.category1 #content h2, body.category1 #content h3,
body.category1 #content h4, body.category1 #content h5, body.category1 #content h6
 { color: #E26B00 }
body.category2 #content h1, body.category2 #content h2, body.category2 #content h3,
body.category2 #content h4, body.category2 #content h5, body.category2 #content h6
 { color: #58A80A }
body.category3 #content h1, body.category3 #content h2, body.category3 #content h3,
body.category3 #content h4, body.category3 #content h5, body.category3 #content h6
 { color: #694371 }
body.category4 #content h1, body.category4 #content h2, body.category4 #content h3,
body.category4 #content h4, body.category4 #content h5, body.category4 #content h6
 { color: #B80000 }

#content .block-title {
  margin: 0px 0px 10px 0px;
}

#better-browser-promotion {
  position: absolute;
  top: 100px;
  left: 20%;
  right: 20%;
  border: 2px solid #000;
  background: #FE0;
  padding: 15px 5%;
  text-align: justify;
}

#bbp-getff {
  display: block;
  text-align: center;
}

#bbp-getff a {
  height: 24px;
  line-height: 24px;
  padding-left: 26px;
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

#better-browser-promotion .button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
}

/* Category */

#view-category { /* none */ }

#categiry-name {
  margin: 0px;
  position: relative;
  top: -5px;
}

#category-ancestors {
  padding-top: 25px;
  font-weight: bold;
}

#content #category-ancestors a {
  color: #000;
  text-decoration: none;
}
#content #category-ancestors a:hover {
  color: #07F;
  text-decoration: underline;
}

#category-childs h4,
#category-childs ul {
  margin: 0px;
}

#category-childs a {
  font-weight: bold;
  text-decoration: none;
}

#cat-no-child {
  color: #AAA;
}

#language-chooser {
  margin-bottom: 1em;
  text-align: center;
}

