body {
margin: 0px;
padding: 0px;
}

#notice {
cursor: pointer;
} 

#wrap {
height: 100%;
margin:0px;
}

a img {
  border: 1px solid transparent;
}
a:hover img {
  border: 1px solid gray;
}

#environment_identification {
position: absolute !important;
background: url("../images/bg_blue_logo.png") 5px no-repeat !important;
vertical-align: bottom !important ;
width: 230px !important ;
height: 34px !important ;
line-height: 34px !important ;
padding-left: 60px !important ;
}

#environment_identification:hover {
color: #dfdfdf !important ;
}

div.fieldWithErrors {
  display: inline;
  background: yellow;
}

div.fieldWithErrors input {
  border: 1px solid red;
  background: #fee;
}

div#errorExplanation {
  border: 2px solid #933;
  background: #fee;
  padding: 5px;
}

div#errorExplanation h2 {
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
  padding: 3px;
  background: #933;
  color: white;
  text-align: center;
}

div#footer {
background: #ffffff url("../images/bg_footer.png") repeat-x !important;
background-position: 0px 0px;
font-family: Verdana, Arial, Serif-sans;
margin: 0px !important;
padding: 5px !important;
text-align: center !important;
clear: both !important;
font-size: 10px !important;
color: #545454 !important;
}

div#footer a {
color: #545454;
text-decoration: none;
border-bottom: 1px dotted #545454;
}

div#footer a:hover {
color: #000000;
border: 0px;
}

div#footer ul {
margin: 0px;
padding: 0px;
}

div#footer li {
display: block;
float: right;
margin-right: 20px;
height: 20px;
}

/* file manager (big) style */

div.file-manager {
  clear: both;
}

div.file-manager
div.file-manager-button {
  float: left;
  width: 140px;
  text-align: center;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

div.file-manager
div.file-manager-button a img {
  border: none;
}

div.file-manager
div.file-manager-button a {
  border: 1px solid #e0e0e0;
  display: block;
  padding: 3px;
  height: 90px;
  overflow: hidden;
  background: white;
  font-size: 90%;
}

div.file-manager
div.file-manager-button a:hover {
  border: 1px solid #006;
  background: #acf;
  color: #006;
}

/************* file manager (small) style *****************/
.file-manager-small {
  background: white;
  border: 1px solid gray;
}

.file-manager-title {
  font-weight: bold;
  border: 1px solid gray;
  border-bottom: none;
  border-top: none;
  padding: 2px;
  background: #579;
  color: white;
  height: 24px;
}

.file-manager-small ul {
  padding: 5px;
  margin: 0px;
}

.file-manager-small li {
  list-style: none;
  padding: 2px;
}

div.file-manager-small
div.file-manager-button a div {
  display: inline;
}

div.file-manager-small
div.file-manager-button a img {
  border: none;
  vertical-align: middle;
}

div.file-manager-small
div.file-manager-button a {
  border: 1px solid transparent;
}

div.file-manager-small
div.file-manager-button a:hover {
  border: 1px solid #006;
  background: #acf;
  color: #006;
}

.file-manager-small {
  position: relative;
}

.file-manager-small .file-manager-controls {
  border-top: 1px solid gray;
  padding: 4px;
}

.file-manager-small .file-manager-controls * {
  text-align: right;
}

/*************************** cms stuff ******************************/

#article-subitems-hide.hide-button {
  float: right;
  color: white;
}
#article-subitems-show.show-button {
  float: right;
}
#article-subitems-hide.hide-button:hover {
  background-color: transparent;
  color: black;
}

#article-full-path {
  border: 1px solid gray;
  margin: 0px;
  font-size: 120%;
  overflow: auto;
  padding: 2px;
  background: #abc;
}

#article-controls {
  background: white;
  border: 1px solid gray;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 1em;
}
