@import url(profile-list-block.css);

#memberships-index ul {
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: block;
}

#memberships-index li {
  display: block;
  list-style: none;
  margin-bottom: 20px
  background-color: #B8CFE7;
}

#memberships-index li .vcard {
  float: right;
  padding: 4% 20px 4% 0px;
}
#memberships-index li .may-clear {
  clear: right;
}

#memberships-index li .profile-details {
  display: block;
  padding: 3% 0px 3% 30px;
}

#memberships-index li .vcard a.profile_link.url {
  border: 2px solid #729FCF;
  background-color: #ABC;
}

#memberships-index li .vcard a.profile_link.url:hover {
  border: 2px solid  #2A5896;
}

.action_memberships_destroy_community .main-block u {
  text-decoration: none;
  border-bottom: 1px dotted red;
}
