#search-page {
  position: relative; /* to the text appear on MSIE 6 */
}

#content .map-toggle-button {
  float: right;
  margin-top: -35px;
}

.current-cat-path {
  padding-left: 25px;
}
.current-cat-path * {
  white-space: nowrap;
}

#search-results {
  margin-top: 10px;
  /* none by default, but... Who knows the future?  :-) */
}

#search-whole-site {
  text-align: right;
  margin-top: -15px;
}

#search-results h3 {
  margin: 0px 0px 0px 20px;
  position: relative;
}

.search-results-box {
  float: left;
  width: 49%;
  padding-bottom: 14px;
  position: relative;
}

.only-one-result-box .search-results-box {
  width: 100%;
}

.has_cat_list #map,
.msie .has_cat_list #map,
.has_cat_list .only-one-result-box .search-results-box,
.msie .has_cat_list .only-one-result-box .search-results-box {
  width: 80%;
  float: right;
}

.has_cat_list #product-categories-menu {
  width: 20%;
  float: left;
}

#product-categories-menu a {
  display: block;
}

#product-categories-menu ul {
  margin: 0px 0px 0px 20px;
  padding: 0px;
}

#product-categories-menu .cat-parent {
  font-weight: bold;
  margin: 2px 0px;
  padding: 5px 0px 0px 10px;
  list-style: none;
  list-style-image: none;
}
#product-categories-menu .cat-empty {
  list-style: none;
  color: #999;
}

#product-categories-menu .cat-parent ul {
  padding-bottom: 5px;
}

#product-categories-menu .cat-parent li {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

#product-categories-menu .sub-opening,
#product-categories-menu .sub-closeing {
  background-color: #FF8;
}
#product-categories-menu .sub-opened {
  background-color: #FF0;
}

.search-results-box.odd {
  margin-left: 1%;
}
.msie .search-results-box.odd {
  float: right;
}

#content .search-results-box a.see-more {
  position: absolute;
  bottom: 0px;
  right: 25px;
  font-size: 11px;
  line-height: 11px;
  background: #B8CFE7;
  border: 1px solid #B8CFE7;
  border-top: none;
  padding: 0px 5px 2px 5px;
}
#content .search-results-box a.see-more:hover {
  background: #729FCF;
  color: #FFF;
  text-decoration: none;
}


.search-results-innerbox {
  border: 1px solid #2A5896;
  padding: 10px 0px 10px 10px;
  height: 205px;
  overflow: auto;
}

.search-results-innerbox hr {
  display: none;
}

.msie .search-results-innerbox hr {
  display: inline;
  clear: both;
  margin: -10px 0px 0px 0px;
  height: 0px;
  visibility: hidden;
}

.search-results-innerbox.common-profile-list-block {
  padding: 10px 0px 0px 10px;
  height: 215px;
}
.msie6 .search-results-innerbox.common-profile-list-block.search-results-type-profile {
  height: 205px;
}

.only-one-result-box .search-results-innerbox,
.only-one-result-box .search-results-innerbox.common-profile-list-block {
  height: auto;
  padding: 10px 4px 10px 10px;
}

#content .search-results-type-article ul,
#content .search-results-type-article ul,
#content .search-results-type-event ul,
#content .search-results-type-event li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#content .search-results-type-article li,
#content .search-results-type-event li {
  padding: 2px 0px 4px 0px;
}

.search-results-type-article .item_meta,
.search-results-type-event .item_meta {
  font-size: 10px;
  color: #888;
}

#category-comments {
  margin-left: 55%;
}

#content .search-results-comments ul,
#content .search-results-comments li,
#content #category-comments ul,
#content #category-comments li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #888;
}

.search-results-comments .comment-picture,
#category-comments .comment-picture {
  width: 20px;
  height: 20px;
  margin: -2px 5px 0px 0px;
}

#content .search-results-type-product ul,
#content .search-results-type-product li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  list-style-image: none;
  font-size: 10px;
  text-align: left;
}
#content .search-results-type-product li strong {
  font-size: 12px;
  margin-left: 5px;
}

#content .search-results-type-product li {
  padding: 0px;
  padding-bottom: 10px;
}
#content .search-results-type-product li li {
  padding-bottom: 0px;
}
.msie #content .search-results-type-product li li {
  line-height: 12px;
}

#content .only-one-result-box .search-results-type-product .product-item {
  width: 50%;
  height: 80px;
  max-height: 70px;
  overflow: hidden;
  float: left;
}
.msie #content .only-one-result-box .search-results-type-product .product-item {
  width: 49%;
}

.product-pic {
  display: block;
  float: left;
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.product-pic {
  height: 60px;
}
.product-pic span {
  display: none;
}

#content .search-results-type-product ul ul {
  margin-left: 55px;
}

.search-results-type-empty div {
  text-align: center;
  color: #DDD;
  font-weight: bold;
  font-size: 30px;
  padding: 70px 10px 0px 0px;
}

.profile-info {
  text-align: left;
}


/* * * Pagination * * * * * * * * * * * */

.pagination {
  text-align: center;
  clear: both;
}

.pagination .disabled {
  color: #888;
}

.pagination .current {
  font-weight: bold;
}

.pagination a {
  text-decoration: none;
}

.pagination a:hover {
  color: #026;
}

