
#article_types li {
  margin-bottom: 14px;
  list-style: none;
}

#article_types a {
  font-weight: bold;
}

#article-subitems-hide.hide-button {
  float: right;
  color: white;
}
#article-subitems-show.show-button {
  float: right;
}
#article-subitems-hide.hide-button:hover {
  background-color: transparent;
  color: black;
}

#article-full-path {
  border: 1px solid gray;
  margin: 0px;
  font-size: 120%;
  overflow: auto;
  padding: 2px;
  background: #abc;
}

#article-controls {
  background: white;
  border: 1px solid gray;
  padding-top: 0px;
  padding-bottom: 4px;
  margin-bottom: 1em;
}

#article-controls .button {
  position: relative;
  top: -5px;
}

.categorie_box .button {
  float: left;
}
.categorie_box h5 {
  line-height: 24px;
}

#content ul.categories,
#content ul.categories li {
  margin: 0px;
  padding: 1px 0px 1px 4px;
  list-style: none;
}
ul.categories li.cat_checked {
  background: #B8CFE7;
}

/************* file manager (small) style *****************/

.file-manager-small {
  background: white;
  border: 1px solid gray;
}

.file-manager-title {
  font-weight: bold;
  border: 1px solid gray;
  border-bottom: none;
  border-top: none;
  padding: 2px;
  background: #579;
  color: white;
  height: 24px;
}

.file-manager-small ul {
  padding: 5px;
  margin: 0px;
}

.file-manager-small li {
  list-style: none;
  padding: 2px;
}

div.file-manager-small
div.file-manager-button a div {
  display: inline;
}

div.file-manager-small
div.file-manager-button a img {
  border: none;
  vertical-align: middle;
}

div.file-manager-small
div.file-manager-button a {
  border: 1px solid transparent;
}

div.file-manager-small
div.file-manager-button a:hover {
  border: 1px solid #006;
  background: #acf;
  color: #006;
}

.file-manager-small {
  position: relative;
}

.file-manager-small .file-manager-controls {
  border-top: 1px solid gray;
  padding: 4px;
}

.file-manager-small .file-manager-controls * {
  text-align: right;
}

