.no-boxes {
  margin: 30px
}

#users-list {
  float: left;
  width: 60%;
}

.msie6 #users-list {
  position: relative;
}

#users-list a.icon-add{
  float: right;
}

.msie #users-list a.icon-add{
  display: block;
}

.draggable-user {
  xwidth: 170px;
  cursor: move;
}

#members-list.add-members {
  float: right;
  width: 30%;
  text-align: center;
}

.members-buttons-cell {
  width: 60px;
}

.msie .members-buttons-cell a {
  position: relative;
  display: block;
  float: left;
}

.msie6 .button-bar a {
  position: relative;
}

table {
  text-align: left;
}
