
@import url(manage_contacts_list.css);
@import url(pagination.css);

#remove_friend .friend_picture {
  float: left;
  margin-right: 15px;
}

#remove_friend form {
  clear: both;
  padding-top: 20px;
}

#pagination-friends .pagination span {
  display: inline;
}
