
#content #manage_friends ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#content #manage_friends li {
  float: left;
  width: 200px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border: 2px solid #B8CFE7;
  list-style: none;
  overflow: hidden;
  position: relative;
}
#content #manage_friends li:hover {
  border: 2px solid #2A5896;
  background: #729FCF;
}

#content #manage_friends li center {
  float: left;
}

.profile-list img {
  border: none;
}

.profile-list a {
  text-decoration: none;
}

.profile-list .profile_link span {
  width: 200px;
  display: block;
  overflow: hidden;
}

#manage_friends .button-bar {
  clear: both;
  padding-top: 20px;
}

#remove_friend .friend_picture {
  float: left;
  margin-right: 15px;
}

#remove_friend form {
  clear: both;
  padding-top: 20px;
}

