
@import url(manage_contacts_list.css);
@import url(pagination.css);

#remove_friend .friend_picture {
  float: left;
  margin-right: 15px;
}

#remove_friend form {
  clear: both;
  padding-top: 20px;
}

#friends-list {
  overflow: auto;
  height: 300px;
  border: 1px solid #999;
  margin: 5px 0px;
}

#pagination-friends .pagination span {
  display: inline;
}
