@import url('products.css');
@import url('folder.css');

/************* enterprise homepage style *****************/

div.event-info {
  padding: 10px;
}

ul.event-data {
  margin: 0px;
  padding: 0px;
}

#content .event-data li {
  list-style: none;
  margin-bottom: 5px;
}

#content .event-data li span {
  font-weight: bold;
  padding-right: 0.25em;
}

li.event-dates span {
  display: none;
}
li.event-dates {
  padding: 5px;
  float: right;
  font-style: italic;

  padding-left: 32px;
  background: white url(../images/icons-mime/event.png) 5px 50% no-repeat;
}

div.event-info div.event-description {
  margin-top: 10px;

  padding: 5px;
  background: white;
}

div#article-parent {
  margin-bottom: 5px;
  text-align: right;
  font-style: italic;
}

.article-body-uploaded-file {
  text-align: center;
}

/************* uploaded file *****************/

#article .gallery-navigation {
  padding: 10px 0;
}
#article .gallery-navigation .left {
  margin-right: 10px;
}
#article .gallery-navigation .right {
  margin-left: 10px;
}
#article .gallery-navigation .total-of-images {
  font-weight: bold;
}

#article .uploaded-file-description {
  background: #f6f6f6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}
