#search-page {
  position: relative; /* to the text appear on MSIE 6 */
}

.search-index {
  text-align: center;
  position: relative;
  font-weight: bold;
}

.search-index a {
  text-decoration: none;
  font-weight: normal;
}

#search-results {
  margin-top: 10px;
  /* none by default, but... Who knows the future?  :-) */
}

#search-whole-site {
  text-align: right;
  margin-top: -15px;
}

#search-results h3 {
  margin: 20px 0px 0px 20px;
}

.search-results-box {
  float: left;
  width: 49%;
}

.only-one-result-box .search-results-box {
  width: 100%;
}

.search-results-box.odd {
  margin-left: 1%;
}
.msie .search-results-box.odd {
  float: right;
}

.search-results-innerbox {
  border: 1px solid #2A5896;
  padding: 10px 0px 10px 10px;
  height: 205px;
  overflow: auto;
}

.search-results-innerbox hr {
  display: none;
}

.msie .search-results-innerbox hr {
  display: inline;
  clear: both;
  margin: -10px 0px 0px 0px;
  height: 0px;
  visibility: hidden;
}

.search-results-innerbox.common-profile-list-block {
  padding: 10px 0px 0px 10px;
  height: 215px;
}
.msie6 .search-results-innerbox.common-profile-list-block.search-results-type-profile {
  height: 205px;
}

.only-one-result-box .search-results-innerbox,
.only-one-result-box .search-results-innerbox.common-profile-list-block {
  height: auto;
  padding: 10px 4px 10px 10px;
}

#content .search-results-type-article ul,
#content .search-results-type-article li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#content .search-results-type-article li {
  padding: 2px 0px 4px 0px;
}

.search-results-type-article .item_meta {
  font-size: 10px;
  color: #888;
}

#category-comments {
  margin-left: 55%;
}

#content .search-results-comments ul,
#content .search-results-comments li,
#content #category-comments ul,
#content #category-comments li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #888;
}

.search-results-comments .comment-picture,
#category-comments .comment-picture {
  width: 20px;
  height: 20px;
  margin: -2px 5px 0px 0px;
}

#content .search-results-type-product ul,
#content .search-results-type-product li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  list-style-image: none;
  font-size: 10px;
  text-align: left;
}
#content .search-results-type-product li strong {
  font-size: 12px;
  margin-left: 5px;
}

#content .search-results-type-product li {
  padding: 0px;
  padding-bottom: 10px;
}
#content .search-results-type-product li li {
  padding-bottom: 0px;
}
.msie #content .search-results-type-product li li {
  line-height: 12px;
}

.product-pic {
  display: block;
  float: left;
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.product-pic {
  height: 60px;
}
.product-pic span {
  display: none;
}

#content .search-results-type-product ul ul {
  margin-left: 55px;
}

.search-results-type-empty div {
  text-align: center;
  color: #DDD;
  font-weight: bold;
  font-size: 30px;
  padding: 70px 10px 0px 0px;
}

