.external-environment-thumbnail {
  width: 44%;
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  text-overflow: unset;
  height: 220px;
}

.external-environment-thumbnail img{
  width: 80%;
}

.external-environment-button {
  clear: both;
}
