@import url(pagination.css);

.image-gallery {
  text-align: center;
}

.image-gallery ul {
  padding: 0px;
  text-align: center;
}

.image-gallery-item {
  width: 142px;
  height: 170px;
  list-style: none;
  margin: 5px;
  float: left;
  overflow: hidden;
}

.image-gallery-item span {
  text-align: center;
  font-size: 11px;
}

.image-gallery-item span a {
  text-decoration: none;
  color: #000
}

.image-gallery-item img {
  padding: 2px;
  border: 1px solid;
}

.image-gallery-item .folder, .image-gallery-item .uploaded-file {
  width: 120px;
  height: 120px;
  border: 1px solid;
}

.image-gallery-item .folder {
  background: transparent url('../images/icons-app/gtk-folder.png') no-repeat 50% 43%;
  display: block;
  color: #DB8;
}

.image-gallery-item .folder:hover {
  border: 4px solid;
  width: 114px;
  height: 114px;
  background-color: #FF9
}

.image-gallery-item .uploaded-file {
  background: transparent url('../images/icons-mime/empty.png') no-repeat 50% 43%;
}

#content #article .image-gallery .pagination .prev_page {
  position: relative;
  left: auto;
  right: auto;
}

#content #article .image-gallery .pagination .next_page {
  position: relative;
  right: auto;
  left: auto;
}
