
.formfieldline {
  padding: 3px 0px;
}

.formlabel {
  /* font-size: 11px; */
  color: #444;
  display: block;
  padding: 2px 5px;
}

.formfield input,
.formfield textarea {
  background: transparent url("../images/input-bg.gif") no-repeat top left;
  border: 1px solid #999;
  border-top: none;
  border-left: none;
  color: #585858;
}
.formfield input {
  text-indent: 5px;
  padding: 2px 0px;
}
.msie .formfield input {
  background-attachment: fixed;
  padding-left: 2px;
}
.formfield textarea {
  padding: 2px 0px 0px 5px;
}

.formfield.type-radio input,
.formfield.type-checkbox input {
  background: none;
  border: none;
}

.submitline {
  text-align: center;
}

