
.formfieldline {
  padding: 3px 0px;
}

.formlabel {
  /* font-size: 11px; */
  color: #444;
  display: block;
  padding: 2px 5px;
}

.formfield input,
.formfield textarea {
  background: transparent url("../images/input-bg.gif") no-repeat top left;
  border: 1px solid #999;
  border-top: none;
  border-left: none;
  color: #585858;
}
.formfield input {
  text-indent: 5px;
  padding: 2px 0px;
}
.msie5 .formfield input,
.msie6 .formfield input {
  background-attachment: fixed;
}
.msie .formfield input {
  padding-left: 2px;
}
.formfield textarea {
  padding: 2px 0px 0px 5px;
}

.formfield.type-radio input,
.formfield.type-checkbox input {
  background: none;
  border: none;
}

.submitline {
  text-align: center;
}

.fieldgroup span {
  display: block;
  float: left;
}
.fieldgroup br {
  clear: left;
}

.linesize0 span { padding-right: 15px }
.linesize1 span { width: 99% }
.linesize2 span { width: 49% }
.linesize3 span { width: 33% }

.type-img input {
  float: left;
  margin-right: 10px;
}
.type-img br {
  clear: left;
}

#profile_change_picture label {
  display: none;
}
#profile_change_picture img {
  margin-left: 10px;
}

