
div.help_message {
  z-index: 10000;
  width: 600;
  position: absolute;
  top: 50%
  height: 400px;
  margin-top: -200px;

  left: 50%;
  margin-left: -300px;
  background: yellow;

  overflow: auto;
}

