
#btShowHelp {
  position: absolute;
  top: 2px;
  right: 2px;
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.5;
	filter: alpha(opacity=50);
}
#btShowHelp:hover {
  opacity: 1;
	filter: alpha(opacity=100);
}
#btShowHelp span {
  display: none;
}

#helpBox {
  position: absolute;
  top: 350px;
  border: 2px solid #26A;
  background: #A0B8D0;
  width: 35%;
  z-index: 2000;
}

#helpBoxBody {
  border: 1px solid #E8F0F8;
  padding: 0px 5px 0px 10px;
}

.helpAvatar {
  float: left;
  margin: 5px 10px 5px -5px;
  width: 48px;
  height: 48px;
  background: url("../images/help-avatar.gif");
}
.msie6 .helpAvatar {
  margin: 5px 8px 5px -2px;
}

#helpBoxBody p {
  margin: 0px;
  padding: 8px 0px 0px 0px;
}

.help-force-clear-ieworkarroundbug {
  margin-top: -2px;
}

/* * *  Notice About Help Box  * * */

#noticeAboutHelp {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  max-width: 370px;
  padding: 10px 15px 0px 15px;
  margin-left: -200px;
  border: 2px solid #204A87;
  background: #729FCF;
  text-align: justify;
}
.msie #noticeAboutHelp {
  padding: 10px 15px;
}

#noticeAboutHelp .bts {
  text-align: center;
}

