
#btShowHelp {
  z-index: 100;
  position: absolute;
  top: 2px;
  right: 2px;
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.5;
	filter: alpha(opacity=50);
}
#btShowHelp:hover {
  opacity: 1;
	filter: alpha(opacity=100);
}
#btShowHelp span {
  display: none;
}

