/* - - - - - - - - - - - - - - - - - - - - -

Title : Lightbox CSS
Author : Kevin Hale
URL : http://particletree.com/features/lightbox-gone-wild/

Created : January 13, 2006
Modified : February 1, 2006

- - - - - - - - - - - - - - - - - - - - - */

#lightbox {
  display: none;
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: 300;
  width: 500px;
  margin-left: -265px;
  border: 1px solid #000;
  text-align: left;
  padding: 1em;
  background: #FFF;
}

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
	background-color:#000;
	-moz-opacity: 0.75;
	opacity:.75;
	filter: alpha(opacity=75);
}
#overlay[id]{
	position:fixed;
}

#lightbox.done #lbLoadMessage{
	display:none;
}
#lightbox.done #lbContent{
	display:block;
}
#lightbox.loading #lbContent{
	display:none;
}
#lightbox.loading #lbLoadMessage{
	display:block;
}

#lightbox.done img{
	width:100%;
	height:100%;
}
