
.controller-features .manage-fields-batch-actions,
.controller-features .manage-fields-batch-actions:hover {
  border-bottom:solid 2px #000;
  background-color: #EEE;
}

.controller-features .manage-fields-batch-actions td {
  font-style: italic;
}

.custom-field-item {
  position: relative;
  a.icon-delete {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
