#content #address-and-location {
  margin-bottom: 30px;

  .address-fields.loading {
    cursor: progress;
    pointer-events: none;
    opacity: 0.5;
    position: relative;
    background: none;

    &::before {
      content: ' ';
      width: 50px;
      height: 50px;
      display: block;
      background: transparent url(../images/loading.gif) no-repeat center;
      position: absolute;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
    }
  }

  p.help-message {
    text-align: center;
    margin: 0;
    font-style: italic;
  }

  .address-fields .field-privacy-selector {
    display: flex;
    align-items: center;
  }

  #location-fields {
    display: table;
    width: 100%;

    #location-map {
      width: 100%;
      height: 320px;
    }

    #map {
      height: 500px;
      margin-top: 10px;
    }

    .map {
      clear: both;
    }

    .field-with-privacy-selector {
      margin-top: 10px;
      display: flex;
      height: 20px;

      p.help-message {
        flex: 1;
        text-align: left;
      }

      span.required-field {
        line-height: 20px;
        flex: 1;
      }

      .field-privacy-selector {
        width: auto;
      }
    }
  }

  .location-bar {
    display: flex;
    justify-content: space-between;

    p.help-message {
      text-align: left;
      line-height: 35px;
    }

    a.button.with-text {
      width: 200px;
      height: 30px;
      text-align: center;
    }
  }
}
