#accessibility_menu {
  position: absolute;
  top: -10px;
  font-size: 1px;
  text-decoration: none;
}

#path_category {
  position: absolute;
  top: 45px;
  left: 50px;
  font-weight: bold;
}

#noosfero_bar {
  position: absolute;
  left: 3px;
  right: 3px;
  height: 22px;
  z-index: 4500;
  background-color: #3465A4;
}

#menu_link_to_envhome {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 35px;
  height: 100%;
  background: url(/images/icons-bar/ico-fbes-fundo-azul.gif) 0px 50% no-repeat;
  text-align: center;
  color: transparent;
  font-size: 0px;
  text-decoration: none;
}
body.category1 #menu_link_to_envhome { background-image: url(/images/icons-bar/ico-fbes-fundo-laranja.gif)  }
body.category2 #menu_link_to_envhome { background-image: url(/images/icons-bar/ico-fbes-fundo-verde.gif)    }
body.category3 #menu_link_to_envhome { background-image: url(/images/icons-bar/ico-fbes-fundo-lilas.gif)    }
body.category4 #menu_link_to_envhome { background-image: url(/images/icons-bar/ico-fbes-fundo-vermelho.gif) }
#menu_link_to_envhome span {
  position: relative;
  left: -100px;
}

body.category #noosfero_bar { background-color: #2A5896 }

body.category1  #noosfero_bar { background-color: #E26B00 }
#category1       .linkSubMenu,
#category1       ul           { background-color: #F57900 }
#category1:hover .linkSubMenu,
#category1:hover ul           { background-color: #CE5C00 }

body.category2  #noosfero_bar { background-color: #58A80A }
#category2       .linkSubMenu,
#category2       ul           { background-color: #61B60E }
#category2:hover .linkSubMenu,
#category2:hover ul           { background-color: #4E9A06 }

body.category3  #noosfero_bar { background-color: #694371 }
#category3       .linkSubMenu,
#category3       ul           { background-color: #75507B }
#category3:hover .linkSubMenu,
#category3:hover ul           { background-color: #5C3566 }

body.category4  #noosfero_bar { background-color: #B80000 }
#category4       .linkSubMenu,
#category4       ul           { background-color: #CC0000 }
#category4:hover .linkSubMenu,
#category4:hover ul           { background-color: #A40000 }

#user_box {
  position: absolute;
  top: 0px;
  right: 0px;
}

#user_box a:link,
#user_box a:visited {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  line-height: 20px;
  color: #FFF;
  margin-right: 10px;
  opacity: 0.7;
  display: block;
  float: left;
  height: 20px;
}
#user_box a:hover,
#user_box a:active {
  opacity: 1;
}

#user_box a#link_to_envhome {
  margin-right: 50px;
}

#link_go_home,
#link_go_home:hover {
  position: relative;
  padding: 0px;
  margin: 0px;
}
#link_go_home img {
  position: absolute;
  top: -1px;
  left: -23px;
  border: none;
}
.msie #link_go_home img {
  top: -1px;
}

#link_edit_profile {
  padding-left: 20px;
  background: url(/images/icons-bar/ico-edit.gif) 0px 0% no-repeat;
}

#link_logout {
  padding-left: 20px;
  background: url(/images/icons-bar/ico-exit.gif) 0px 0% no-repeat;
}

#cat_menu {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#cat_menu a {
  font-weight: bold;
  line-height: 22px;
  text-decoration: none;
  color: #FFF;
}

#category1 ul a:hover, #category1 a:active { color: #FDD79E }
#category2 ul a:hover, #category2 a:active { color: #C4F099 }
#category3 ul a:hover, #category3 a:active { color: #D6BFD3 }
#category4 ul a:hover, #category4 a:active { color: #F79494 }

.linkSubMenu {
  cursor: default;
  float: left;
  display: block;
  margin-left: 5px;
  padding: 0px 5px;
  height: 100%;
  position: relative;
  left: 50px;
}

#cat_menu li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline;
}

#cat_menu ul {
  display: none;
  position: absolute;
  top: 22px;
  left: 0px;
  width: 100%;
  padding: 0px 0px 0px 20px;
  margin: 0px;
}

#cat_menu ul a {
  background: url(/images/bolota.gif) 0% 50% no-repeat;
  padding-left: 15px;
  margin-left: -11px;
}
#cat_menu ul span {
  background: url(/images/bolota.gif) 100% 50% no-repeat;
  padding-right: 15px;
}

