/* Geral Bar */
#noosfero_bar {
  position: fixed;
  height: 11px;
  padding: 0px;
  margin-top: -5px;
  font-family: Verdana, Arial, Serif-sans;
  z-index: 9999;
}

/* Menu Itens Accessibility */

#accessibility_menu {
  position: absolute;
  right: 10px;
  top: 35px;
  font-family: Verdana, Arial, Serif-sans;
  font-size: 10px;
  color: #dfdfdf;
}

#accessibility_menu a {
  padding-left: 9px;
  margin-left: 5px;
  background: url("../images/ico_enterlink.gif");
  background-repeat: no-repeat;
  background-position: 0px 6px;
  color: #dfdfdf;
  text-decoration: none;
}

#accessibility_menu a:hover {
  color: #ffffff;
}

/* Div Header */

#user_options a {
height: 35px !important ;
color: #ffffff !important ;
font-size: 10px !important ;
font-family: Sans-serif !important ;
font-weight: bold !important ;
vertical-align: middle !important ;
padding: 0px 5px 0px 5px !important ;
text-decoration: underline !important ;
}

/* Itens Navigation Bar */

#navigation_bar {
  float: left;
  padding: 0px !important;
  margin: 0px !important;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}

#navigation_bar ul {
  padding: 0px !important;
  margin: 0px !important;
}

#navigation_bar ul li {
  list-style: none;
  display: inline;
  font-size: 17px;
  margin-right: 5px;
}

#navigation_bar ul li a {
  float: left;
  display: block;
  margin-top: 5px;
  text-align: center;
  width: 124px;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
}

#navigation_bar ul ul {
margin: 0px;
padding: 0px;
width: 100%;
left: 0px;
position: absolute;
top: 40px;
display: none;
z-index: 999;
}

#navigation_bar ul li ul li {
 text-align: center;
}

#navigation_bar ul li ul li a {
 display: inline;
 width: auto;
 padding-left: 5px;
 padding-right: 5px;
 margin: 0px;
 text-align: center;
}

#search_box {
float: right;
margin-top: 10px;
margin-right: 10px;
height: 20px;
line-height: 20px;
vertical-align: middle;
}

#input_search {
border: 1px outset #545454;
color: #545454;
background-color: #dfdfdf;
height: 20px;
width: 130px;
font-size: 12px;
}

#input_search:hover, #input_search:focus {
border: 1px inset #dfdfdf;
color: black;
background-color: white;
}

#button_search {
border: 1px outset #545454;
background-color: #dfdfdf;
color: #545454;
height: 20px;
font-size: 11px;
}

#button_search:hover, #button_search:focus {
background-color: #ffffff;
color: #545454;
border: 1px inset #dfdfdf;
}

/* Path Category */

#path_category {
  clear: both;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #fff;
}

/* Itens Colors Change */

/* ITEM 0 */

#noosfero_bar.category {
  background: url("../images/bg_bgmenu.png") repeat-x;
  background-position: 0px -11px;
}

#navigation_bar ul li#category ul {
 background-color: #204a87 !important;
}

#wrap.category {
  border: 5px solid #204a87 !important;
}

#category a {
  background: url("../images/bg_menu_options.png") no-repeat;
  background-position: 0px 0px;
}

li#category.active a {
  background-position: 0px -38px;
}

li#category:hover a {
background-position: 0px -76px !important;
}

li#category ul li a {
  color: white;
  background: #204a87;
  border-right: 1px solid black;
}

li#category ul li a:hover {
  color: black;
}

/* ITEM 1 - Orange */
#noosfero_bar.category1 {
  background: url("../images/bg_bgmenu.png") repeat-x;
  background-position: 0px 0px;
}

#navigation_bar ul li#category1 ul {
 background-color: #ce5c00 !important;
}

#wrap.category1 {
border: 5px solid #ce5c00 !important;
}

#category1 a {
  background: url("../images/bg_menu_options.png") no-repeat;
  background-position: -124px 0px;
}

li#category1.active a {
  background-position: -124px -38px;
}

li#category1:hover a {
background-position: -124px -76px !important;
}

li#category1 ul li a {
  color: white;
  background: #ce5c00;
  border-right: 1px solid black;
}

li#category1 ul li a:hover {
  color: black;
}

/* ITEM 2 - Green */
#noosfero_bar.category2 {
  background: url("../images/bg_bgmenu.png") repeat-x;
  background-position: 0px -22px;
}

#navigation_bar ul li#category2 ul {
 background-color: #4e9a06 !important;
}

#wrap.category2 {
border: 5px solid #4e9a06 !important;
}

#category2 a {
  background: url("../images/bg_menu_options.png") no-repeat;
  background-position: -246px 0px;
}

li#category2.active a {
  background-position: -246px -38px;
}

li#category2:hover a {
background-position: -246px -76px !important;
}

li#category2 ul li a {
  color: white;
  background: #4e9a06;
  border-right: 1px solid black;
}

li#category2 ul li a:hover {
  color: black;
}

/* ITEM 3 - Purple */
#noosfero_bar.category3 {
  background: url("../images/bg_bgmenu.png") repeat-x;
  background-position: 0px -33px;
}

#navigation_bar ul li#category3 ul {
 background-color: #5c3566 !important;
}
 
#wrap.category3 {
border: 5px solid #5c3566 !important;
}

#category3 a {
  background: url("../images/bg_menu_options.png") no-repeat;
  background-position: -368px 0px;
}

li#category3.active a {
  background-position: -368px -38px;
}

li#category3:hover a {
background-position: -368px -76px !important;
}

li#category3 ul li a {
  color: white;
  background: #5c3566;
  border-right: 1px solid black;
}

li#category3 ul li a:hover {
  color: black;
}

