/* Notice box */

div#notice {
  background-color: #000;
  color: white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 100000;
  padding: 2em;
  width: 15em;
  min-height: 1em;
  position: fixed;
  top: 3em;
  right: 3em;
  left: 0.5em;
  pointer-events: none;
}
