#online-doc {
  margin-left: 200px;
}
#online-doc-navigation {
  float: left;
  width: 190px;
}
#online-doc-navigation ul {
  padding: 5px;
}
#online-doc-navigation li {
  list-style: none;
  margin-bottom: 5px;
}
#online-doc-navigation h1, #online-doc h1 {
  text-align: left;
}
#online-doc-navigation ul {
  margin: 0;
  padding: 0;
}
#online-doc-text img {
  border: 1px solid #CCC;
  padding: 2px;
}
#online-doc-text li img {
  margin: 10px 0px;
}
