.pagination {
  text-align: center;
  clear: both;
}

.pagination .disabled {
  color: #888;
}

.pagination .current {
  font-weight: bold;
}

.pagination a {
  text-decoration: none;
}

.pagination a:hover {
  color: #2e3436;
}
