#profile-data .type-text input,
#profile-data .type-password input,
#profile-data .type-select select {
  width: 220px
}

#profile-data .type-select select.select-schooling {
  width: 108px;
}

#profile-data .select-birth-date select#profile_data_birth_date_3i {
  width: 47px;
}

