
#profile-header, #profile-footer {
  clear: both;
  max-height: 150px;
  max-width: 100%;
  overflow: hidden;
}

.controller-profile #pagination-profiles .pagination span {
  display: inline;
}
.no-boxes {
  margin: 0px;
}
.controller-profile #content .no-boxes h1, .controller-profile #content .no-boxes table th {
  text-align: left;
}
.controller-profile .private-profile-message {
  font-style: italic;
  border: 1px solid #ddd;
  background: #ffd;
  padding: 10px;
}
.controller-profile .public-profile-description {
  font-style: italic;
  border: 0;
  background: transparent;
  color: black;
  padding: 10px;
}
.controller-profile .private-profile-message, .controller-profile .private-profile-description {
  margin: 5px 0px 5px 160px;
}
.controller-profile_design .article-block-edition option, .controller-environment_design .article-block-edition option {
  width: 470px;
  overflow-x: hidden;
}

#circles-checkboxes {
  text-align: left;
  margin-left: 15%;
}

#circles-checkboxes .circle:last-child {
  margin-bottom: 10px;
}

.profile {
  padding: 0px 10px;
  @media only screen and (max-width: 540px) { padding: 0px; }
}

.ui-tabs, .ui-tabs-nav {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  li.tab {
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    display: inline-block;
    float: none !important;
    margin: -1px !important;
    position: default !important;
    a {
      border: none !important;
      border-radius: 0 !important;
      display: inline-block;
      float: none !important;
      outline: none !important;
      padding: 0.8em 1.5em !important;
      @media only screen and (max-width: 960px) { padding: 0.5em 0.8em !important; }
    }
    &.ui-state-default {
      a { color: #bbb !important; }
    }
    &.ui-state-active {
      a { color: #555 !important; }
      border: 1px solid #ddd !important;
      border-top: 2px solid #f0ad4e !important;
      border-bottom: 1px solid #fff !important;
    }
  }
}
