// FIXME: move to more specific places

.profile-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.profile-list li {
  float: left;
  margin: 5px;
  padding: 5px;
  list-style: none;
  position: relative;
}

.profile-list li:hover {
  background-color: #eeeeec;
}

.profile-list img {
  border: none;
}
.controller-favorite_enterprises .profile-list a.profile-link,
.controller-friends .profile-list a.profile-link,
.list-profile-connections .profile-list a.profile-link,
.profiles-suggestions .profile-list a.profile-link {
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 11px;
}
.controller-favorite_enterprises .profile-list a.profile-link:hover,
.controller-friends .profile-list a.profile-link:hover,
.profiles-suggestions .profile-list a.profile-link:hover {
  color: #FFF;
}
.controller-favorite_enterprises .profile-list .profile_link span,
.controller-friends .profile-list .profile_link span,
.box-1 .profiles-suggestions .profile-list .profile_link span {
  width: 80px;
  display: block;
  overflow: hidden;
}
.controller-favorite_enterprises .profile-list,
.controller-friends .profile-list,
.profiles-suggestions .profile-list {
  position: relative;
}

.controller-favorite_enterprises .profile-list .controll,
.controller-friends .profile-list .controll,
.profiles-suggestions .profile-list .controll {
  position: absolute;
  top: 7px;
  right: -5px;
}
.controller-favorite_enterprises .profile-list .controll a,
.controller-friends .profile-list .controll a,
.profiles-suggestions .profile-list .controll a {
  display: block;
  margin-bottom: 2px;
}
.controller-favorite_enterprises .msie6 .profile-list .controll a,
.controller-friends .msie6 .profile-list .controll a,
.profiles-suggestions .msie6 .profile-list .controll a {
  width: 0px;
}
.controller-favorite_enterprises .button-bar,
.controller-friends .button-bar,
.profiles-suggestions .button-bar {
  clear: both;
  padding-top: 20px;
}

.profiles-suggestions .profile-list .extra_info p {
  margin: 0px;
}

.profiles-suggestions .profile-list .extra_info a {
  text-decoration: none;
  padding: 0;
}

.profile-connections {
  height: 20px;
}

.tag-connections {
  margin-left: 2px;
  margin-top: 3px;
  overflow: hidden;
  width: 100px;
}

#content .block-footer-content .profiles-suggestions .tag-connections a.more-tag-connections {
  text-decoration: underline;
  font-size: 14px;
}

#content .profiles-suggestions .profile-list .extra_info .profile-suggestion-connection-icon {
  position: relative;
}

.profiles-suggestions .profile-list .extra_info big {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.profiles-suggestions .profile-list .extra_info span {
  background-position: 4px 50%;
  background-repeat: no-repeat;
  display: block;
  line-height: 20px;
  padding: 0 0 0 25px;
  width: auto;
}

.list-profile-connections .profile-list li {
  border: 1px solid transparent;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.box-1 .profiles-suggestions .profile-list li {
  width: 100px;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.profiles-suggestions .profile-list .remove-suggestion,
.box-1 .profiles-suggestions .profile-list li > a {
  text-decoration: none;
}

.common-profile-list-block .profiles-suggestions .profile-list li {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.common-profile-list-block .profiles-suggestions .profile-list li img {
  float: left;
}

#content .common-profile-list-block .profiles-suggestions .profile-list a.profile-link {
  text-align: left;
  position: relative;
}

#content .common-profile-list-block .profiles-suggestions .profile-list li {
  width: 100%;
  max-width: 100%;
  padding: 3px 0;
  border-radius: 5px;
}

.common-profile-list-block .profiles-suggestions .profile-list li img {
  float: left;
}

#content .common-profile-list-block .profiles-suggestions .profile-list a.profile-link {
  text-align: left;
  position: relative;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 5px;
}

.common-profile-list-block .vcard, .comment-actions .vcard {
  position: relative !important;
  float: left;
}
#content .comment-actions .vcard {
  padding-right: 20px;
}
#content .comment-actions .vcard .menu-submenu-trigger {
  display: block;
}
.common-profile-list-block .vcard .menu-submenu-trigger, .menu-submenu-trigger, .comment-actions .vcard .menu-submenu-trigger {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -1px;
  left: -3px;
  overflow: hidden;
  background: #efefef url(../images/top-arrow.png) center center no-repeat;
  border: 1px solid #ccc;
  z-index: 2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.common-profile-list-block .vcard .menu-submenu-trigger:hover, .menu-submenu-trigger:hover, .comment-actions .vcard .menu-submenu-trigger:hover {
  background: #fff url(../images/top-arrow.png) center center no-repeat;
  border: 1px solid #ccc;
}
.common-profile-list-block .vcard .menu-submenu a, .comment-actions .vcard .menu-submenu a {
  float: none;
  display: block;
  height: auto;
  font-size: 12px;
}
.action-profile-members .profile_link{
	position: relative;
}
.action-profile-members .profile_link span.new-profile:last-child{
	position: absolute;
	top: 3px;
	right: 2px;
	text-transform: uppercase;
	color: #FFF;
	font-size: 9px;
	background: #66CC33;
	padding: 2px;
	display: block;
	width: 35px;
	font-weight: 700;
}
.action-profile-members .profile_link .fn{
	font-style: normal;
	color: #000;
}
