#profile-wall, #profile-network, #person-profile {
  border-top: 1px solid #ddd;
  margin-top: 0 !important;
  padding: 2em 0em 0em 0.5em !important;

  p {
    word-break: break-all;
  }

  small a { padding-left: 4px; }

  #leave_scrap {
    margin-bottom: 10px;
    width: 95%;

    textarea {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 5px;
      height: 120px;
      line-height: 18px;
      padding: 6px;
      width: 100%;
    }

    .button-bar {
      display: block;
      text-align: right;
      a {
        font-weight: 700;
        text-align: center;
        width: 100px;
      }
    }
  }
}

.profile-wall-actions {
  min-width: 15px;
  margin: 5px;
  @media only screen and (max-width: 540px) { margin: 5px 0px; }
  text-align: left;
  a {
    display: none;
    font-size: 0.9em !important;
  }
  i {
    color: #ccc;
    &:hover {
      color: #babdb6;
    }
  }
}


#profile-activity ul, #profile-network ul, #profile-wall ul {
  padding-left: 0;
}

#profile-wall ul#profile_activities {
  border-top: 1px solid #e8e8e8;
}

#profile-network {
  ul.profile-activities {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.profile-activities {
  padding-top: 10px;
  margin-top: 25px;
}

.profile-activities li {
  color: #333;
  display: flex;
  padding: 12px 0px 20px 0px;
  margin-bottom: 3px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  .profile-activity-image a img {
    border-radius: 100%;
  }
  .profile-activity-description {
    flex-grow: 1;
    padding: 0px 10px;
    @media only screen and (max-width: 540px) { padding: 0px 0px 0px 4px; }
    hr {
      border: none;
      display: block !important;
      padding: 5px 0px;
      margin: 0;
    }

    .profile-activity-text, .profile-activity-lead {
      word-break: break-all;
      a {
        color: #333;
      }
    }

    a {
      display: inline-block;
    }

    ul.scrap-replies li {
      padding: 8px 0px 8px 8px;
      .profile-activity-description {
        padding-left: 0px;
        .profile-activity-text {
          margin: 0px;
        }
      }
      .profile-wall-actions a.remove-comment {
        display: none;
      }
    }

    .view-more-replies {
      margin-bottom: 5px;
      text-align: center;
      a {
        color: #555 !important;
        font-size: 11px;
        text-decoration: none !important;

        &:visited {
          color: #555;
        }

        &:hover {
          color: #707070 !important;
        }
      }
    }

    .profile-wall-reply, .profile-network-reply {
      display: none;
    }

    .profile-wall-reply-form, .profile-network-reply-form {
      margin-top: 10px;
      a {
        color: #555;
        display: inline-block;
        vertical-align: top;
        margin-right: 4px;
      }

      img {
        border-radius: 100%;
        width: 34px;
        padding: 0 !important;
      }

      textarea {
        border-radius: 4px;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        line-height: 20px;
        height: 30px;
        padding: 4px 6px;
        resize: none !important;
        width: 85%;
        @media only screen and (max-width: 960px) { width: 75%; }
      }
    }

    .activity-type-community {
      margin-bottom: 20px;
    }
  }
}

.profile-activity-lead img {
  width: 124px;
  float: left;
  margin-right: 5px;
}

.profile-activity-lead {
  text-align: left;
  margin: 8px 0px 12px 0px;
}

.profile-activity-lead .article-name {
  a {
    color: #333;
    &:visited {
      color: #333;
    }
  }
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-activity-article-forum .profile-activity-lead {
  height: 50px;
  width: 297px;
  padding-left: 60px;
  float: none;
  overflow: hidden;
  background: transparent url(../images/forum-activity-bg.png) left center no-repeat;
}

.profile-activities-more-pages {
  margin-top: 10px;
  text-align: center;
  a.view-more-activities {
    color: #212e3c !important;
    display: inline-block;
    width: 100%;
    text-decoration: none !important;

    &:visited {
      color: #212e3c !important;
    }

    &:hover {
      color: #555 !important;
    }
  }

  .profile-activity-item {
    text-align: initial;
  }
}

.profile-activity-article-forum .see-forum {
  text-align: right;
}

.profile-activity-article-forum .see-forum a {
  background: transparent url(../images/forum-activity-icon.png) left center no-repeat;
  padding-left: 30px;
  font-weight: bold;
  color: #dadada !important;
  text-decoration: none;
  font-size: 11px;
}

.profile-activity-article-forum .profile-activity-lead b {
  font-weight: normal;
}

#profile-activity li a, #profile-network li a, #profile-wall li a {
  font-weight: bold;
  text-decoration: none;
}

#profile-activity li a:hover, #profile-network li a:hover, #profile-wall li a:hover {
  text-decoration: underline;
}

.profile-activity-text {
  margin: 0;
  a:first-child {
    margin: 0;
  }
}

.profile-activity-send-reply {
  a.profile-send-reply {
    color: #555;
    font-size: 11px;

    &:visited {
      color: #555;
    }

    &:hover {
      color: #707070;
    }
  }
}

.view-all-comments {
  a {
    color: #555 !important;
    font-size: 11px !important;
    text-decoration: none !important;

    &:visited, &:hover {
      color: #707070 !important;
    }
  }
}
.remove-item-loading {
  background: transparent url(../images/loading-small.gif) no-repeat left center !important;
}

li.profile-activity-item.upload_image .more,
li.profile-activity-item.upload_image .upimg {
  display: block;
  float: left;
  width: 114px;
  height: 114px;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  border: 4px solid #D2D2D2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 3px 6px 3px 0px;
}

#wrap-1 li.profile-activity-item.upload_image .upimg:hover {
  text-decoration: none;
}

li.profile-activity-item.upload_image .more,
li.profile-activity-item.upload_image .upimg.morethen2 {
  width: 50px;
  height: 50px;
}
li.profile-activity-item.upload_image .activity-gallery-images-count-3 .pos3 {
  /* reduce size only for 4 or more itens */
  width: 114px;
  height: 114px;
}

li.profile-activity-item.upload_image .activity-gallery-images-count-4 .pos3 {
  /* make a line-break on this case */
  float: none;
  margin-left: 256px;
}

li.profile-activity-item.upload_image .more {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #DDD;
  background: #888;
  cursor: pointer;
}
li.profile-activity-item.upload_image .more:hover {
  color: #EEE;
  background: #999;
}

li.profile-activity-item.upload_image .morethen5 {
  display: none;
}

li.profile-activity-item.upload_image .show-all .morethen5 {
  display: block;
}

li.profile-activity-item.upload_image .show-all .more {
  display: none;
}

li.profile-activity-item.upload_image .activity-gallery-images-count-1 .upimg,
li.profile-activity-item.upload_image .activity-gallery-images-count-1 .upimg img {
  /* Only ".activity-gallery-images-count-1" has a "img" inside */
  float: none;
  display: inline-block;
  width: 100%;
  height: auto;
  max-height: 300px;
}

#profile-wall li.profile-activity-item.join_community .profile-activity-text a img,
#profile-wall li.profile-activity-item.new_friendship .profile-activity-text a img,
#profile-wall li.profile-activity-item.new_follower .profile-activity-text a img,
#profile-network li.profile-activity-item.join_community .profile-activity-text a img,
#profile-network li.profile-activity-item.new_follower .profile-activity-text a img,
#profile-network li.profile-activity-item.new_friendship .profile-activity-text a img {
  margin: 5px 5px 0 0;
  padding: 1px;
  border: 1px solid #ccc;
}

#profile-wall li.profile-activity-item.create_article,
#profile-netowrk li.profile-activity-item.create_article {
  position: relative;
}

.profile-activity-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
}

#profile-activity .profile-wall-scrap-replies li,
#profile-network .profile-network-scrap-replies li,
#profile-wall .profile-wall-scrap-replies li {
  border-bottom: none;
}
#profile-activity .profile-activity-image, #profile-network .profile-network-image, #profile-wall .profile-wall-image {
  float: left;
  height: 60px;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  text-align: center;
}

#profile-activity .profile-activity-description, #profile-network .profile-network-description, #profile-wall .profile-wall-description {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 85%;
}
#profile-wall .profile-wall-description {
  border: 0;
}
#profile-activity .profile-activity-description .icon-delete span, #profile-network .profile-network-description .icon-delete span, #profile-wall .profile-wall-description .icon-delete span {
  display: none;
}

#profile-activity .profile-activity-description .icon-delete,
#profile-network .profile-activity-description .icon-delete,
#profile-wall .profile-wall-description .icon-delete {
  position: absolute;
  top: 4px;
  right: 4px;
  background-position: center center;
  visibility: hidden;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#profile-wall .profile-wall-text {
  padding-top: 0;
}

.profile-activities .profile-activity-time,
#profile-network .profile-activity-time,
#profile-wall .profile-wall-time {
  color: #90949c;
  font-size: 12px;
  letter-spacing: -0.2px;
  text-align: right;
  @media only screen and (max-width: 540px) {
    display: block;
    text-align: left;
    .bullet-separator {
      display: none;
    }
  }
}

.bullet-separator {
  padding: 0 5px;
  @media only screen and (max-width: 540px) { padding: 0 1px; }
}

#profile-activity hr, #profile-network hr, #profile-wall hr {
  display: none;
}
#profile-activity .profile-activity-send-message, #profile-network .profile-network-send-message, #profile-wall .profile-wall-send-message {
  font-size: 10px;
  margin: 2px 0 0 0;
}
#profile-activity .profile-activity-send-message a, #profile-network .profile-network-send-message a, #profile-wall .profile-wall-send-message a {
  text-decoration: none;
}
#profile-activity .profile-activity-text img, #profile-network .profile-network-text img, #profile-wall .profile-wall-text img {
  padding: 1px;
  border: 1px solid #ccc;
  margin: 4px 3px 0 0;
  max-width: 20px;
  max-height: 20px;
}
.profile-wall-image {
  background: transparent;
  position: relative;
  left: 1px;
  z-index: 2;
}
#leave_scrap_content {
  border: 1px solid #ccc;
  padding: 2px;
}
#profile-network .upload_image .profile-network-text span, #profile-activity .upload_image .profile-activity-text span {
  width: 109px;
  height: 109px;
  overflow: hidden;
  display: inline-block;
  padding: 0;
  margin: 4px 3px 0 0;
  text-align: center;
}
#profile-network .upload_image .profile-network-text span img, #profile-activity .upload_image .profile-activity-text span img {
  max-width: none;
  max-height: none;
}
#profile-network .upload_image .profile-network-text img, #profile-activity .upload_image .profile-activity-text img {
  padding: 0;
  border: 0;
  margin: 0;
}
#leave_scrap_response {
  font-size: 12px;
  text-align: right;
  font-weight: bold;
  margin: 4px;
}
.profile-network-message-response, .profile-wall-message-response {
  color: #204a87;
  padding: 4px;
  text-align: right;
  font-size: 12px;
}
.profile-wall-sender, .profile-wall-time, .profile-wall-description, .profile-activity-description, .profile-network-time, .profile-network-description {
  padding-left: 5px;
  margin: 5px;
}

.profile-network-sender,
.profile-activity-sender,
.profile-wall-sender {
  margin: 0;
  a.profile-name {
    color: #333;
    &:visited {
      color: #333;
    }
  }
  + .profile-activity-text {
    margin: 0.5em 0em;
    line-height: 20px;
  }

  a {
    @media only screen and (max-width: 540px) { display: block; }
  }
}
#profile-activity .profile-activity-time, #profile-network .profile-network-time, #profile-wall .profile-wall-time {
  margin: 0;
}
#profile-network textarea, #profile-wall textarea {
  border: 1px solid #ccc;
  overflow: hidden;
}

.profile-network-message,
.profile-wall-message {
  margin: 0;
}
.limited-text-area {
  margin-bottom: 15px;
}
.limited-text-area p {
  margin: 0;
  font-size: 11px;
  text-align: right;
}
#leave_scrap input.button {
  float: right;
  margin-bottom: 10px;
}
#leave_scrap_content_limit, #leave_scrap_content_left {
  float: left;
  margin: 4px 2px 0px 2px;
}

#leave_scrap textarea {
  overflow: hidden;
}
#leave_scrap .loading textarea {
  background: #ffffff url('/images/loading-small.gif') 50% 50% no-repeat;
  cursor: progress;
}
#leave_scrap .submit {
  margin-top: 5px;
}
.profile-send-reply {
  color: #aaa;

}
#content .profile-send-reply:hover {
  text-decoration: none;
}

#profile-wall .profile-wall-scrap-replies .profile-wall-description {
  background: transparent;
}
#profile-wall .profile-wall-scrap-replies textarea {
  margin-left: 2px;
}
#profile-network .profile-network-description .limited-text-area p, #profile-wall .profile-wall-description .limited-text-area p {
  margin-right: 10px;
}
.limited-text-area div.fieldWithErrors {
  background: transparent;
}

ul.profile-wall-activities-comments, ul.profile-network-activities-comments {
  border-left: 1px solid #e8e8e8;
  margin: 8px 0px;

  ul {
    display: none;
  }

  li {
    border-bottom: none;
    padding: 8px 0px 8px 12px;
    a img {
      max-width: 36px;
    }
  }

  .bullet-separator {
    @media only screen and (max-width: 540px) { padding: 0 1px; }
  }
}

#profile-wall ul.profile-wall-activities-comments ul,
#profile-network ul.profile-network-activities-comments ul {
  padding-left: 12px;
}

#profile-wall .profile-wall-activities-comments .comment_reply,
#profile-wall .profile-wall-activities-comments h4,
#profile-network .profile-network-activities-comments .comment_reply,
#profile-network .profile-network-activities-comments h4 {
  display: none;
}

#profile-wall .profile-wall-activities-comments .comment-picture,
#profile-network .profile-network-activities-comments .comment-picture {
  text-align: center;
}

#profile-wall .profile-wall-activities-comments .comment-text p,
#profile-network .profile-network-activities-comments .comment-text p {
  margin: 0;
}

#profile-wall .profile-wall-activities-comments .profile-activity-time,
#profile-network .profile-network-activities-comments .profile-activity-time {
}

#profile-wall .profile-wall-activities-comments .comment-details,
#profile-network .profile-network-activities-comments .comment-details {
  padding: 0;
}

#profile-wall .profile-wall-activities-comments .article-comment .button-bar,
#profile-network .profile-network-activities-comments .article-comment .button-bar {
  float: right;
  padding: 0;
  text-align: right;
  position: static;
  clear: none;
  display: none;
}

#profile-wall .profile-wall-activities-comments .comment-content:hover .button-bar,
#profile-network .profile-network-activities-comments .comment-content:hover .button-bar {
  display: block;
}

#profile-wall .profile-wall-activities-comments .article-comment .button-bar a.button,
#profile-network .profile-network-activities-comments .article-comment .button-bar a.button {
  background: transparent;
  border: 0;
  height: auto;
  line-height: auto;
  text-decoration: none;
  font-size: 10px;
  padding: 0;
  margin: 0;
  display: inline;
  position: static;
  float: none;
  font-weight: normal;
}

#profile-wall .profile-wall-activities-comments .article-comment .button-bar a.button:hover,
#profile-network .profile-network-activities-comments .article-comment .button-bar a.button:hover {
  text-decoration: underline;
}

#profile-wall .profile-wall-activities-comments .article-comment .button-bar .button span,
#profile-network .profile-network-activities-comments .article-comment .button-bar .button span {
  display: inline;
  position: static;
  display: inline;
}


#profile-wall .profile-wall-description .icon-reply {
  visibility: hidden;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#profile-wall .comment-wrapper-1 {
  margin-left: 0;
}
#profile-wall .comment-balloon-content {
  padding: 3px 0px;
}
.profile-wall-reply {
  margin: 0;
}

.scrap-replies .profile-wall-reply-form {
  margin-left: 0px;
}

.profile-wall-scrap-replies {
  float: right;
  margin-right: 2px;
}

/* Profile activity relative dimensions */

.profile-activities .profile-activity-image,
#profile-network .profile-activity-image,
#profile-wall .profile-wall-image {
  margin: 5px;
}

#profile-activity .profile-activity-description,
#profile-network .profile-activity-description,
#profile-wall .profile-wall-description {
  word-wrap: break-word;
}

.profile-wall-scrap-replies {
  width: 100%;
  position: relative;
}
.profile-wall-scrap-replies li {
  position: relative;
  width: 80%;
  left: 19%;
}

.article-translations-menu {
  bottom: 17px;
}
.article-translations-menu {
  text-decoration: none !important;
  height: 0;
  float: right;
}
.article-translations .menu-submenu-header, .article-translations .menu-submenu-content, .article-translations .menu-submenu-footer {
  background: none;
}
.article-translations .menu-submenu {
  bottom: auto;
  right: 0;
  border: 1px solid;
  background: #fff;
}
.article-translations .menu-submenu-list {
  list-style: none;
}
