
.search-relevance {
  font-size: smaller;
  font-style: italic;
  color: gray;
}

.search-relevance, .search-result-text {
  margin-left: 40px;
}

.search-tagged-items {
  margin-top: 1em;
}

/***** search-popup ***************************/

#search-popup h2 {
  color: #2A5896;
  font-size: 20px;
}
#search-popup h3 {
  color: #2A5896;
  font-size: 16px;
}

#search-popup .search-field {
  text-align: center;
}

#search-popup .search-options ul,
#search-popup .search-options li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#search-popup .search-options ul {
  clear: left;
}

#search-popup .search-options {
  border: 1px solid #2A5896;
  padding: 0px 0px 5px 20px;
  margin-top: 20px;
}

#search-popup .search-options h3 {
  float: left;
  margin: -10px 0px 0px 0px;
  background: #FFF;
  padding: 0px 5px;
}

#search-popup .search-options li {
  float: left;
  width: 33%;
  padding: 2px 0px;
}

#search-popup .button-bar {
  clear: left;
  padding-top: 0px;
}

