
/* sitemap and agenda */

ul.sitemap-content {
  list-style: none;
  margin-top: -10px;
  padding: 0 1em;

  .item-info {
    border: none;
    border-bottom: 1px solid #ccc;
  }
}

.agenda-item a.icon {
  background-image: none;
  line-height: 150%;
}

.agenda-item:hover, .sitemap-item:hover, .sitemap-item:hover a {
  background-color: transparent;
  text-decoration: underline;
}

.sitemap-item a:link, .agenda-item a:link, .sitemap-item a:visited, .agenda-item a:visited, .agenda a:hover {
  border: none;
  text-decoration: none;
}

.sitemap-item a.icon {
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 20px;
  display: inline-block;
  line-height: 16px;
}

.sitemap-item img, .agenda-item img {
  border: none;
}
