<h2> <%=_('Listing products') %> </h2>

<p> <%= link_to _('Add product'), :action => 'new' %> </p>

<% @consumptions.each do |consumption| %>
  <p> <b> <%= link_to_category(consumption.product_category)  %> </b>  
      <%= link_to _('destroy'), :action => 'destroy', :id => consumption %> <br/>
<% end %>
