<h2> <%= _('Add product') %> </h2>

<%= error_messages_for :consumption  %>

<% form_for :consumption, @consumption do |f|  %>
  <p>  <%= _('Product: ') %> <%= f.select "product_category_id", ProductCategory.find(:all).map{|pc| [pc.name, pc.id]} %></p>
  <%= submit_tag _('Add product')  %>
  <%= link_to _('Cancel'), :action => 'index' %>
<% end %>
