<h1><%= _('Edit Users')%></h1>

<%= render :partial => 'index_buttons' %>

<div id="search-users">
  <%= render :partial => 'environment_users_search_form' %>
</div>
<div id="users-list">
  <%= render :partial => 'users_list' %>
</div>

<%= render :partial => 'index_buttons' %>
