<div class="panel-heading">
  <%= button_to_function 'menu-ctrl-panel', t('open_graph_plugin.views.track.config.activity.configure'), "",
    class: 'activity-config config-button', option: 'success', size: 'xs', 'data-target' => "#track-#{track}", 'data-toggle' => 'collapse', 'aria-controls' => 'collapseTwo' %>
  <a href="#" onclick='return open_graph.track.config.toggleEvent(this, event)' class='activity-label'>
    <%= render 'heading', f: f, track: track, context: context, klass: klass %>
  </a>
</div>

<div id="track-<%=track%>" class="panel-body collapse">
  <%= render 'track_objects', f: f, track: track, objects: klass.objects, klass: klass, context: context %>
</div>

