/* Noosfero core and Cube Bootstrap styles Overrides/Customizations */

/* Noosfero Overrides */
#theme-header {
  min-height: 20px !important;
  height: 100% !important;
}

#wrap-2 {
  padding: 0px !important;
  border: none !important;
  background-color: #eee;
}

#user{
  margin: {
    top: 10px;
  }
}

//Bootstrap Overrides
.navbar >.container .navbar-brand {
  width: 220px !important;
}

.row {
  margin: {
    right: 8px !important;
  }
}

.container {
  padding: {
    right: 0px !important;
    left: 0px !important;
  }
}

//Cube Theme Overrides
#nav-col {
  height: 100%;
}

#content-wrapper {
  background: none !important;
}

#header-navbar {
  z-index: 999 !important;
}

#logo.navbar-brand {
  img {
    float: left;
    width: 60px !important;
    height: 60px !important;
    margin: 0px {
      top: -10px;
    }
  }

  .logo-title {
    float: left;
    font: {
      family: fantasy;
      size: 16pt;
    }
  }
}

#content-wrapper {
  min-height: 100% !important;
}

//New Classes and Customizations

.full-content {
  /*
  * Inform additional rules here to content
  * when the sidebar is hidden (user not logged in).
  */
  margin-left: 0px !important;
}
