<div class='description'>
  <%= _('This text will be showed as a welcome message to users after signup') %><br/><br/>
</div>

<%= labelled_form_field(_('Body'), text_area(:environment, :signup_welcome_screen_body, :cols => 40, :style => 'width: 100%', :class => 'mceEditor')) %>
