<h1><%= _('Administrator Panel') %></h1>

<p><%= _('You, as an virtual community administrator, has the following options:')%></p>

<ul>
  <li><%= link_to _('Enable/disable features'), :controller => 'features' %></li>
  <li><%= link_to _('Manage Tags'), :controller => 'manage_tags' %></li>
  <li><%= link_to _('Edit the Visual Design'), :controller => 'edit_template'%></li>
</ul>
