<h1><%= _('News amount by folder') %></h1>

<% labelled_form_for :environment, @environment do |f| %>

  <%= labelled_form_field _('Number of news'), select(:environment, :news_amount_by_folder, (1..10).to_a) %>

  <% button_bar do %>
    <%= submit_button(:save, _('Save')) %>
    <%= button(:cancel, _('Cancel'), :action => 'index') %>
  <% end %>

<% end %>
