<h2><%= _('Site info') %></h2>

<%= render :file => 'shared/tiny_mce' %>

<% labelled_form_for :environment, @environment do |f| %>

  <%= f.text_area :description %>

  <% button_bar do %>
    <%= submit_button(:save, _('Save')) %>
    <%= button(:cancel, _('Cancel'), :action => 'index') %>
  <% end %>

<% end %>
