.edit_mode .hover {
  background-color: blue;
  border: 2px dotted red;
}

.edit_mode .hover ul li {
  border: 2px dotted yellow;
}

.edit_mode #box_1 ul, .edit_mode #box_2 ul, .edit_mode #box_3 ul {
  list-style: none;
  cursor: -moz-grab;
  margin: 10px;
  padding:0px;
  
}

.edit_mode #box_1 ul li, .edit_mode #box_2 ul li, .edit_mode #box_3 ul li {
  list-style: none;
  cursor: -moz-grab;
  border: 5px solid black;
  margin: 15px;
}

.edit_mode #box_1, .edit_mode #box_2, .edit_mode #box_3 {
  border: 3px solid brown;
}

#box_1 {
  width: 200px;
  float: left;
}
#box_2 {
  width: 600px;
  float: left;
  margin: 0px 10px 0px 10px;
}
#box_3 {
  width: 400px;

  clear: both;
}

#footer{
  font-size: 30px;
  background: #FFFFFF url('../images/ufba_logo.png') repeat-x;
}

