<% unless profile.active_fields.include? 'location' %>
  <% field = optional_field(profile, 'full_address') do %>
    <label class='formlabel'><%= _('Address') %></label>
  <% end %>

  <% unless field.blank? %>
    <%= field %>
    <%= render partial: 'shared/address_fields', locals: { profile: profile } %>
  <% end %>
<% end %>
