<div id="list-item">
  <div class="item-info">
    <div class="item-icon" >
      <%= display_content_icon(content) %>
    </div>
    <span class="item-description">
      <%= link_to(content.name, content.url) %>
    </span>
    <span class="item-date"><%= _("Published at: %s") % show_date(content.updated_at) %></span>
  </div>
</div>
