<% image_measures = CroppedImageHelper::PREVIEW_IMAGE_MEASURES[type] %>

<div class='preview-image'
     data-width='<%= image_measures[:width] %>'
     data-height='<%= image_measures[:height] %>'
     style='display:none'>
</div>
