<% if !categories.nil? && !categories.empty? && !@object.nil? %>
  <hr>
  <div class="category-helper-label"><%= _('Click to select a category') %></div>

  <% categories.select{|i| @object.accept_category?(i)}.each do |category| %>

    <%= link_to_remote category.name,
      { :update => "select-categories",
        :url => { :action => "update_categories", :category_id => category.id, :id => @object},
        :loaded => visual_effect(:highlight, "select-categories")
      },
      :class => 'select-subcategory-link',
      :id => "select-category-#{category.id}-link"
    %>
  <% end %>
<% end %>
