  <%= image_tag(image.public_filename(:thumb)) %>

  <br/>

  <%= button_to_function(:photos, _('Change image'), 'display_change_image()', :id => 'change-image-link' ) %>

  <script>
    function display_change_image() {
      var content = "<%= j(render :partial => 'shared/change_image', :locals => { :i => i, :image => image }) %>";
      jQuery('#change-image').html(content);
      jQuery('#change-image-link').hide();
      jQuery('#cancel-change-image-link').show();
    }
  </script>

  <div id='change-image'> </div> <br/>
