<div class='formfieldline'>
  <%= label_tag _('Tag list') do %>
    <%= text_field_tag 'tag_list', value.join(','), size: 64, :id => 'tag-list' %>
  <% end %>
</div>

<%= content_tag( 'small', _('Separate tags with commas') ) %>

<script>
  jQuery('#tag-list').inputosaurus({
    autoCompleteSource: <%= "'#{url_for(:action => 'search_tags', :profile => profile.identifier, :only_path => true)}',".html_safe %>
    activateFinalResult : true
  })
</script>

