<div class='formfieldline'>
  <label class='formlabel'>
    <%= _('Tag list') %>
    <div class='formfield'>
      <%= text_field_tag "#{f.object_name}[tag_list]", value.join(','),
                         size: 64, :id => 'tag-list' %>
    </div>
  </lable>
</div>

<%= content_tag( 'small', _('Separate tags with commas') ) %>

<script>
  jQuery('#tag-list').inputosaurus({
    autoCompleteSource: <%= "'#{url_for(:action => 'search_tags', :profile => profile.identifier, :only_path => true)}',".html_safe %>
    activateFinalResult : true
  })
</script>

