<ul class="<%= list_type %>-content">
  <% contents.each do |content| %>
    <li class="<%= list_type %>-item">
      <% if content.display_to?(user) %>
        <%= render :partial => 'shared/content_item', :locals => { :content => content } %>
      <% end %>
    </li>
  <% end %>
</ul>

<p><%= pagination_links contents, :param_name => 'npage', :page_links => true %></p>
