<h2> <%= _('Editing article shown') %> </h2>

<% design_form_remote_tag( :url => {:action => 'save'}) do %>
  <p>
    <label for="design_block_title"> <%= _("Title") %> </label>
    <%= text_field 'design_block', 'title'%>
    </p>

  <p>
    <label for="design_block_page"> <%= _("Page to show") %> </label>
    <%= select 'design_block', 'article_id', @articles.map{|a|[a.full_name, a.id]} %>
  </p>

  <% button_bar do %>
    <%= submit_button('save', _('Save')) %>
  <% end %>
<% end %>
