
.none_add   { background-image: url('none.png') }
.add        { background-image: url('add.png') }
.search     { background-image: url('search.png') }
.edit_small { background-image: url('edit_small.png') }
.view_small { background-image: url('view_small.png') }
.del_small  { background-image: url('del_small.png') }
.edit       { background-image: url('edit.png') }
.save       { background-image: url('save.png') }
.back       { background-image: url('back.png') }
.reset      { background-image: url('reset.png') }
.image      { background-image: url('image.png') }
.password   { background-image: url('password.png') }
.go-jump    { background-image: url('go-jump.png') }
.system-log-out { background-image: url('system-log-out.png') }
.previous_page  { background-image: url('go-previous.png') }
.next_page      { background-image: url('go-next.png') }
.new_entry  { background-image: url('new_entry.png') }
.history    { background-image: url('history.png') }
.help       { background-image: url('help.png') }
.show_documents_small { background-image: url('del_small.png') }
.add_document_small { background-image: url('del_small.png') }

/* * * Menu Icons * * */

.departments   { background-image: url('departments.png') }
.ledgers       { background-image: url('ledgers.png') }
.point_of_sale { background-image: url('point_of_sale.png') }
.stock         { background-image: url('stock.png') }
.documents     { background-image: url('documents.png') }
.categories    { background-image: url('categories.png') }
.system_actors { background-image: url('system_actors.png') }
.permissions   { background-image: url('permissions.png') }
.mass_mails    { background-image: url('mass_mails.png') }
.store         { background-image: url('store.png') }
.organizations { background-image: url('organizations.png') }
.banks         { background-image: url('banks.png') }
.product_icon  { background-image: url('banks.png'); border: 2px solid red  }
.worker_icon   { background-image: url('banks.png'); border: 2px solid red  }
.supplier_icon { background-image: url('banks.png'); border: 2px solid red  }
.customer_icon { background-image: url('banks.png'); border: 2px solid red  }

