.button.edit { background-image: url(gtk-edit.png); }
.button.home { background-image: url(gnome-home.png); }
.button.new { background-image: url(gtk-new.png); }
.button.close { background-image: url(gtk-close.png); }
.button.open { background-image: url(gtk-open.png); }
.button.cms { background-image: url(abiword_48.png)}
.button.save { background-image: url(gtk-save.png); }
.button.up { background-image: url(gtk-go-up.png); }
.button.cancel { background-image: url(gtk-cancel.png); }
.button.person { background-image: url(user_icon.png); }
.button.product { background-image: url(gnome-other.png); }
.button.delete { background-image: url(gtk-delete.png); }
.button.find { background-image: url(gtk-find.png); }
.button.back { background-image: url(gtk-go-back-ltr.png); }
.button.next { background-image: url(gtk-media-next-ltr.png); }
