<% self.extend(CustomFormsPlugin::Helper) %>
<div class='form-submission'>

  <% form.fields.each do |field| %>
    <%= display_custom_field(field, submission, f.object_name).html_safe %>
  <% end %>

  <% if submission.id.present? %>
    <div class="reply-message"><%= _('This was your answer.')%></div>
  <% end %>

</div>
