
<ul id="leo_1" >
<!-- TODO this is to test -->
teste qual foi
  <li class="block_item_box_1" id="block_1" > teste 1</li> 
<%= draggable('block_1') %> 
  <li class="block_item_box_1" id="block_2" > teste 2</li>
</ul>

