<h2><%= _('Choose validation entity or net') %></h2>

list of entities or nets

<p><%= link_to _('Create'), :action => 'create', :enterprise => @enterprise %>
<%= link_to _('Back'), :action => 'register_form' %> </p>
