<p> <%= link_to _('Register new enterprise'), :action => 'register_form' %> </p>
<h2> <%= _('Listing my enterprises') %> </h2>
<ul>
  <%= render :partial => 'enterprise', :collection => @my_enterprises %>
</ul>

<h2> <%= _('Listing pending enterprises') %> </h2>
<ul>
  <%= render :partial => 'enterprise', :collection => @pending_enterprises %>
</ul>
