<%= error_messages_for 'enterprise' %>

<h2><%= _('Register enterprise') %></h2>

<% form_tag :action => 'register' do %>
  <p><label for="identifier"><%= _('Identifier') %></label><br/>
  <%= text_field 'enterprise', 'identifier', 'size' => 20 %></p>
  <%= render :partial => 'form' %>
<p><%= submit_tag _('Register') %>
<%= link_to _('Cancel'), :action => 'index' %></p>
<% end %>
