<%= error_messages_for 'enterprise' %>

<h2><%= _('Register enterprise') %></h2>

<% form_tag :action => 'register' do %>
  <%= render :partial => 'form' %>
<p><%= submit_tag _('Register') %>
<%= link_to _('Cancel'), :action => 'index' %></p>
<% end %>
