<%= list_events(@date, @events, params[:day].present?) %>

<div class ='pagination'>
  <%= pagination_links @events, :param_name => 'page',
                       class: ('xhr-links' if defined?(xhr_links) && xhr_links) %>
</div>
