/*
This stylesheet is part of the [in] business template downloaded from the oswd.org site 

The stylesheet and template where made by Tjobbe Andrews from NOW:design www.now-design.co.uk
*/
html {
	width: 100%
}

body {
	font-family: "Trebuchet MS", verdana, arial, "Times New Roman";
	font-size: 90%;
	color: #3D3535;
	background-color: #E4E5E0;
	margin: 0px;
	padding: 0px;
	line-height: 140%;

}

/* Wrapper */
#wrap {
	text-align: center; 
	width: 100%;
	background-color: #E4E5E0;
}

/* the container */
#box {
	background-color: #FFFFFF;
	margin-left: auto; 
	margin-right: auto;	 
	padding: 20px; 
	text-align: left; 
	width: 90%;
}

/*holds the tabs at the top*/
#menu {
	background-color: #FFFFFF;
	text-align: right; 
	border-bottom: 1px solid #FFFFFF;
}

/*holds the logo and image*/
#header {
	background-color: #EDEEEA;
	padding: 10px; 
	margin-top:3px;
	height: 95px;
	background: #EDEEEA url(../images/www.jpg) no-repeat right top;
}

/*defines the colours for the tabs, with corner background images*/
#menu a:link, #menu a:active, #menu a:visited {
	background: #EDEEEA url(../images/corner.gif) no-repeat right top;
	color: #3D3535;
	text-decoration: none;
	padding: 3px 7px 3px 7px;
	margin: 0 0 0 4px;
}

#menu a:hover {
	background: #D6D8CF url(../images/corner2.gif) no-repeat right top;
	color: #000000;
	text-decoration: none;
	padding: 3px 7px 3px 7px;
	margin: 0 0 0 4px;
}

/*just a fix, taken from http://www.positioniseverything.net/easyclearing.html*/
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */

/*the main text container*/
#box_2 {
  height: 600px;
}

#box_2 h1 {
	font-size: 110%;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: 2px solid #A53512;
}

/*this is the right hand bar, news bar, links bar w/e*/
#box_1 {
	margin-top: 20px;
        padding-left: 20px;
	width: 245px;
	float: right;
	background-color: white;

}

#box_1 h1 {
	background-color: #A53512;
	color: #FFFFFF;
	padding: 3px;
	margin: 0px 0px 0px 0px;
	font-size: 100%;
	font-weight: normal;
}

/*this just lets you have a "comment" type area in the main content*/
.p1 {
	padding: 20px;
	background-color: #F7F7F4;
	font-size:90%;
}

/*sets the padding for the newsbar text, not the headings*/
.p2 {
	padding: 20px;
	background-color: #FFFFFF;
	font-size: 90%;
	list-style-image: url(../images/b.gif);
	list-style-position: 10px;
}

.p2 ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/*the footer, with copyright*/
.footer {
clear:both;
	background-color: #D6D8CF;
	padding: 4px;
	font-size: 80%;
	text-align: center;
}

/*sets the link colours and style*/
a:link, a:active, a:visited {
	color: #A53512;
}

a:hover {
	color: #A53512;
	text-decoration: none;
}
