<h2> <%= _("Add a new trusted site") %> </h2>

<%= form_tag :action => :create do %>

  <%= text_field_tag :site, @site %>

  <% button_bar do %>
    <%= submit_button('save', _('Add trusted site'), :cancel => {:action => 'index'} ) %>
  <% end %>
<% end %>

<script>
  jQuery(function() { jQuery('input#site').focus(); } );
</script>
