<%= edit_ui_button(
  _('Describe here the cost of production'),
  {:action => 'manage_product_details', :id => @product.id},
  :id => 'manage-product-details-button',
  'data-primary-icon' => 'ui-icon-pencil',
  'data-secondary-icon' => 'ui-icon-triangle-1-s',
  :title => _('Describe details about how the price was defined')
) %>
<%= javascript_tag("render_jquery_ui_buttons('manage-product-details-button')") %>
<span class='loading-area'></span>
