<h2><%= _('Listing memberships')%></h2>

<ul>
<% @memberships.each do |m|%>
  <li> 
    <%= link_to m.name, '/' + m.identifier %> 
    <%= link_to _('Manage') , '/myprofile/' + m.identifier %>
  </li>
<% end %>
</ul>

<%= link_to _('New enterprise'), :action => 'new_enterprise' %>
