<h2><%= _('Listing memberships')%></h2>

<% form_tag 'membership_editor/search' do %>
  <%= _('Search') %> <%= text_field_tag 'query' %>
<% end %>

<ul>
<% @memberships.each do |m|%>
  <li> 
    <%= link_to_homepage m.name, m.identifier %> 
    <%= link_to_myprofile  _('Manage') , {:controller => 'profile_editor'}, m.identifier %>
  </li>
<% end %>
</ul>

<%= link_to _('New enterprise'), :action => 'new_enterprise' %>
