<%= block_title(title) %>

<%

    if error_message.blank?
      "<ul>\n".html_safe +
      self.feed_items[0..(limit-1)].map{ |item| "<li><a href='#{item[:link]}'>#{item[:title]}</a></li>" }.join("\n").html_safe +
      "</ul>".html_safe
    else
      "<p>#{error_message}</p>".html_safe
    end
%>
