<%= block_title(block.title, block.subtitle) %>

<%= block.links.empty? && block.title.empty? ? content_tag('em', _('Please, edit this block to add links')) : '' %>

<ul>
  <% block.links.select{|i| !i[:name].blank? and !i[:address].blank?}.each do |link| %>
    <li>
      <%= block.sanitize_link(link_to(link[:name], block.expand_address(link[:address]),
                :target => link[:target],
                :class => (link[:icon] ? "icon-#{link[:icon]}" : ''),
                :title => link[:title])) %>
    </li>
  <% end %>
</ul>
