<%= block_title(block.title, block.subtitle) %>

<ul>
  <% block.enabled_links_for(user).each do |link| %>
    <% if link[:controller] %>
      <li class="<%= current_page?(:controller => link[:controller], :action => link[:action], :profile => block.owner.identifier) ? 'active' : '' %>">
        <%= link_to link[:title], {:controller => link[:controller], :action => link[:action], :profile => block.owner.identifier} %>
      </li>
    <% end %>
  <% end %>
</ul>
