<div class="vcard">

<div class="profile-big-image">
  <div class="profile-big-image-inner1">
    <span class="profile-big-image-inner2">
      <%=
        profile_image(block.owner, :big) +"\n"
      %>
    </span>
  </div>
</div>

</div><!-- end class="vcard" -->
