<h2><%= block.owner.name %></h2>

<%= profile_image(block.owner) %>

<ul>
  <li><%= _('Since %d') % block.owner.created_at.year %></li>
  <li><%= link_to _('Homepage'), block.owner.url %></li>
  <li><%= link_to _('View profile'), block.owner.public_profile_url %></li>
</ul>

<div class='profile-info-options'>
  <%= render :file => 'blocks/profile_info_actions/' +  block.owner.class.name.underscore %>
</div>

