<%= block_title(block.title, block.subtitle) %>

<% if block.docs.empty? %>
  <div class='common-profile-list-block-none'><%= _('This profile has no documents yet.') %></div>
<% else %>
<ul>
  <% block.docs.map do |item| %>
    <%= content_tag('li', link_to(h(item.title), item.url)) %>
  <% end %>
</ul>
<% end %>

