.box-1 {
  margin: 0 200px 0 0;
}

.box-1 .blocks {
  width: 100%;
  float: right;
}

.box-2 {
  position: relative;
  float: right;
  width: 190px;
}

#leave_scrap_content_limit,
#leave_scrap_content_left {
  float: none;
}

#profile-activity ul,
#profile-network ul,
#profile-wall ul {
  width: 620px;
}
