<div id="section-block-<%= block.id %>" class="section-block" style="<%= block.css_inline_style %>" >
  <span class="section-block-name"><%= block.name %></span>
  <span class="section-block-description"><%= block.description %></span>
</div>
