.block a {
  color: #555753;
}
.block a:visited {
  color: #888a85;
  font-weight: normal;
}
.block a:hover {
  color: #2e3436;
  text-decoration: underline;
}


#content .block {
  padding: 0px;
  margin: 0px 0px 20px 0px;
  position: relative;
}


#content .block-title {
  font-variant: small-caps;
  color: #AAA;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #AAA;
}

/*************************** Login block *****************************/

.login-box {
  padding: 0px;
  font-size: 10px;
}

#content .login-box-content a.button {
  font-size: 11px;
}

.login-box-content {
  margin: 0px;
  border: none;
  background: none;
  padding: 0px;
}

.login-box-content .button-bar .button {
  position: relative;
}

.login-box .formfieldline input {
  width: 99%;
}

.login-box form {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
.msie7 .login-box form {
  padding: 0px 10px 0px 0px;
}

#content .login-block h2 {
  font-variant: small-caps;
  color: #AAA;
  font-size: 14px;
  text-align: left;
  border-bottom: 2px solid #AAA;
}

.login-box p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.login-box .forgot-passwd a {
  color: #555753;
}

.want-to-be-an-user {
  font-size: 13px;
}

#content .logged-user-info h2 {
  font-size: none;
}

.logged-user-info ul {
  margin-top: 5px;
}

.logged-user-info .user-actions {
  padding-left: 50px;
}


/************************** Profile List *****************************/

#content .people-block ul,
#content .profile-list-block ul,
#content .enterprises-block ul,
#content .members-block ul,
#content .communities-block ul,
#content .friends-block ul {
  min-width: 196px;
  width: 192px;
  margin: 0px 0px 0px -3px;
  padding: 0px;
}

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  position: absolute;
  top: 2px;
  right: 0px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  padding-right: 15px;
  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;
}

#content .profile-list-block .block-title {
  text-align: left;
}

#content .profile-list li a,
#content .common-profile-list-block li a {
  color: #555;
}
#content .profile-list li a:hover,
#content .common-profile-list-block li a:hover {
  color: #000;
  text-decoration: none;
}

/************************* Recent Contents ***************************/

#content .feed-reader-block,
#content .recent-documents-block {
  overflow: hidden;
}

.feed-reader-block li,
.recent-documents-block li {
  list-style-image: url(imgs/li-recent.gif);
  padding: 5px 0px;
}

.feed-reader-block li a,
.recent-documents-block li a {
  font-weight: bold;
}

.feed-reader-block li a:visited,
.recent-documents-block li a:visited {
  font-weight: normal;
}

.feed-reader-block li a:hover,
.recent-documents-block li a:hover {
  text-decoration: underline;
}

/************************* Profile Image *****************************/

#content .profile-image-block {
}
.profile-big-image-inner1 {
  text-align: center;
}

.profile-big-image {
}
.profile-big-image img {
  border: none;
  padding: 0px;
}

.profile-image-block p {
  text-align: left;
  margin: 0px;
  font-size: 17px;
  font-weight: bold;
  color: #555;
}


/*************************** My Network ******************************/

#content .block.my-network-block {
  margin: 0px 0px 10px 0px;
}

.my-network-block ul {
  margin: 0px;
  padding: 0px 0px 10px 20px;
}
.my-network-block li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}


/*************************** Link List *******************************/

.link-list-block .empty {
  display: none;
}

#content .link-list-block li {
  background: #FFF;
  padding: 0px;
  margin: 5px 0px;
}

#content .link-list-block li a {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  background-color: #EEE;
  background-position: 4px 50%;
  -moz-border-radius: 4px;
}

#content .link-list-block li a.link-this-page {
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  background-color: #cecece;
  max-width: 175px;
  width: 200px;
  border-right: 2px solid #555753;
}

#content .link-list-block li a:hover {
  background-color: #555753;
  color: #FFF;
  text-decoration: none;
}
#content .link-list-block li a.link-this-page:hover {
  border-right: 2px solid #555753;
}


/************************** Communities ******************************/

.communities-block .profile-image {
  float: left;
  padding-left: 4px;
  max-width: 70px;
  width: 75px;
  height: auto;
}

.communities-block .vcard a {
  clear: left;
  text-align: left;
  padding-bottom: 3px;
  width: 99%;
  height: auto;
}
.msie6 .communities-block .common-profile-list-block .vcard a,
.msie7 .communities-block .common-profile-list-block .vcard a {
  height: auto;
  width: 99%;
  padding-bottom: 1px;
}

.communities-block .vcard a .org {
  padding-top: 5px;
  font-size: 12px;
  color: #000;
  max-height: 30px;
  overflow: hidden;
}
.msie .communities-block .vcard a .org {
  height: 30px;
}

.communities-block .vcard a .may-clear {
  clear: left;
}

/****************************** Tags *********************************/

/* the style here is not only for #content .tags-block .tag_cloud */

.tag_cloud {
  text-align: center;
}

.tag_cloud a {
  text-decoration: none;
}

.tag_cloud a small {
  opacity: 0.5;
  filter:alpha(opacity=50);
}

/********************* Environment Statistics ************************/

#content .environment-statistics-block .block-title {
  color: #AAA;
  border-bottom: 2px solid #AAA;
}
#content .environment-statistics-block ul {
  margin: 0px 20px;
  padding: 0px;
}
#content .environment-statistics-block li {
  list-style-image: url(imgs/li-gray.gif);
  padding: 3px 0px;
  color: #777
}

/*************************** News Area *******************************/

.action-home-index #content h1 {
  color: #05A;
  border-bottom: 2px solid #555753;
}

.highlighted-news-item {
  border-top: 1px solid #CCC;
  padding-top: 5px;
}
.highlighted-news-item.post-1 {
  border: none;
  padding-top: 0px;
}

#highlighted-news h2 a {
  font-weight: bold;
  color: #2e3436;
}

.news-area {
  border: none;
  background: #FFF;
  height: auto;
  position: relative;
}

.news-area ul {
  border: 1px solid #CCC;
  border-top: 2px solid #07C;
  height: 125px;
  overflow: auto;
  margin: 0px;
  padding: 5px 10px;
  background: url(imgs/comment-bg-S.png) 0% 100% repeat-x;
  border-bottom: none;
}

.news-area li {
  margin-left: 15px;
  padding: 0px 0px;
  list-style-image: url(imgs/li-blue.gif);
}

#content .news-area h3 a {
  font-weight: bold;
  color: #2e3436;
}
#content .news-area h3 a:hover {
  text-decoration: none;
}

#content .news-area h3 {
  background: #FFF;
  margin: 0px;
  padding: 0px;
}

#content .news-area a {
   color: #000;
}

#content .news-area a.news-see-more {
  position: absolute;
  top: 3px;
  right: 0px;

  color: #000;
  padding-right: 10px;
  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;
}

#content .news-area a.news-see-more:hover {
  text-decoration: none;
  color: #07C;
}

#portal-news ul {
  padding: 0px;
  border-top: 1px solid #CCC;
}
#portal-news li {
  list-style: none;
  padding: 8px 0px;
  border-bottom: 1px solid #CCC;
}
#portal-news li a {
  font-weight: bold;
  color: #05A;
}
#portal-news .post-date, #highlighted-news .post-date {
  color: #555753;
}

#portal-news .post-date {
  float: left;
}
#portal-news .post-title {
  display: block;
  margin-left: 65px;
}

#highlighted-news .post-title {
  font-weight: bold;
  font-size: 20px;
}
#highlighted-news h2 {
  margin-bottom: 0px;
}

X.sep {
  background: url(imgs/blog-sep.png) 50% 50% repeat-x;
  padding: 10px 20px;
  margin: 10px -19px;
}
