
.button {
  -moz-border-radius: 3px;
}

#content input.button, #content a.button {
  background-repeat: no-repeat;
  background-color: #EEE;
  border: 1px solid #CCC;
  color: #555;
  line-height: 16px;
  height: 16px;
  text-decoration: none;
}

#content input.button.with-text, #content a.button.with-text {
  line-height: 20px;
  height: 20px;
}

input.button {
  max-height: 20px;
}
input.button.with-text {
  max-height: 22px;
}

#content input.button:hover, #content a.button:hover {
  color: #FFF;
  background-color: #555;
  border: 1px solid #2e3436;
  text-decoration: none;
}
