<div id="footer-links">
</div><!-- end id="footer-links" -->
<div id="copyright">
  <p id='noosfero-license'>
  Powered by <a
    href="http://www.noosfero.org/" id='link-noosfero'>Noosfero</a>, licensed under
    <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public
      License</a>, version 3 or above.  </p>
  <!-- Desenvolvido com
  <a href="http://noosfero.com.br"
     title="FLOSS for Social!">Noosfero</a-->
</div><!-- end id="copyright" -->
