<div id="footer-links">
  <a id="link-to-doc" class='icon-help'><%= link_to _('Documentation'), '/doc' %></a>
</div><!-- end id="footer-links" -->
<div id="copyright">
  <p id='noosfero-license'>
  Powered by <a
    href="http://www.noosfero.org/" id='link-noosfero'>Noosfero</a>, licensed under
    <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public
      License</a>, version 3 or above.  </p>
</div><!-- end id="copyright" -->
<%= language_chooser %>
