<li><a href="/assets/people"><span class='icon-menu-people'><%= _('People') %></span></a></li>
<li><a href="/assets/communities"><span class='icon-menu-community'><%= _('Communities') %></span></a></li>
<li><a href="/assets/enterprises"><span class='icon-menu-enterprise'><%= _('Enterprises') %></span></a></li>
<li><a href="/assets/products"><span class='icon-menu-product'><%= _('Products') %></span></a></li>
<li><a href="/assets/events"><span class='icon-menu-events'><%= _('Events') %></span></a></li>
