
.msie .search-results-box {
  width: 48%;
}

.controller-search #content .no-boxes h1 {
  font-variant: small-caps;
  color: #555753;
  font-size: 18px;
  text-align: left;
  border-bottom: 2px solid #2e3436; /*8C0*/
}

.query {
  display: none;
}

.controller-search #content .search_form {
  background: #DDD;
  -moz-border-radius: 5px;
  padding: 12px 15px 13px 15px;
  position: relative;
  text-align: left;
}

#advanced_search_link {
  position: absolute;
  top: 15px;
  right: 20px;
  background: url(imgs/arrow-down-p.png) 100% 55% no-repeat;
  padding-right: 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.controller-search #content .search_form h3 {
  display: none;
}

.controller-search #content .search_form h4 {
  background: #DDD;
  color: #777;
}
.controller-search .search-options {
  border: 1px solid #777;
  -moz-border-radius: 5px;
}
.controller-search .search-options ul li {
  position: relative;
}

.controller-search .search-within select {
  display: block;
  margin-bottom: 5px;
}

.controller-search .search-within label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
  position: relative;
  top: 5px;
}

.controller-search a {
  color: #555753;
}

#search-results h3 {
  color: #555753; /*6A0*/
  font-variant: small-caps;
  margin: 0px;
}

.search-results-innerbox {
  border: 1px solid #CCC;
  border-top: 2px solid #2e3436;
  border-bottom: none;
  background: url(imgs/comment-bg-S.png) 0% 100% repeat-x;
}
.only-one-result-box .search-results-innerbox {
  border-top: 1px solid #CCC;
}

#content .search-results-box a.see-more {
  z-index: 10;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: transparent url(imgs/arrow-right-p.png) 100% 55% no-repeat;
  border: none;
  padding-right: 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
#content .search-results-box a.see-more:hover {
  background: transparent url(imgs/arrow-right-p.png) 100% 55% no-repeat;
  color: #888;
}


.search-results-type-article.search-results-innerbox {
  padding: 5px 0px 5px 10px;
  max-height: 215px;
  height: 225px;
}

#content .search-results-type-article li {
  padding: 5px 0px;
}

.search-results-type-article a {
  text-decoration: none;
}
.search-results-type-article a:hover {
  text-decoration: underline;
}
