<div id='edit-breadcrumbs-block'>
  <%= labelled_form_field check_box(:block, :show_cms_action) + _('Show cms action'), '' %>
  <%= labelled_form_field check_box(:block, :show_profile) + _('Show profile'), '' %>
</div>
