<ul class="profile-list">
  <% profiles.each do |followed_profile| %>
    <li>
    <%= link_to_profile profile_image(followed_profile) + followed_profile.short_name,
                        followed_profile.identifier, class: 'profile-link' %>
    <div class="controll">
      <%= modal_link_to font_awesome(:edit),
             url_for(:controller => 'followers', :action => 'set_category_modal',
                     :followed_profile_id => followed_profile.id) %>
      <%= link_to font_awesome(:'user-times'),
        { :controller => "profile", :profile => followed_profile.identifier, :follower_id => profile.id,
          :action => 'unfollow', :redirect_to => url_for({:controller => "followers", :profile => profile.identifier}) },
          :method => :post, :title => _('remove') %>
    </div>
    </li>
  <% end %>
</ul>
