open_graph:
  domain: domainregisteredonfacebook.com
  environment_logo: 'http://example.com/designs/themes/environmenttheme/images/logo.png'
  namespace: app_scope
  types:
    article: article
    event: app_scope:event
    forum: app_scope:discussion
    uploaded_file: app_scope:document
    image: app_scope:picture

    product: app_scope:sse_product

    profile: app_scope:profile
    person: app_scope:user
    community: app_scope:community
    enterprise: app_scope:sse_initiative
