Source: noosfero
Section: web
Priority: extra
Maintainer: Noosfero developers <noosfero-dev@listas.softwarelivre.org>
Uploaders: Antonio Terceiro <terceiro@colivre.coop.br>
Build-Depends: cucumber,
               debhelper (>= 7.0.50~),
               imagemagick,
               po4a,
               rails3 (>= 3.2.21-1~),
               rake,
               ruby-capybara,
               ruby-cucumber-rails,
               ruby-database-cleaner,
               ruby-gettext,
               ruby-mocha,
               ruby-rspec (>= 2.14),
               ruby-rspec-rails (>= 2.14),
               ruby-selenium-webdriver,
               ruby-sqlite3,
               ruby-tidy,
               ruby-will-paginate,
               tango-icon-theme,
               xvfb
Standards-Version: 3.8.4
Homepage: http://noosfero.org/
Vcs-Git: git://git.colivre.coop.br/noosfero.git
Vcs-Browser: http://git.colivre.coop.br/?p=noosfero.git

Package: noosfero
Architecture: all
Pre-Depends: ruby1.8 (>= 1.8.7.358)
Depends: adduser,
         dbconfig-common,
         debconf,
         exim4 | mail-transport-agent,
         iso-codes,
         memcached,
         rails3 (>= 3.2.6-1~),
         rake,
         ruby (>= 1:1.9.3),
         ruby-acts-as-taggable-on,
         ruby-daemons,
         ruby-dalli,
         ruby-eita-jrails (>= 0.9.3-5~),
         ruby-eventmachine (>= 0.12.10-4~),
         ruby-exception-notification,
         ruby-fast-gettext,
         ruby-feedparser,
         ruby-feedparser (>= 0.7-3~),
         ruby-gettext,
         ruby-memcache-client,
         ruby-minitest,
         ruby-nokogiri,
         ruby-pg,
         ruby-progressbar,
         ruby-rack (>= 1.4.5-2~),
         ruby-rails-autolink,
         ruby-redcloth,
         ruby-rest-client,
         ruby-rmagick,
         ruby-sass-rails,
         ruby-tzinfo (>= 1.1.0-2~),
         ruby-uglifier,
         ruby-whenever,
         ruby-will-paginate (>= 2.3.12-1~),
         tango-icon-theme,
         thin,
         ${misc:Depends}
Recommends: postgresql, postgresql-client
Description: free web-based platform for social networks
 Noosfero is a web platform for social and solidarity economy networks with
 blog, e-Porfolios, CMS, RSS, thematic discussion, events agenda and collective
 inteligence for solidarity economy in the same system.
 .
 This package contains the Noosfero application server.

Package: noosfero-apache
Architecture: all
Depends: apache2, debconf, noosfero
Description: free web-based platform for social networks (apache frontend)
 Noosfero is a web platform for social and solidarity economy networks with
 blog, e-Porfolios, CMS, RSS, thematic discussion, events agenda and collective
 inteligence for solidarity economy in the same system.
 .
 This package contains the configuration files needed to run Noosfero with the
 Apache HTTPD server as frontend.

Package: noosfero-chat
Architecture: all
Depends: noosfero (>= 1.2), ejabberd, odbc-postgresql, pidgin-data
Description: free web-based platform for social networks (ejabberd based chat)
 Noosfero is a web platform for social and solidarity economy networks with
 blog, e-Porfolios, CMS, RSS, thematic discussion, events agenda and collective
 inteligence for solidarity economy in the same system.
 .
 This package contains the configuration files needed to run Noosfero with the
 Ejabberd XMPP chat server.
