#!/bin/sh

set -e

. /usr/share/debconf/confmodule
if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
  # comma-separated, e.g. "mysql, pgsql, sqlite3"
  dbc_dbtypes="pgsql"

  . /usr/share/dbconfig-common/dpkg/config
  dbc_go noosfero $@

  if [ "$dbc_install" = 'true' ]; then
    db_input high noosfero/initial_domain || true
    db_go
  fi

  db_input high noosfero/email_setup_warning | true
  db_go

fi
