#!/bin/sh

set -e

. /usr/share/debconf/confmodule
if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
  # comma-separated, e.g. "mysql, pgsql, sqlite3"
  dbc_dbtypes="pgsql"

  db_input high noosfero/default_database_config || true
  db_go || true

  db_get noosfero/default_database_config
  if [ "$RET" = "true"  ]; then
    . /usr/share/dbconfig-common/dpkg/config
    dbc_go noosfero $@
    db_input high noosfero/initial_domain || true
  fi

  db_input high noosfero/email_setup_warning || true
  db_go || true
fi
