<% self.extend CustomFormsPlugin::Helper %>

<!-- TODO: fix the link -->
<%= link_to _('View all'), { controller: 'custom_forms_plugin_profile' },
            class: 'view-all' %>

<div class='form-list'>
  <% block.list_forms.each do |form| %>
    <%= render partial: 'blocks/form_item', locals: { form: form } %>
  <% end %>
</div>
