body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0% 0%;
  height: 100%;
}

#wrap {
  background: #CCC url(/503-small.jpg) 100% 100% no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 1em 3em 1em 3em;
}

#languages {
  float: left;
  width: 40%;
  margin-top: 3em;
  border-top: 1px solid #aaa;
  font-size: smaller;
}

h1 {
  margin: 30px 0px 0px 0px;
  font-weight: bold;
  color: #555;
}

a, a:visited {
  color: #666;
}
a:hover {
  color: black;
}
