<h1> <%= _(@role.name)  %></h1>

<h3> <%= _('Permissions') %> </h3>
<ul>
  <% @role.permissions.each do |p| %>
    <li> <%= Role.permission_name(p) %> </li> 
  <% end %>
</ul>

<%= link_to _('Back'), :action => 'index' %>
