<%# FIXME should not need to replicate the article structure like this to be able to use the same formatting as the comments listing %>
<div id='article'>
  <div class="comments" id="comments_list">
    <ul class="article-comments-list">
      <%= render :partial => 'comment/comment', :collection => @comment_spam %>
    </ul>
  </div>
</div>

<%= pagination_links @comment_spam, :param_name => :comments_page %>

