
#content .blog-archives-block {
  padding: 10px 0px 10px 10px;
}
.blog-archives-block ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
.blog-archives-block li {
  margin: 0px;
  padding: 0px;
}
.blog-archives-block a {
  text-decoration: none;
}
.block.blog-archives-block .subscribe-feed {
  margin-top: 20px;
  border-top: solid 1px #e8e8e8;
  text-align: center;
  color: #555;
  padding: 5px 0px 10px 10px;
  font-size: 12px;

  a {
    text-decoration: none;
    &:hover {
      color: #212e3c;
    }
  }
}
