
#content .blog-archives-block {
  padding: 10px 0px 10px 10px;
}
.blog-archives-block ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
.blog-archives-block li {
  margin: 0px;
  padding: 0px;
}
.blog-archives-block a {
  text-decoration: none;
}
.blog-archives-block .subscribe-feed {
  padding: 5px 0px 10px 10px;
  font-size: 12px;
}
