
.disabled-enterprise-message-block {
  text-align: center;
}
.enterprise-disabled {
  border: 1px solid #944;
  text-align: left;
  margin: auto;
  padding: 5px;
  padding-left: 10px;
  min-height: 40px;
  font-size: 80%;
  background: #ffffa9;
}
