
#content .feed-reader-block {
  padding: 10px 0px 10px 10px;
  overflow: hidden;
}
.feed-reader-block ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}
.feed-reader-block li {
  margin: 0px;
  padding: 0px;
}
.feed-reader-block a {
  text-decoration: none;
}
.feed-reader-block .block-footer-content {
  color: #CCC;
  font-size: 11px;
  text-align: center;
}
