#edit-link-list-block {
  max-width: 620px;
  position: relative;

  .link-list-template {
    display: none;
  }
}

#dropable-link-list {
  margin: 30px 0;

  tr { text-align: center }

  a.delete-link-list-row,
  a.delete-link-list-row:hover,
  a.delete-link-list-row:visited {
    font-size: 16px;
    color: #212e3c;
  }
}

.link-list-row {
  margin-bottom: 5px;
  padding: 10px 1px 10px 10px;
  cursor: pointer;

  .link-list-icon {
    color: #212e3c;
    font-size: 16px;
    margin-left: 14px;

    &.up-disabled > span .fa,
    &.down-disabled > span .fa,
    &.right-disabled > span .fa,
    &.left-disabled > span .fa {
      color: #90949c;
    }
  }

  .fa-no-icon {
    width: 12px;
    height: 12px;
    border: solid 1px;
  }

}

#content .link-list-block ul {
  padding: 0px;
  margin: 0px;

  li {
    padding: 2px 0px 2px 8px;
    margin: 2px 0px 0px 0px;
    list-style: none;
    text-align: left;

    .link-list-icon.up-disabled .fa,
    .link-list-icon.down-disabled .fa,
    .link-list-icon.right-disabled .fa,
    .link-list-icon.left-disabled .fa {
      color: #90949c;
    }
  }

  a {
    display: block;
    text-decoration: none;
    background-repeat: no-repeat;
    padding-left: 23px;
  }
}

.icon-selector {
  background: #fff;
  border: 1px solid #555;
  padding: 30px;
  display:table;
  width: 120px;
  height: 80px;
  position: absolute;
  z-index: 100;

  span {
    padding:3px;
    display: block;
    width: 16px;
    float:left;
    text-align: center;

    &.up-disabled,
    &.down-disabled,
    &.right-disabled,
    &.left-disabled {
      color: #90949c;
    }

    &:hover {
      background-color: #e8e8e8;
    }
  }
}

.icon:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}
