#edit-link-list-block {
  overflow: auto;
  overflow-x: hidden;
  height: 120px;
}
 
#edit-link-list-block table {
  width: 100%;
}

#edit-link-list-block table .cel-address {
  width: 300px;
}

#edit-link-list-block table .cel-address input {
  width: 100%;
}

#content .link-list-block {
  padding: 10px 20px 10px 10px;
}

.link-list-block ul {
  padding: 0px;
  margin: 0px;
}

#content .link-list-block li {
  padding: 2px 0px 2px 8px;
  margin: 2px 0px 0px 0px;
  list-style: none;
  background: #B8CFE7;
}

.link-list-block a {
  text-decoration: none;
  display: block;
}
