.common-profile-list-block {
  text-align: center;
  color: #B8CFE7;
}

#content .common-profile-list-block .block-title {
  font-size: 14px;
}

.common-profile-list-block ul {
  margin: 0px;
  padding: 0px;
}

.common-profile-list-block li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
}

.common-profile-list-block li a {
  border: 2px solid #FFF;
  display: block;
  height: 100px;
  padding-top: 2px;
  width: 96px;
  overflow: hidden;
  text-decoration: none;
  font-size: 9px;
}
.msie .common-profile-list-block li a {
  width: 100px;
  line-height: 10px;
  cursor: pointer;
}

.common-profile-list-block li a:hover {
  border: 2px solid #2A5896;
  background: #B8CFE7;
  color: #035;
}

.common-profile-list-block li div {
  width: 96px;
  height: 64px;
}

.common-profile-list-block li span {
  display: block;
  width: 92px;
}

.common-profile-list-block li img {
  border: none;
}

.enterprises-block .block-footer-content,
.friends-block .block-footer-content,
.communities-block .block-footer-content {
  text-align: center;
  font-size: 80%;
  padding: 5px 0px 0px 0px;
}
.msie .enterprises-block .block-footer-content,
.msie .friends-block .block-footer-content,
.msie .communities-block .block-footer-content {
  padding: 0px;
  margin-top: -5px;
}

.common-profile-list-block-none {
  font-style: italic;
  margin-bottom: -10px;
}
.msie .common-profile-list-block-none {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

