
.profile-info-picture {
  float: right;
}

.profile-info-block {
  padding-left: 1em;
  padding-right: 1em;
}

.profile-info-block ul {
  padding: 0px;
  margin: 0px;
}

#content .profile-info-block ul li {
  list-style: none;
  list-style-image: none;
  margin: 0px;
  padding: 2px;
}
