div.profile-list-block div.profile-list-block-link,
div.communities-block div.profile-list-block-link,
div.members-block div.profile-list-block-link,
div.enterprises-block div.profile-list-block-link
{
  display: block;
  float: left;

  width: 100px;
  height: 120px;
  overflow: hidden;

  font-size: smaller;
  text-align: center;

}

div.profile-list-block,
div.communities-block,
div.members-block,
div.enterprises-block {
  clear: both;
}

