.box-1 {
  margin: 0 0 0 200px;
}

.box-1 .blocks {
  width: 100%;
  float: left;
}

.box-2 {
  position: relative;
  float: left;
  width: 190px;
}

#leave_scrap_content_limit,
#leave_scrap_content_left {
  float: none;
}

#profile-activity ul,
#profile-network ul,
#profile-wall ul {
  width: 620px;
}

.profile-activity-lead {
  width: 534px;
}

#profile-wall textarea {
  width: 534px;
}

#profile-wall #leave_scrap textarea {
  width: 640px;
}

#profile-wall li textarea {
  width: 548px;
}

.profile-activity-article-forum .profile-activity-lead {
  background: url(../../../../images/forum-activity-bg-onecol.png);
  width: 489px;
}

li.profile-activity-item.upload_image .upimg {
  width: 168px;
  height: 168px;
}
li.profile-activity-item.upload_image .more,
li.profile-activity-item.upload_image .upimg.morethen2 {
  font-size: 46px;
  width: 77px;
  height: 77px;
}
li.profile-activity-item.upload_image .activity-gallery-images-count-3 .pos3 {
  /* reduce size only for 4 or more itens */
  width: 168px;
  height: 168px;
}

li.profile-activity-item.upload_image .activity-gallery-images-count-4 .pos3 {
  /* make a line-break on this case */
  float: none;
  margin-left: 364px;
}

