<ul class='enterprises_list_block'>
  <% @elements.each do |p| %>
    <li> <%= link_to_homepage(content_tag('span',p.name) + (p.image ? image_tag(p.image.public_filename :portrait) : ''), p.identifier) %> </li>
  <% end %>
</ul>
