<table>
  <tr class="titles">
      <td><h5>Metric Name</h5></td>
      <td><h5>Metric Code</h5></td>
  </tr>
  <% metric_configurations.each do |metric_configuration| %>
    <tr class="metric">
      <td><%= metric_configuration.metric.name %></td>
      <td><%= metric_configuration.code %></td>
    </tr>
  <% end %>
</table>
