<p> 
  <b>Collector Name:</b> <%= @metric_configuration.base_tool_name %>
</p>
<p> 
  <b>Metric Name:</b> <%= @metric.name %>
</p>
<p>
  <b>Code:</b> <%= @metric_configuration.code %>
</p>
<p>
  <b>Aggregation Form:</b> <%= @metric_configuration.aggregation_form %>
</p>
<p>
 <b>Weight:</b> <%= @metric_configuration.weight %>
</p>
