
/* * *  Comments  * * */

.article-comment {
  border: 1px solid #fcaf3e;
}

.comment-from-owner {
  border: 1px solid #f57900;
  background: #FD8;
}

.comment-from-owner .comment-info {
  color: #ab835c;
}

.comment-text {
  clear: left;
}

.comment-logged-out .comment-text {
  color: #888;
}

