<div id="find-enterprise">
  <%= render :partial => 'suppliers_plugin_myprofile/search', :locals => {:profile => profile} %>
</div>

<div id="create-dummy">
  <%= render :partial => 'suppliers_plugin_myprofile/edit', :locals => {:supplier => supplier, :profile => profile} %>
</div>
