#suppliers-plugin-margin-change.popin
  h1= t'views.myprofile.margin_change.change_default_margin'

  = form_for @profile, as: :profile_data, remote: true, url: {controller: :suppliers_plugin_myprofile, action: :margin_change} do |f|
    div= t'views.myprofile.margin_change.notice'

    = labelled_field f, :margin_percentage, t('views.myprofile.margin_change.new_margin'),
      input_group_addon(t'views.myprofile.margin_change.%'){ f.number_field :margin_percentage, step: 'any' }

    .checkbox
      label name='apply_to_all'
        = check_box_tag :apply_to_all, 1, false
        = t'views.myprofile.margin_change.apply_to_all'
    .clean

    = submit_button :save, t('views.myprofile.margin_change.confirm')
    = modal_close_link t('views.myprofile.margin_change.cancel')
