<%= link_to _('Show Layout'), :controller => 'home' %>
<%= link_to _('Edit Layout'), :controller => 'edit_template' %>

<%= select_template %>
<%= select_theme %>
<%= select_icons_theme %>
<%= display_icon('back')%>
