<h1><%= _('Product Categories') %></h1>
<ul class='tree'>
  <%= render :partial => 'category', :collection => categories%>
</ul>

<div>
  <%= link_to _('New category'), :action => 'new', :type => 'ProductCategory' %>
</div>