= link_to c_('View all'), profile: block.owner.identifier, controller: 'sub_organizations_plugin_profile', action: block.display_type[:action], type: ((block.organization_type == 'enterprise' || block.organization_type == 'community') ? block.organization_type : nil)
