<li><a href="/assets/enterprises"><span class='icon-menu-enterprise'><%= _('Enterprises') %></span></a></li>
<li><a href="/assets/events"><span class='icon-menu-events'><%= _('Events') %></span></a></li>
