@import url(../base/style.css);

#site-title img {
  left:-22px;
  position:absolute;
  top:-30px;
}

#title-bar {
  background-color: gray;
}
#buddy-list .toolbar {
  background-color: gray;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
#title-bar h1 {
  color: white;
}
#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #BBB;
}
