<h2><%= @configuration_name%> Configuration</h2>

<table id="project_info">
  <tr>
    <h5>Metric Collector <%= @collector_name %></h5>
  </tr>
  <tr>
    <h5>Metric choosed <%= @metric_name %></h5>
  </tr>
</table>
