<h2><%= @configuration_name %> Configuration</h2>

<table id="project_info">
  <tr>
    <h5>Metric Collector: <%= @collector_name %></h5>
  </tr>
  <tr>
    <h5>Choose a metric to add:</h5>
  </tr>
  <% @collector.supported_metrics.each do |metric| %>
    <tr class="metric" title="<%= metric.name %>">
      <td>
        <%= link_to metric.name, :controller => "mezuro_plugin_profile", :action => "new_metric_configuration", :params => {:metric_name => metric.name,
        :collector_name => @collector_name, :configuration_name => @configuration_name} %>
      </td>
    </tr>
  <% end %>
</table>
