<div id='online-doc-path'>
  <%= _('You are here:') %>
  <%= link_to _('Manual'), doc_path %>
  <% if @section %>
    &raquo; <%= link_to @section.title, doc_section_path(@section.id) %>
  <% end %>
  <% if @topic %>
    &raquo; <%= @topic.title %>
  <% end %>
</div>
