<div id='online-doc-navigation'>
  <h1><%= _('On-line documentation') %></h1>
  <ul>
    <% @environment.local_docs.each do |link,text| %>
      <li><%= link_to text, link, :target => '_blank' %></li>
    <% end %>
  </ul>
  <%= @toc.text %>
</div>
