<div class="polls-block-edition">
  <%= labelled_form_field _('Polls limit'), number_field_tag('block[metadata][limit]', @block.limit, min: 1, max: 10) %>
  <%= labelled_form_field _('Display polls:'), select_tag('block[metadata][status]', options_from_collection_for_select(@block.class.status_options, :first, :last, @block.status)) %>
</div>
