<div id='display-product-category'>
  <p class='hierarchy-category'></p>
  <%= edit_link( _('Change category'), { :action => 'edit_category', :id => @product.id}, :id => 'link-edit-product-category') %>
</div>
