<div id='display-product-category'>
  <p><%= hierarchy_category_navigation(@product.product_category, :make_links => false)%></p>
  <%= edit_product_link('product-category', _('Change category'), { :action => 'edit_category', :id => @product.id}) %>
</div>
