  <%= image_tag(@product.image.public_filename(:thumb)) %>

  <br/>

  <%= link_to_function(_('Change image'), nil, :id => 'change-image-link') do |page|
    page['change-image'].replace_html :partial => 'change_image'
    page['change-image-link'].hide
    page['cancel-change-image-link'].show
  end %>

  <div id='change-image'> </div>
