<h2> <%=_('Listing products') %> </h2>

<p> <%= link_to _('New product'), :action => 'new' %> </p>

<% @products.each do |product| %>
  <p> <b> <%= link_to product.name, :action => 'show', :id => product %> </b>  
      <%= _('Price: ') %> <%= product.price %> 
      <%= link_to _('edit'), :action => 'edit', :id => product %> 
      <%= link_to _('destroy'), :action => 'destroy', :id => product %> </p>
<% end %>

<%= link_to_myprofile(_('Back'), {}, @profile.identifier)  %>
