<h3> <%= @product.name %> </h3>

<p> <%= image_tag @product.image.public_filename if @product.image %> </p>
<p> <%= _('Price:') %> <%= @product.price %> </p>
<p> <%= _('Description:') %> <%= @product.description %> </p>
<p> <%= _('Category:') %> <%= link_to_category(@product.product_category) %> </p>

<%= link_to _('edit'), :action => 'edit', :id => @product %>
<%= link_to _('destroy'), :action => 'destroy', :id => @product %>
<br/>
<%= link_to _('back'), :action => 'index' %>
