<h3><%= _('ERROR') %></h3>
<p>
  <%= "State when error ocurred: #{@processing.state}" %>
  <br/>
  <% error = @processing.error %>
  <%= error.message %>
<ul>
  <% error.stack_trace.each do |trace| %>
    <li><%= "#{trace.declaring_class}.#{trace.method_name}(#{trace.file_name}:#{trace.line_number})" %></li>
  <% end %>
</ul>
</p>
