<ul>
  <li>
    <%= render "blocks/profile_info_actions/join_leave_community" %>
  </li>
  <% if logged_in? %>
    <%= render :partial => 'blocks/profile_info_actions/common' %>
    <% if profile.enable_contact? %>
      <li>
        <%= link_to(font_awesome(:email, _('Send an e-mail')),
                   { :profile => profile.identifier,
                     :controller => 'contact',
                     :action => 'new' },
                   { :title => _('Send an e-mail to the administrators')}) %>
      </li>
    <% end %>
  <% end %>
</ul>
