<% if logged_in? && (user != profile) && profile.allow_followers? %>
  <li class="profile-circles">
    <% follow = user.follows?(profile) %>
    <% if !user.follows? profile %>
      <%= link_to(font_awesome(:rss, _('Follow')), {:profile => profile.identifier, :controller => 'profile', :action => 'find_profile_circles'}, :id => 'action-follow', :title => _("Follow")) %>
    <% elsif !profile.in_social_circle?(user) %>
      <%= link_to(font_awesome(:undo, _('Unfollow')), {:profile => profile.identifier, :controller => 'profile', :action => 'unfollow'}, :method => :post, :id => 'action-unfollow', :title => _("Unfollow")) %>
    <% end %>
    <div id="circles-container" style="display: none;">
    </div>
  </li>
<% end %>
<li><%= report_abuse(profile, :link) %></li>
<%= render_environment_features(:profile_actions) %>
