<ul>
  <%if logged_in? %>
    <%if !user.favorite_enterprises.include?(profile) %>
      <li><%= button(:add, _('Add as favorite'), { :profile => user.identifier, :controller => 'favorite_enterprises', :action => 'add', :id => profile.id }, :title => _('Add enterprise as favorite')) %></li>
    <% end %>
  <% end %>
  <% if profile.enable_contact? %>
      <li><%= button(:'menu-mail', _('Send an e-mail'), {:profile => profile.identifier, :controller => 'contact', :action => 'new'}, {:id => 'enterprise-contact-button'} ) %></li>
  <% end %>

  <li><%= report_abuse(profile, :button) %></li>
</ul>
