<%= javascript_include_tag '../plugins/work_assignment/show_notification_email' %>
<%= labelled_check_box(_('Send notification'), 'article_email_notification', true) %>

<div id='email_notifications'>


</div>
