<a href="http://www.ynternet.org" id="footer-esq">
  <%= _('A Ynternet.org project') %><br/>
  Communication libre pour une société libre
</a>

<div id="footer-dir">
  <a href="http://zen3.net/zen3/credits-and-partners" id="footer-cred"><span>Credits & Partners</span></a>
  <a href="http://zen3.net" id="footer-zen3-aff"><span>Zen3 Affiliated</span></a>
</div>

<a href="http://www.w3.org/TR/xhtml1" id="footer-w3c"><span>W3C Compliant</span></a>
