<a href="http://ynternet.org" id="footer-esq">
  <%= _('A Ynternet.org project') %><br/>
  Communication libre pour une société libre
</a>
<a href="http://www1.loterie.ch" id="footer-dir">
  <%= _('Sponsored by Loterie Romande') %><br/>
  lottery games in Switzerland
</a>
<%= language_chooser %>

