<div class="item file <%= icon_for_article(@file) %>" data-item="div">
  <div>
    <a class="add-to-text" href="<%= url_for(@file.url) %>" title="<%= @file.title %>"><%= @file.title %></a>
  </div>
</div>
