Name: <%= text_field 'tag', 'name' %> <br>
Parent tag: <%= select_tag 'tag[parent_id]', ['<option value="0"></option>'] + @parent_tags.map {|pt|"<option value=\"#{pt.id}\" #{'selected="selected"' if @tag.parent == pt} >" + pt.name + '</option>'} %> <br>
Pending: <%= check_box 'tag', 'pending' %> <br>
