<%= _('Name') %>: <%= text_field 'tag', 'name' %> <br>
<%= _('Parent tag') %>: <%= select('tag', 'parent_id', @parent_tags.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %> <br>
<%= _('Pending') %>: <%= check_box 'tag', 'pending' %> <br>
