<h2> <%= _('Editing Tag') %> </h2>

<%= start_form_tag :action => 'update', :id => @tag %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Update') %>
  <%= link_to _('Cancel'), {:action => 'list'} %>
<%= end_form_tag %>
