<h2> <%= _('Matching tags') %></h2>

<% if not @tags_found.empty? %>
  <%= @tags_found.size.to_s + (@tags_found.size > 1 ? ' tags' : ' tag') + _(' was found') %> 
  <%= render :partial => 'a_tag', :collection => @tags_found %>
<% else %>
  <%= _('No tags found matching criteria') %>
<% end %>

<%= link_to _('Back'), :action => 'list' %>
