body {
  font-family: Verdana, Sans-Serif;
  font-size: 14px;
}

#wrap {
background: url("../images/bg_content.png") top center repeat-y;
}

#frame {
background: url("../images/bg_bgheader.png") top left repeat-x;
}

#header {
background: url("../images/bg_header.png") top center no-repeat;
height: 135px;
}

#design_boxes {
  position: relative;
  width: 760px;
  left: 50%;
  margin-left: -380px;
  padding: 0em;
}

#design_box_3 {
  width: 200px;
  float: right;
}

#design_box_2 {
  float: left;
  width: 200px;
}

#design_box_1 {
  margin-left: 205px;
  margin-right: 205px;
}

#spinner {
  z-index: 1000;
  position: absolute;
  left: 50%;
  margin-left: -16px;
  top: 200px;
}

#footer_content {
clear: both;
}

#footer {
  clear: both;
  text-align: center;
  font-size: smaller;
  color: #333;
  margin: 0px;
  padding: 5px;
  background: #c5d0df url("../images/bg_footer.png") top left repeat-x;
}


/* Edition Mode */

#design_editor .block_list {
  list-style: none;
  margin: 0px;
  padding: 3px;
}

#design_editor .design_blocks {
  border: 2px dotted green;
}

#design_editor .design_box {
  border: 2px solid transparent;
}

#design_editor .hover {
  border: 2px dotted red;
  background: #ff6;
}

#design_editor_toolbar { 
  padding: 5px;
}

#design_editor_toolbar h3 { 
  font-size: 10px;
  background: #dfdfdf;
  margin: 0px;
  padding: 1px;
  text-align: right;
  color: #545454;
}

#design_editor_toolbar a { 
  font-size: 10px;
  padding: 5px;
  background: #dfdfdf;
  color: black;
}

.design_editor_box_toolbar {
  text-align: center;
  margin: 5px;
  background: #dfdfdf;
}

.design_editor_box_toolbar a {
  display: inline;
  width: 30px;
  font-size: 10px;
  padding: 2px;
  background: #dfdfdf;
}

#design_editor_toolbar a:hover, .design_editor_box_toolbar a:hover {
  background: #545454;
  color: #ffffff;
}

div#notice {
  z-index: 10000;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  border: 1px solid black;
  background: #efefef;
  padding: 0.5em;
}

div#notice .button {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.25em;
}
  
div#notice .button a {
  border: 1px solid gray;
  background: #ddd;
  color: black;
  padding: 4px;
  padding-left: 28px;
  background-image: url(../../../icons/default/cancel.png);
  background-position: top left;
  background-repeat: no-repeat;
}
div#notice .button a:hover {
  background-color: #ffd;
}
