<li>
  <ul class="item-row">
    <li>
      <%= text_field_tag 'block[actions][][group_name]', action[:group_name], :class => 'group-name', :maxlength => 20 %>
    </li>
    <li>
      <%= text_field_tag 'block[actions][][selector]', action[:selector], :class => 'selector' %>
    </li>
    <li>
      <%= text_field_tag 'block[actions][][description]', action[:description], :class => 'description' %>
    </li>
    <li>
      <%= button_without_text(:delete, _('Delete'), "#" , :class=>"delete-tour-block-item") %>
    </li>
  </ul>
</li>
