<div class="row boxes">
  <% if box = boxes[0] %>
    <div id="box-<%=box.id%>" class="col-lg-9 col-md-9 col-sm-8 box-container-1">
      <%= display_box_content box, main_content %>
    </div>
  <% end %>
  <% if box = boxes[1] %>
    <div id="box-<%=box.id%>" class="col-lg-3 col-md-3 col-sm-4 box-container-2">
      <%= display_box_content box, main_content %>
    </div>
  <% end %>
</div>
