<h1><%= _('Enterprise registration completed') %></h1>

<p>
<%= _("Your enterprise registration request was successfully registered. The validator organization you choose (%s) should get in touch with to start the validation process. As soon as the validators approve (or reject) your request, you will be notified by e-mail.") % @create_enterprise.target.name %>
</p>

<p>
<%= link_to _('You can continue to browse this environment.'), :controller => 'home' %>
</p>
