<h1><%= _('Enterprise registration completed') %></h1>

<p>
<%= _("Your enterprise (%s) was successfully registered.") % @enterprise.name %>
</p>

<p>
<%= link_to _('You can manage your enterprise now.'), @enterprise.admin_url %>
</p>
