<%= _('Changing role of %s') % @member.name %>

<% labelled_form_for :member, @member, :url => {:action => 'update_roles'} do |f| %>
  
  <%= _('Roles:') %> <br>
  <% @roles.each do |r| %>
    <%= check_box_tag "roles[]", r.id, @associations.map(&:role).include?(r) %>
      <%= r.name.capitalize %><br/>
  <% end %>
  <%= hidden_field_tag 'person', @member.id %>

  <%= display_submit_tag  _('Save changes') %>
  <%= link_to _('Cancel'), :action => 'index' %>
<% end %>
