<%= _('Changing role of %s') % @member.name %>

<% labelled_form_for :member, @member, :url => {:action => 'update_roles'} do |f| %>
  
  <%= _('Roles:') %> <br>
  <% @roles.each do |r| %>
    <%= check_box_tag "roles[]", r.id, @associations.map(&:role).include?(r) %>
      <%= r.name.capitalize %><br/>
  <% end %>
  <%= hidden_field_tag 'person', @member.id %>

  <% button_bar do %>
    <%= submit_button('save',  _('Save changes'), :cancel => {:action => 'index'}) %>
  <% end %>
<% end %>
