<h1><%= h profile.short_name(50) %></h1>

<%= render :partial => 'index_buttons' %>

<div id="members-list">
  <%= render :partial => 'members_list' %>
</div>

<%= render :partial => 'index_buttons' %>
