<h1><%= _('Last administrator leaving %s') % profile.name %></h1>

<div id='last-admin-message'>
  <%= _('Since you are the last administrator, you must choose at least one member to administer this community.') % profile.name %>
</div>

<%= render :partial => 'manage_roles', :locals => {:from => 'last_admin'} %>

