@import "blocks.css";

#frame {
  background-color: white;
}

a img {
  border: 2px solid transparent;
}
a:hover img {
  border: 2px solid #aa0;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid gray;
}

th {
  background: gray;
}
