/* Default Plain Theme for Blocks */

.design_block
{
	background: #FFFFFF;
	border: 3px solid #000000;
	margin-bottom: 10px;
}

.design_editor ul, .design_box ul {
list-style: none;
margin: 0px;
padding: 0px;
}

.design_block ul
{
	list-style: none;
	margin-left: 15px;
}

.design_block h3
{
	color: #FFFFFF;
	background: #545454;
	font-family: Sans-serif;
	font-size: 13px;
	font-weight: normal;
	border-bottom: 1px solid black;
	height: 27px;
	margin: 0px;
	padding-left: 10px;
	line-height: 27px;
}

#design_editor h3.design_block_header {
 padding-left: 30px;
 cursor: move;
}

a.design_button_block span {
display: none;
padding: 1px;
color: #000;
background: #dfdfdf;
font-family: Sans-serif;
font-size: 10px;
font-weight: normal;
border: 1px inset #545454;
}

a.design_button_block:hover span {
display: block;
position: relative;
margin-top: -20px;
margin-left: -10px;
z-index: 100;
float: left;
}

.design_block a.design_button_block {
  display: block !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: 3px !important;
  margin-right: 5px !important;
  float: right !important;
  opacity: 0.7;
}

.design_block a.button_block_hide {
background: url('icons.png') no-repeat;
background-position: -60px 0px;
}
.design_block a.button_block_remove {
background: red url('icons.png') no-repeat;
background-position: -80px 0px;
}
.design_block a.button_block_options {
background: blue url('icons.png') no-repeat;
background-position: 0px 0px;
}
.design_block a.button_block_item_options {
background: url('icons.png') no-repeat;
background-position: -40px 0px;
}

.design_block a:hover.design_button_block {
  opacity: 1.0;
}

.design_block_content 
{
	padding: 5px;
}

.design_block ul {
  padding-left: 0px;
  margin: 0px;
}

.design_block ul li a:link,
.design_block ul li a:hover {
  display: block;
  color: #000;
}

.button_block_options {
position: absolute;
left: 5px;
}

.button_block_options:hover div#design_block_control_options_11 {
display: block;
border: 3px solid red;
}
