/* MacStyle Theme for Blocks */

.design_block
{
	background: #FFFFFF;
	border: 0px;
}

/* FIXME: esta usando para flutuar */

ul.design_block_control_list
{
        list-style: none;
	margin: 0px;
	padding: 0px;
}

#design_editor h3.design_block_header {
cursor:move;
}

.design_block h3
{
	position: relative;
	background: url('images/h3bg.png') repeat-x;
	font-family: Sans-serif;
	font-size: 15px;
   margin: 0px;
	padding: 0px;
	overflow: hidden;
	color: #545454;
	padding-left: 10px;
	height: 25px;
	vertical-align: top;
}

a.design_button_block span {
display: none;
padding: 1px;
color: #000;
background: #dfdfdf;
font-family: Sans-serif;
font-size: 10px;
font-weight: normal;
border: 1px inset #545454;
}

a.design_button_block:hover span {
display: block;
position: absolute;
margin-top: -20px;
z-index: 100;
float: left;
}

.design_block a.design_button_block {
  display: block !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: 5px !important;
  margin-right: 5px !important;
  float: right !important;
}

.design_block a.button_block_hide {
background:url('images/button.png') no-repeat;
background-position: 0px 0px;
}

.design_block a:hover.button_block_hide {
background: url('images/button.png') no-repeat;
background-position: 0px -20px;
}

.design_block a.button_block_remove,
.design_block a.button_block_item_options,
.design_block a.button_block_options {
background: url('images/button.png') no-repeat;
background-position:-20px 0;
}

.design_block a:hover.button_block_remove,
.design_block a.hover.button_block_item_options,
.design_block a.hover.button_block_options {
background: url('images/button.png') no-repeat;
background-position:-20px -20px;
}

.design_block_content 
{
      margin: 0;
      padding: 5px 10px 9px 10px;
      background: url(images/bottom.png) repeat-x 0 100%;
      overflow: hidden;
}

