<% extend VideoPlugin::VideoGalleryHelper %>

<% unless video_gallery.body.blank? %>
  <div>
    <%= video_gallery.body %>
  </div>
  <hr/>
<% end %>

<% if video_gallery.children.empty? %>
  <em><%= _('(empty video gallery)') %></em>
<% else %>
  <%= list_videos(:contents=>video_gallery.children) %>
<% end %>
