/* Default Plain Theme for Blocks */

div.block
{
	background: #FFFFFF;
	border: 3px solid #000000;
	margin-bottom: 10px;
}

div.block ul
{
	margin-left: 15px;
}

div.block h3
{
	color: #FFFFFF;
	background: #545454;
	font-family: Sans-serif;
	font-size: 13px;
	font-weight: normal;
	border-bottom: 1px solid black;
	height: 27px;
	margin: 0px;
	line-height: 27px;
	padding-left: 10px;
}

div.block span {
display: none;
}

div.block a:hover span {
display: inline;
position: absolute;
color: #dfdfdf;
background: #000000;
font-family: Sans-serif;
font-size: 13px;
font-weight: normal;
margin: 10px;
padding-left: 5px;
padding-right: 5px;
}

div.block a {
display: block;
width: 10px;
height: 10px;
margin-top: 10px;
margin-right: 5px;
float: right;
}

div.block a.button_block_hide {
border-bottom: 2px solid #dfdfdf;
}

div.block a:hover.button_block_hide {
border-bottom: 2px solid #000000;
}

div.block a.button_block_remove {
background: #dfdfdf;
}

div.block a:hover.button_block_remove {
background: #000000;
}

div.block_content 
{
	padding: 5px;
}


