div.listblock div.block_content ul {
margin: 0px;
padding: 0px;
}

div.listblock div.block_content li {
display: block;
float: left;
height: 95px;
width: 80px;
border: 1px solid #dfdfdf;
background: #ffffff url("../images/foto.png") no-repeat;
margin: 2px;
overflow: hidden;
font-size: 10px;
color: #545454;
font-weight: bold;
}

div.listblock div.block_content li span {
display: none;
}

div.listblock div.block_content li:hover span {
display: block;
line-height: 95px;
text-align: center;
background: #ffffff;
vertical-align: middle;
}

div.listblock div.block_footer {
clear: both;
}
