
.formfieldline {
  padding: 3px 0px;
}

.formlabel {
  font-size: 12px;
  color: #444;
  display: block;
  padding: 2px 5px;
}

.formfield.text_field input,
.formfield.password_field input,
.formfield textarea {
/*  background: transparent url("../images/input-bg.gif") top left no-repeat; */
  border: 1px solid #999;
/*  border-top: none;
  border-left: none; */
  color: #585858;
}
.formfield input {
  text-indent: 5px;
}
.formfield textarea {
  padding: 2px 0px 0px 5px;
}

.submitline {
  text-align: center;
}

.submit {
  border: 1px solid #777;
  cursor: pointer;
  color: #505050;
  background: #BBB url("../images/bt-bg.png") top left repeat-x;
  padding: 0px 30px;
}

