
.formfieldline {
  padding: 3px 0px;
}

.formlabel {
  font-size: 12px;
  color: #444;
  display: block;
  padding: 2px 5px;
}

.formfield input,
.formfield textarea {
  background: transparent url("../images/input-bg.gif") top left no-repeat;
  border: 1px solid #999;
  border-top: none;
  border-left: none;
  padding: 3px 0px 1px 0px;
  text-indent: 5px;
  color: #585858;
  width: 99%;
}

.submitline {
  text-align: center;
}

.submit {
  border: 1px solid #777;
  color: #585858;
  background: #EEE;
  padding: 0px 30px;
}

