
#login-box {
  border: 2px solid #888;
  padding: 3px 10% 8px 10%;
  font-size: 10px;
}

#login-box .formfieldline input {
  width: 99%;
}

#login-box form {
  margin: 0px;
  padding: 0px;
}

#login-box h2 {
  color: #888;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#login-box p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#login-box #forgot-passwd {
  padding-bottom: 6px;
}

#want-to-be-an-user {
  font-size: 13px;
}
