.box-1 {
  margin: 0 200px 0 200px;
}

.box-1 .blocks {
  width: 100%;
  float: left;
}

.box-2 {
  position: relative;
  float: left;
  width: 190px;
}

.box-3 {
  position: relative;
  float: right;
  width: 190px;
}

#profile-activity ul,
#profile-network ul,
#profile-wall ul {
  width: 460px;
}
