* {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
  font-size: 12px;
  margin: 0px;
}

#header {
  border-bottom: 1px solid black;
  padding: 0.5em;
}

#menu {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}

#content {
  padding: 1em;
}

#footer {
  text-align: center;
  border-top: 1px solid black;
}

#notice, #errorExplanation {
  border: 1px solid black;
  margin-top: 1em;
  margin-left: 30%;
  margin-right: 30%;
  padding: 0.5em;
}

