
#boxes {
  /* none */
}

.box-1 {
  margin: 0px 210px 0px 210px;
}
.box-1 .blocks {
  width: 100%;
  float: left;
}

.box-2 {
  float: left;
  width: 200px;
}

.box-3 {
  float: right;
  width: 200px;
}

.block {
  position: relative;
  padding: 10px 0px;
  float: none;
}

