/* Profile Info */
table.profile_info {
margin: 5px;
}

table.profile_info th {
text-align: right;
background-color: #dfdfdf;
}

table.profile_info td {
text-align: left;
border-bottom: 2px solid #dfdfdf;
padding-left: 3px;
}

table.profile_info td:hover {
background-color: #dfdfdf;
}
