<div class='status-identifier'>
  <p><span class='<%= @status_class %>'><%= @status %></span></p>
  <script type="text/javascript">
    jQuery('#user_email').removeClass('<%= validation_classes %>');
    jQuery('#user_email').addClass('<%= @status_class %>');
  </script>
</div>
