<h2><%= _('Enterprise activation') + ' - ' + (logged_in? ? _('part 2 of 2') : _(' part 2 of 3')) %></h2>

<div id='terms-of-enterprise-use'><%= @terms_of_enterprise_use %></div>

<% button_bar do %>
  <%= link_to( _('I accept the terms'), { :action => 'activate_enterprise', :terms_accepted => true, :enterprise_code => params[:enterprise_code], :answer => params[:answer] } ) %>
  <%= link_to( _('I do NOT accept the terms'), { :controller => 'home', :action => 'index' } ) %>
<% end %>
