<h1><%= _('What user should be the admin of the enterprise page') %></h1>

<%= error_messages_for :user %>

<div id="enterprise-activation-create-user-or-login-button">
  <%= link_to_function _('Already have user') %>
  <%= link_to_function _('Create new user') %>
</div>

<div id="enterprise-activation-create-user-form">
  <%= render :partial => 'signup_form' %>
</div>

<div id="enterprise-activation-login-form">
  <%= render :partial => 'login_form' %>
</div>
