<h1><%= _('What user should be the admin of the enterprise page') %></h1>

<%= error_messages_for :user %>

<div id="enterprise-activation-create-user-or-login-button">
  <%= link_to_function _('Already have user'), "$('enterprise-activation-create-user-form').hide(); $('enterprise-activation-login-form').show()" %>
  <%= link_to_function _('Create new user'), "$('enterprise-activation-login-form').hide(); $('enterprise-activation-create-user-form').show()" %>
</div>

<div id="enterprise-activation-create-user-form" style="display: none">
  <%= render :partial => 'signup_form' %>
</div>

<div id="enterprise-activation-login-form" style="display: none">
  <h1> <%= _('Login') %></h1>
  <%= render :partial => 'login_form' %>
</div>
