<%# FIXME: use environment blocked text %>
<% if @environment.activation_blocked_text.nil? %>
  <%= _('Your enterprise has been blocked') %>
<% else %>
  <%= @environment.activation_blocked_text %>
<% end %>
