<p>
<strong><%= link_to _('Login.'), :action => 'login' %></strong>
<%= _('You need to login to be able to use all the features in this virtual community.') %>
</p>

<p>
<%= link_to _('Sign up.'), :action => 'signup' %>
<%= _('Register as a user to become a member of this virtual community.') %>
</p>
