<h2><%= _('Identify yourself') %></h2>

<p>
<%= link_to _('Login.'), :action => 'login' %>
<%= _('You need to login to be able to use all the features in this virtual community.') %>
</p>

<p>
<%= link_to _('Sign up.'), :action => 'signup' %>
<%= _('If you are not an user already, you can register now to become a member of this virtual community.') %>
</p>
