<h2><%= _('Are you sure you want to get out?') %></h2>
<p>
<% button_bar do %>
  <%= button :ok, _('Yes'), { :controller => 'account', :action => 'logout' } %>
  <%= modal_close_button _('No, I want to stay.') %>
<% end %>
</p>
