<h1><%= _('Password changed sucessfully') %></h1>

<p>
<%= _('%s, your new password was successfully installed.') % @change_password.requestor.identifier %>
</p>

<p>
<%= _("You can <a href='%s'>login</a> now.") % url_for(:action => 'login') %>
</p>
