<h1><%= _('Enter new password') %></h1>

<%= error_messages_for :change_password %>

<% form_for(:change_password) do |f| %>

  <%= labelled_form_field(_('Enter new password'), (f.password_field :password)) %>
  <%= labelled_form_field(_('Confirm the new password'), (f.password_field :password_confirmation)) %>
  <%= submit_tag _('Change password') %>

<% end %>
