<h1><%= _('Register') %></h1>

<%= error_messages_for :user %>
<% labelled_form_for :user, @user do |f| -%>
  
<%= f.text_field :login %>
<%= f.text_field :email %>
<%= f.password_field :password %>
<%= f.password_field :password_confirmation %>

<% if @terms_of_use %>
  <p>
    <%= @terms_of_use %>
  </p>
  <p>
    <%= check_box 'user', 'terms_accepted' %> 
    <%= _('I accept the terms of use') %>
  </p>
<% end %>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
