<h1><%= _('Signup') %></h1>
<% if @register_pending %>
  <%= _('Thanks for signing up! Now check your e-mail to activate your account!') %>
  <p style="text-align: center"><%= link_to(_('Go to the homepage'), '/') %></p>
<% else %>
  <%= render :partial => 'signup_form' %>
<% end %>
