<%= lightbox_close_button _('Close') %>

<iframe id='wizard-iframe' width='590px' height='410px' border='0' src="<%= url_for(:controller => 'account', :action => 'signup', :wizard => true) %>" >
  <p><%= _('Your browser does not support iframes.') %></p>
</iframe>
