<%= lightbox_close_button _('Close') %>

<iframe id='wizard-iframe' width=100% height='420px' src="<%= url_for(:controller => 'account', :action => 'signup', :wizard => true) %>" >
  <p><%= _('Your browser does not support iframes.') %></p>
</iframe>
