<ul>
  <li><%= link_to(n_( 'One article published', '%s articles published', owner.articles.count) %
  content_tag('b', owner.articles.count), owner.public_profile_url.merge(:action => 'sitemap') ) %></li>
  <% members = owner.members.size %>
  <li><%= link_to(n_( 'One member', '%s members', members) %
  content_tag('b', members), owner.public_profile_url.merge(:action => 'members') ) %></li>
  <li><%= link_to(n_('One tag', '%s tags', owner.article_tags.size) %
  content_tag('b', owner.article_tags.size), owner.public_profile_url.merge(:action => 'tags')) %></li>
</ul>
