<%= error_messages_for 'category' %>

<% labelled_form_for 'category' do |f| %>
  <% if @category.new_record? %>
    <% if @category.parent %>
      <%= hidden_field_tag('parent_id', @category.parent.id) %>
    <% end %>
    <%= select_category_type :type %>
  <% end %>

  <%= select_color_for_category %>

  <%= f.text_field 'name' %>
  <%= submit_tag _('Save') %>
  <%= link_to _('Cancel'), :action => 'index' %>
<% end %>
