<%
actor_name ||= :consumer
other_actor_name = if actor_name == :supplier then :consumer else :supplier end
%>
<div id="order-<%=order.id%>" class="order-view">
  <% @simple = true %>
  <div class="order-data">
    <%= render "orders_plugin_item/index", order: order, actor_name: actor_name %>
    <%= render 'orders_plugin_order/delivery', order: order, actor_name: actor_name, edition: false %>
  </div>
</div>
