<h2><%= _('Enable/Disable features') %></h2>

<%= render :partial => 'features_table' %>

<%= help_textile _('Here you can enable or disable several features of your environment. Each feature represents some funcionality that your environment can use if you enable it.

Check all the features you want to enable for your environment, uncheck all the ones you don\'t want, and use the *"Save changes" button* to confirm your changes.'), _('Help'), :class => 'with-text' %>
