<h2><%= _('Enable/Disable features') %></h2>

<%= render :partial => 'features_table' %>

<%= help_textile _('Here you can enable or disable several features of your virtual community. Each feature represents some funcionality that your virtual community can use you enable it.') %>
