<%= render :partial => 'manage_person_fields' %>

<% if environment.enabled?('disable_asset_enterprises') %>
  <%= render :partial => 'manage_enterprise_fields' %>
<% end %>

<%= render :partial => 'manage_community_fields' %>
