<h1><%= _('Manage fields displayed for profiles') %></h1>

<%= javascript_include_tag "manage-fields.js" %>

<% tabs = [] %>
<% tabs << {:title => _("Person's fields"), :id => 'person-fields',
  :content => (render :partial => 'manage_person_fields')} %>
<% tabs << {:title => _("Community's fields"), :id => 'community-fields',
  :content => (render :partial => 'manage_community_fields')} %>
<% unless environment.enabled?('disable_asset_enterprises') %>
  <% tabs << {:title => _("Enterprise's fields"), :id => 'enterprise-fields',
  :content => (render :partial => 'manage_enterprise_fields')} %>
<% end %>

<%= render_tabs(tabs) %>
