<h3><%= _("%s's network activity") % @profile.name %></h3>
<ul id='network-activities' class='profile-activities'>
  <%= render :partial => 'profile_network_activities', :locals => {:activities => @network_activities} %>
</ul>
