<% activities.each do |activity| %>
  <%= render :partial => 'profile_activity', :locals => { :activity => activity, :tab_action => 'network' } if activity.visible? %>
<% end %>
<% if activities.current_page < activities.total_pages %>
  <div id='profile_network_activities_page_<%= activities.current_page %>' class="profile-activities-more-pages">
    <%= link_to_remote font_awesome(:down_arrow, _('View more')), url: { action: 'view_more_activities', page: (activities.current_page + 1), offsets: @offsets, kind: 'network'}, update: "profile_network_activities_page_#{activities.current_page}", html: { class: "view-more-activities" }  %>
  </div>
<% end %>
