<h3><%= _("Your network activity") %></h3>
<ul id='network-activities' class='profile-activities'>
  <%= render :partial => 'profile_network_activities', :locals => {:activities => @network_activities} %>
</ul>
