<li class='profile-activity-item <%= activity.verb %>' id='profile-activity-item-<%= activity.id %>'>
  <%= render :partial => activity.verb, :locals => { :activity => activity, :tab_action => tab_action }%>
  <hr />
</li>
