<div class="common-profile-list-block">

<h1><%= _("%s's enterprises") % profile.name %></h1>

<ul class='profile-list'>
<% @enterprises.each do |enterprise| %>
  <%= profile_image_link(enterprise)%>
<% end %>
</ul>

<% button_bar do %>
  <%= button :back, _('Go back'), { :controller => 'profile' } %>
  <%= button :add, _('Register a new enterprise'), :controller => 'enterprise_registration' if logged_in? && environment.enabled?('enterprise_registration') %>
<% end %>

</div><!-- fim class="common-profile-list-block" -->

