<div class="common-profile-list-block">

<h1><%= __("%s's favorite enterprises") % profile.name %></h1>

<ul class='profile-list'>
<% @favorite_enterprises.each do |enterprise| %>
  <li><%= profile_image_link(enterprise)%></li>
<% end %>
</ul>

<% button_bar do %>
  <%= button :back, _('Go back'), { :controller => 'profile' }%>
<% end %>

</div><!-- fim class="common-profile-list-block" -->

