<h1><%= _("%s' friends") % profile.name %></h1>

<ul class='profile-list'>
  <% @friends.each do |friend| %>
    <li><%= profile_image_link(friend) %></li>
  <% end%>
</ul>

<% button_bar do %>
  <%= button(:back, _('Go back'), :controller => 'profile') %>
<% end %>
