<%= render :partial => 'shared/disabled_enterprise' %>

<h1><%= h profile.name %></h1>

<% if @action %>
  <%= render :partial => 'private_profile' %>
<% else %>
  <% unless profile.description.blank? %>
    <div class='public-profile-description'>
      <%= profile.description %>
    </div>
  <% end %>
  <div id='public-profile-search'>
    <%= render :partial => 'shared/profile_search_form' %>
  </div>
<% end %>

<table class='profile'>
  <%= render :partial => 'profile' %>
</table>
