<%= link_to('<i class="icon-chat"></i><span class="unread-messages"></span>&nbsp;<strong>' + _('Open chat') +'</strong>', '', :id => 'openchat', :onclick => 'open_chat_window(this); return false;') %>
