<h2><%= _('Select your fields of interest') %></h2>
<%= text_field_tag('profile_data[interest_list]', context.profile.interest_list.join(','), size: 64) %>
<br />
<%= content_tag( 'small', _('Separate tags with commas') ) %>

<script>
  jQuery('#profile_data_interest_list').inputosaurus();
</script>
