<a href="http://fbes.org.br" id="footer-esq">
  <%= _('A FBES project') %><br/>
  F&oacute;rum Brasileiro de Economia Solid&aacute;ria
</a>
<a href="http://colivre.coop.br" id="footer-dir">
  <%= _('Developed by Colivre') %><br/>
  Cooperativa de Tecnologias Livres
</a>
<%= language_chooser %>
<p/>
<%= footer %>
