<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
    <%= javascript_include_tag 'scriptaculous' %>
    <%= javascript_include_tag 'dragdrop' %>
    <%= javascript_include_tag 'effects' %>
    <%= javascript_include_tag 'noosfero_tiny_mce.js' %>
    <script language="javascript" type="text/javascript">
    tinyMCE.init({
            mode : "textareas",
            theme : "advanced",
            theme_advanced_toolbar_location : "top",
            theme_advanced_layout_manager: 'SimpleLayout',
            theme_advanced_buttons1 : "bold,italic,underline,strikethrough,separator,undo,redo,separator,formatselect,separator,bullist,numlist,separator,justifyleft,justifycenter,justifyright,justifyfull,separator,link,unlink,image,table,separator,cleanup,code,separator,help",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            apply_source_formatting : true,
            language: <%= language.inspect %>,
    });

    function focusOnFirstField() {
      var form = document.forms[0];
      if (form.id == 'search_box_form') {
        form = document.forms[1];
      }
      if (form != null && form.elements[0] != null) {
        form.elements[0].focus();
      }
    }
  
    </script>

    <%= design_all_header_tags %>
    <%= javascript_include_tag 'cms' %>
    <% if params[:controller] == 'cms' %>
      <%= stylesheet_link_tag 'cms' %>
    <% end %>
    <%= stylesheet_link_tag 'common' %>

    <%= stylesheet_link_tag 'menu' %>
    <%= stylesheet_link_tag 'help' %>

    <%= javascript_include_tag 'menu' %>

  </head>

  <body onload='javascript: focusOnFirstField();'>

    <% unless flash[:notice].nil? %>
      <div id='notice'>
        <%= flash[:notice] %>
        <%= javascript_tag(visual_effect(:fade, "notice", :duration => 2.0)) %>
      </div>
    <% end %>

    <%= image_tag 'loading.gif', :id => 'spinner', :style => "display:none; float:right;", :alt => _('Image for Loading...') %>

    <div id="wrap" class='category<%= category_color %>'>
      <div id='noosfero_bar' class='category<%= category_color %>'>
        <div id='accessibility_menu'>
          <a href='#'>Acessibilidade</a>
          <a href='#'>Central de Buscas</a>
          <a href='#'>Ir para conteúdo</a>
        </div><!-- accessibility_menu -->

        <div id='navigation_bar'>
          <%= render :file => 'shared/categories_menu' %>
        </div><!-- id='navigation_bar' -->

        <script type="text/javascript">
          prepareMenu('navigation_bar', { timeout: 50 });
        </script>

        <div id='search_box'>
          <form id='search_box_form' action="" method="GET">
            <input type='text' name='q' value='<%= _('Your search here ...')%>'>
            <input type='submit' value='Buscar'>
          </form>
        </div><!-- id='search_box' -->

        <div id="header">
          <%= header %>
        </div>

        <% if @category %>
          <div id='category'>
            <%= @category.full_name %>
          </div>
        <% end %>

      </div><!-- id="noosfero_bar" -->


      <div id='content'>
        <!-- <a name='main_content'/></a> -->
        <!-- Aqui entra um conteudo tipo o titulo da pagina do usuário e os botoes do comatose? -->
        <!--
        <div id='header_content'>
        </div>
        -->
        <% if params[:controller] == 'cms' %>
          <div id='boxes'>
            <%= yield %>
          </div>
        <% else %>
          <%= design_display(yield) %>
        <% end %>
      </div><!-- id="content" -->

      <div id="footer">
        <!-- <a name='footer'/></a> -->
        <%= footer %>
      </div><!-- id="footer" -->

    </div><!-- id="wrap" -->

  </body>
</html>
