<html>
  <head>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'common' %>
    <%= design_all_header_tags %>
    <%= javascript_include_tag 'comatose_admin' %>
    <% if params[:controller] == 'comatose_admin' %>
      <%= stylesheet_link_tag 'comatose_admin' %>
    <% end %>

  </head>

  <body>
    <%= image_tag 'loading.gif', :id => 'spinner', :style => "display:none; float:right;" %>
    <div id="wrap">
      <div id="frame">
        <div id="menu">
          <%= _('Skip to:') %>
          <a href="#main_content"><%= _('Content') %></a> | 
          <a href="#sidebar"><%= _('Navigation') %></a> | 
          <a href="#footer"><%= _('Footer') %></a>
        </div>

        <div id="header">
          <%= header %>
        </div>

        <% unless flash[:notice].nil? %>
          <div id='notice'>
            <%= flash[:notice] %>
          </div>
        <% end %>

        <div id='content'>
	  <!-- <a name='main_content'/></a> -->
          <div id='header_content'>
            <!-- Aqui entra um conteudo tipo o titulo da pagina do usuário e os botoes do comatose? -->
          </div>
          <% if params[:controller] == 'comatose_admin' %>
            <div id='boxes'>
              <%= yield %>
            </div>
          <% else %>
            <%= design_display(yield) %>
          <% end %>
        </div>

        <div id="footer">
          <!-- <a name='footer'/></a> -->
          <%= footer %>
          <%= design_display_icon('back', _('Back') , :action => 'list')%>
        </div>
      </div>
    </div>

  </body>

</html>
