<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= html_language %>" lang="<%= html_language %>">
  <head>
    <title>Noosfero embed block</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= noosfero_stylesheets %>
    <%= noosfero_javascript %>
  </head>

  <body id="embed-body">
    <div id="embed-content">
      <%= yield %>
    </div>

    <script type="text/javascript">
      jQuery(document).ready(function(){
        jQuery('a').attr('target','_blank');
      });
    </script>

  </body>

</html>
