<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> 
      <%= _('Page not found') %>
    </title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
