<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= html_language %>" lang="<%= html_language %>">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag '/designs/icons/default/style.css' %>
    <%= javascript_include_tag 'jquery-latest.js' %>
    <script type="text/javascript">
      jQuery.noConflict();

    </script>

    <%=
      # Load the principal css files:
      stylesheet_import( %w( common button search forms profiles)
                         ) + "\n" +
      stylesheet_import( %w( common button search forms profiles wizard),
      :themed_source => true ) + "\n" +
      # Load the boxes's css file if each exists:
      import_blocks_stylesheets +
      stylesheet_import( "controller_"+ @controller.controller_name() ) + "\n" +
      stylesheet_import( "controller_"+ @controller.controller_name(), :themed_source => true )
    %>
  </head>
  <body class='noosfero' id='wizard'>
    <div id="wizard-content">
      <%= yield %>
    </div><!-- id="wizard-content" -->
  </body>
</html>
